<h1 mat-dialog-title>{{ (this.group.Name ? "text.adminPanel.modal.addGroup.title.edit" : "text.adminPanel.modal.addGroup.title.add") | translate }}</h1>
<form [formGroup]="this.form" (ngSubmit)="submit()">
    <mat-dialog-content>
        <h2 *ngIf="this.group.Name"> {{ "group" | translate }} {{ this.group.Name }}</h2>
        <div>
            <mat-form-field>
                <input matInput formControlName="Name" (blur)="this.trimFields()"  placeholder="{{ 'text.adminPanel.modal.addGroup.name' | translate }}" maxlength="10">
                <mat-error *ngIf="hasError('Name', 'required')">{{ "text.adminPanel.modal.addGroup.error.nameRequired" | translate }}</mat-error>
                <mat-error *ngIf="hasError('Name', 'pattern')">{{ "text.adminPanel.modal.addGroup.error.namePattern" | translate }}: {{this.groupNameSymbols}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ "text.adminPanel.modal.addGroup.startYear" | translate }}</mat-label>
                <mat-select formControlName="StartYear">
                    <mat-optgroup [label]="this.form.controls.StartYear.value">
                        <mat-option *ngFor="let group of this.yearOfIssue()"  [value]="group">
                            <p>{{group}}</p>
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ "text.adminPanel.modal.addGroup.graduationYear" | translate }}</mat-label>
                <mat-select formControlName="GraduationYear">
                    <mat-optgroup [label]="this.form.controls.GraduationYear.value">
                        <mat-option *ngFor="let group of this.yearOfGraduation()"  [value]="group">
                            {{group}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button class="cancel" (click)="onNoClick()">{{ "button.cancel" | translate }}</button>
        <button mat-raised-button [disabled]='this.form.invalid' (click)="onYesClick()">{{( this.group.Name ? "button.edit" : "button.save" ) | translate }}</button>
    </mat-dialog-actions>
</form>
