.practical-component {

  &__body {
    margin: 20px;
  }

  &__select-group {
    display: flex;
    align-items: center;
  }

  .mdc-tab-bar {
    display: flex;
  }

  .example-margin {
    margin-left: 10px;
  }
}
