<div class="practical-component content">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab *ngFor="let tab of tabs; let idx = index" [tabindex]="idx"  [label]="tab | appFirstCapital">
      <ng-template matTabContent>
        <div class="practical-component__body">
          <div class="practical-component__select-group" *ngIf="idx === 1 || idx === 2">
            <mat-form-field>
              <mat-select [value]="groups ? groups[0].groupId : ''">
                <mat-option *ngFor="let group of groups"
                            (onSelectionChange)="_selectedGroup($event)"
                            [value]="group.groupId"
                >
                  {{group.groupName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-slide-toggle class="example-margin"
                              [color]="'primary'"
                              [checked]="detachedGroup"
                              (change)="groupStatusChange($event)"
            >
              Открепленные группы
            </mat-slide-toggle>
          </div>
          <app-practical-lessons *ngIf="idx === 0" [teacher]="teacher"></app-practical-lessons>
          <!--    <app-protection-schedule *ngIf="tab === 2 && selectedGroup" [teacher]="teacher"></app-protection-schedule>-->
          <app-visit-statistic *ngIf="idx === 1 && selectedGroup" [teacher]="teacher"></app-visit-statistic>
          <!--    <app-results *ngIf="tab === 4 && selectedGroup" [teacher]="teacher"></app-results>-->
          <!--    <app-job-protection *ngIf="tab === 5" [teacher]="teacher"></app-job-protection>-->
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
<!--  <div class="mdc-tab-bar" role="tablist">-->
<!--    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"-->
<!--            [class.mdc-tab&#45;&#45;active]="tab === 1"-->
<!--            (click)="tab = 1"-->
<!--    >-->
<!--      <span class="mdc-tab__content">-->
<!--        <span class="mdc-tab__text-label"></span>-->
<!--      </span>-->
<!--      <span class="mdc-tab-indicator" [class.mdc-tab-indicator&#45;&#45;active]="tab === 1">-->
<!--        <span class="mdc-tab-indicator__content mdc-tab-indicator__content&#45;&#45;underline"></span>-->
<!--      </span>-->
<!--      <span class="mdc-tab__ripple"></span>-->
<!--    </button>-->
<!--    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"-->
<!--            [class.mdc-tab&#45;&#45;active]="tab === 2"-->
<!--            (click)="tab = 2"-->
<!--    >-->
<!--          <span class="mdc-tab__content">-->
<!--            <span class="mdc-tab__text-label"></span>-->
<!--          </span>-->
<!--      <span class="mdc-tab-indicator" [class.mdc-tab-indicator&#45;&#45;active]="tab === 2">-->
<!--            <span class="mdc-tab-indicator__content mdc-tab-indicator__content&#45;&#45;underline"></span>-->
<!--          </span>-->
<!--      <span class="mdc-tab__ripple"></span>-->
<!--    </button>-->
<!--    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"-->
<!--            [class.mdc-tab&#45;&#45;active]="tab === 3"-->
<!--            (click)="tab = 3"-->
<!--    >-->
<!--          <span class="mdc-tab__content">-->
<!--            <span class="mdc-tab__text-label"></span>-->
<!--          </span>-->
<!--      <span class="mdc-tab-indicator" [class.mdc-tab-indicator&#45;&#45;active]="tab === 3">-->
<!--            <span class="mdc-tab-indicator__content mdc-tab-indicator__content&#45;&#45;underline"></span>-->
<!--          </span>-->
<!--      <span class="mdc-tab__ripple"></span>-->
<!--    </button>-->
<!--  </div>-->


</div>
