.basic-container {
  display: flex;
  align-items: center;
}

.example-form {
  height: 300px;
}

#popoverContent {
  height: 300px;
}

.question-wrapper {
  display: flex;
  margin-left: auto;
  margin-left: 10px;
}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0 15px;
}

.basic-container-text {
  margin-top: 10px;
  font: 400 16px/32px Roboto, 'Helvetica Neue', sans-serif;
}

.mat-dialog-title {
  font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif;
}

.head-container {
  display: flex;
  justify-content: space-between;
}

.rad-button {
  margin-bottom: 20px;
  margin-top: 10px;
}


.drop_button {
  background-color: white;
  color: black;
}

.mat-dialog-actions {
  margin-top: 150px;
  display: flex;
  justify-content: flex-end;
}
