<ng-container *var="files$ | async as files">
  <div
    mat-dialog-content
    class="complex-grid-component__popover"
    #popoverContent
  >
    <div class="head-container">
      <h1 mat-dialog-title>{{ popupTitle }}</h1>
      <button class="close" (click)="onClose(files, false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form class="example-form" #formElement>
      <div class="basic-container" *ngIf="navItems?.length">
        <div class="basic-container-text" *ngIf="selectedConcept">
          {{ selectedConcept }}
        </div>
        <span *ngFor="let item of navItems">
          <!-- Handle branch node buttons here -->
          <span *ngIf="item.children && item.children.length > 0">
            <button
              mat-raised-button
              color="primary"
              [matMenuTriggerFor]="menu.childMenu"
              (click)="selectConcept(item.Id)"
            >
              {{ item.Name }}
              <mat-icon>expand_more</mat-icon>
            </button>
          </span>
          <app-menu-item
            #menu
            [items]="item.children"
            (onSelectConcept)="selectConcept($event)"
          ></app-menu-item>
        </span>
      </div>
      <div class="rad-button">
        <mat-radio-group [disabled]="editMode">
          <mat-radio-button
            value="1"
            [checked]="isFolder"
            style="padding-right: 20px"
            (click)="switchFormTo(1)"
          >{{ 'common.folder' | translate: 'Папка' }}
          </mat-radio-button
          >
          <mat-radio-button
            value="2"
            [checked]="isFile"
            (click)="switchFormTo(2)"
          >{{ 'common.file' | translate: 'Файл' }}
          </mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-form-field *ngIf="isFolder">
        <mat-label>{{
            'common.inputFolderName' | translate: 'Введите имя папки'
          }}
        </mat-label>
        <input
          name="foderName"
          maxlength="100"
          placeholder="{{ 'common.folderName' | translate: 'Имя папки' }}"
          [(ngModel)]="data.name"
          matInput
        />
      </mat-form-field>
      <div *ngIf="isFile">
        <mat-form-field>
          <mat-label>{{
              'common.inputFileName' | translate: 'Введите имя файла'
            }}
          </mat-label>
          <input
            name="fileName"
            maxlength="100"
            placeholder="{{ 'common.fileName' | translate: 'Имя файла' }}"
            [(ngModel)]="data.name"
            matInput
          />
        </mat-form-field>
        <app-file-uploader
          header="{{
            'common.pinnedDoc' | translate: 'Прикрепленный документ'
          }}"
          (delete)="deleteFile($event)"
          [files]="files"
          [disabled]="files.length > 0"
          (upload)="uploadFile($event)"
        ></app-file-uploader>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClose(files, false)">
      {{ 'common.cancel' | translate: 'Отмена' }}
    </button>
    <button
      mat-raised-button
      (click)="onClose(files, true)"
      color="primary"
      [disabled]="!formElement.checkValidity()"
    >
      {{ 'common.save' | translate: 'Сохранить' }}
    </button>
  </div>
</ng-container>
<!--[(ngModel)]="data.subjectName"-->
