.basic-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.example-form {
  height: 450px;
}

#popoverContent {
  height: 300px;
}

.mat-dialog-title {
  font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif;

}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 0 15px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.head-container {
  display: flex;
  justify-content: space-between;
}

.rad-button {
  margin-bottom: 20px;
  margin-top: 10px;
}

.mat-dialog-content {
  max-height: none;
}
