<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.Children && child.Children.length > 0">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
        <mat-icon>{{child.iconName}}</mat-icon>
        <span>{{child.Name}}</span>
      </button>
      <app-menu-item #menu [items]="child.Children" (onSelectConcept)="selectConcept($event)"></app-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.Children || child.Children.length === 0">
      <button mat-menu-item [routerLink]="child.route" (click)="selectConcept(child.Id)">
        <mat-icon>{{child.iconName}}</mat-icon>
        <span>{{child.Name}}</span>
      </button>
    </span>
  </span>
</mat-menu>
