.toast {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 0 10px;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 15px 10px; 
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    color: #fff;
    &-success {
      background-color: #3F51B5;
    }

    &-warning {
      background-color: #FF5252;
    }
}

// :host .cdk-global-overlay-wrapper {
//   display: block;
//   position: initial;
//   z-index: 1000;
//   overflow: auto;
//   pointer-events: none;
// }