:host {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    min-width: 100%;
    position: absolute;    
}

button{
    margin-right: 10px;
}

.mat-card {
    margin-top: 200px;
}

.mat-select {
    margin-top: 30px;
    font-size: 15px;
}

.mat-hint,
.mat-error {
    font-size: 15px;
}

.mat-form-field {
    width: 100%;
    min-width: 450px;
    display: block;
    position: relative;
    margin-bottom: 35px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.mat-icon {
    display: flex;
    justify-content: center;
    position: relative;
    color: cornflowerblue;
    margin: 10px auto 50px auto;
    font-size: 70px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}

