@margin-for-table: 20px;

.lectures-list-component {
  .mdc-data-table {
    width: calc(100% - 2*@margin-for-table);

    &__header-cell {
      font-weight: 600;
    }
  }

  .mdc-dialog {
    &__actions{
      border-color: rgba(0,0,0,.12);
    }
  }
}
