<div class="lectures-list-component" *ngIf="lectures; else: load">
  <div class="lectures-list-component__actions" *ngIf="isTeacher">
    <button mat-raised-button color="primary" (click)="constructorLecture(lectures.length)">{{'text.subjects.lectures.add' | translate:'Добавить лекцию'}}</button>
  </div>
  <table #table class="table" mat-table [dataSource]="lectures" cdkDropList
  [cdkDropListData]="lectures"
  (cdkDropListDropped)="drop($event)">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> № </th>
    <td mat-cell *matCellDef="let idx = index">
        {{idx + 1}}
    </td>
  </ng-container>
  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef> {{'text.subjects.lectures.theme' | translate:'Тема лекции'}} </th>
    <td mat-cell *matCellDef="let element">
        {{element.Theme}}
    </td>
  </ng-container>    
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>{{'text.number.hours' | translate:'Количество часов'}} </th>
    <td mat-cell *matCellDef="let element">
        {{element.Duration}}
    </td>
  </ng-container>
  <ng-container matColumnDef="files">
    <th mat-header-cell *matHeaderCellDef> {{'text..attachments.plural' | translate:'Файлы'}} </th>
    <td mat-cell *matCellDef="let element">
      <button class="mdc-button" *ngIf="element.Attachments.length > 0"
        (click)="openFilePopup(element.Attachments)">
        <i class="material-icons mdc-button__icon" aria-hidden="true">library_books</i>
        <sub class="mdc-button__label">({{element.Attachments.length}})</sub>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" *ngIf="isTeacher">
    <th mat-header-cell *matHeaderCellDef> {{'text.action' | translate:'Действие'}} </th>
    <td mat-cell *matCellDef="let element">
      <div>
        <button mat-icon-button color="primary" [matTooltip]="'text.subjects.lectures.edit' | translate:'Редактировать лекцию'"
        (click)="constructorLecture(lectures.length, element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" [matTooltip]="'text.subjects.lectures.delete' | translate:'Удалить лекцию'" (click)="deleteLectures(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" [cdkDragDisabled]="!isTeacher" cdkDragLockAxis="y" cdkDrag [cdkDragData]="row"></tr>
</table>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
