/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#ckf-modal { z-index: 10101 !important; }
.ckf-file-preview-root { z-index: 10110 !important; }

.cdk-global-overlay-wrapper {
    display: -webkit-box;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;
  }

  .cdk-global-scrollblock {
    overflow-y: hidden;
  }

  .mat-dialog-container{
      border-radius: unset !important;
      width: 30vw !important;
  }
