.projects-component {

  &__header {
    overflow: auto;
    position: relative;

    .actions {
      position: absolute;
      bottom: 25px;
    }
  }

  &__search {
    float: right;
    width: 30%;
  }
}
