<mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
<div *ngIf="this.isLoad">
	<div class="container">
        <table>
            <td class="col-first">
                    <div class="cat">
                        <img id="mascot-body" src="./../../../assets/images/mascot-body.svg" />
                        <img id="mascot-tail" src="./../../../assets/images/mascot-tail.svg"/>
                    </div>
                    <br>
                    <img class="logo" src="./../../../assets/logo.png"/>
                    <p>Care about the students </p> 
                    <h1>Адаптивная обучающая система</h1>
                    <a mat-fab (click)="this.cancel()">
                        <mat-icon class="icon_p">play_arrow</mat-icon>
                    </a>
            </td>
            <td class="col-second">
                <div class="inner-container" >
                <form [formGroup]="this.form" (ngSubmit)="submit()">
                    <h1 class="title">Новый пользователь!</h1>

                    <div class="fields">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Имя пользователя" formControlName="Username" maxlength="30">
                            <mat-error *ngIf="hasError('Username', 'required')">Поле не может быть пустым</mat-error>
                            <mat-error *ngIf="hasError('Username', 'minlength')">Вы ввели меньше 3 символов.</mat-error>
                            <mat-error *ngIf="hasError('Username', 'maxlength')">Вы ввели больше 30 символов.</mat-error>
                            <mat-error *ngIf="hasError('Username', 'pattern')">Используйте только латинские буквы, цифры, точку или знак подчеркивания.</mat-error>
                            <mat-error *ngIf="hasError('Username', 'userExist')">Такой пользователь уже существует.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="password" matInput placeholder="Пароль" formControlName="Password" maxlength="30">
                            <mat-error *ngIf="hasError('Password', 'required')">Поле не может быть пустым</mat-error>
                            <mat-error *ngIf="hasError('Password', 'minlength')">Вы ввели меньше 6 символов.</mat-error>
                            <mat-error *ngIf="hasError('Password', 'maxlength')">Вы ввели больше 30 символов.</mat-error>
                            <mat-error *ngIf="this.isControlInvalid('Password') && !hasError('Password', 'minlength') && !hasError('Password', 'required')">Используйте только латинские буквы (хотя бы одну маленькую и большую), знак подчеркивания и хотя бы одну цифру.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Подтверждение пароля" formControlName="ConfirmPassword" maxlength="30">
                            <mat-error *ngIf="this.isControlInvalid('ConfirmPassword')">Пароли не совпадают</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Фамилия" formControlName="Surname" maxlength="30">
                            <mat-error *ngIf="hasError('Surname', 'required')">Поле не может быть пустым</mat-error>
                            <mat-error *ngIf="hasError('Surname', 'minlength')">Вы ввели меньше 3 символов</mat-error>
                            <mat-error *ngIf="hasError('Surname', 'maxlength')">Вы ввели больше 30 символов.</mat-error>
                            <mat-error *ngIf="hasError('Surname', 'pattern')">Не используйте пробелы</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Имя" formControlName="Name" maxlength="30">
                            <mat-error *ngIf="hasError('Name', 'required')">Поле не может быть пустым</mat-error>
                            <mat-error *ngIf="hasError('Name', 'minlength')">Вы ввели меньше 3 символов</mat-error>
                            <mat-error *ngIf="hasError('Name', 'maxlength')">Вы ввели больше 30 символов.</mat-error>
                            <mat-error *ngIf="hasError('Name', 'pattern')">Не используйте пробелы</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Отчество" formControlName="Patronymic" maxlength="30">
                            <mat-error *ngIf="hasError('Patronymic', 'maxlength')">Вы ввели больше 30 символов.</mat-error>
                            <mat-error *ngIf="hasError('Patronymic', 'pattern')">Не используйте пробелы</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Группа</mat-label>
                            <mat-select formControlName="GroupId" maxlength="30">
                                <mat-option *ngFor="let item of groups" [value]="item.Id">
                                    {{item.Name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Секретный вопрос</mat-label>
                            <mat-select formControlName="SecretId">
                                <mat-option *ngFor="let item of quest" [value]="item.value">
                                    {{item.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Ответ на секретный вопрос" formControlName="SecretAnswer" maxlength="30">
                            <mat-error *ngIf="hasError('SecretAnswer', 'required')">Поле не может быть пустым</mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button (click)="this.register()" class="btn">Зарегистрироваться</button>
                    <div class="sign-in">

						<button mat-raised-button color="basic" (click)="this.cancel()" href="">Отмена</button>

					</div>
                </form>
                </div>
            </td>
        </table>
	</div>
</div>
