<div class="subject-management">
  <h1 mat-dialog-title>Редактирование предмета</h1>
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Название предмета</mat-label>
        <input required name="name" matInput [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Аббревиатура</mat-label>
        <input required name="abbreviation" matInput [(ngModel)]="abbreviation">
      </mat-form-field>
    </form>

    <h2 class="example-h2">Модули</h2>

    <div class="section">
      <section  class="example-section">
        <mat-checkbox [color]="'primary'" class="example-margin">Новости</mat-checkbox>
        <mat-checkbox [color]="'primary'" class="example-margin">Лекции</mat-checkbox>
        <mat-checkbox [color]="'primary'" class="example-margin">Лабораторные работы</mat-checkbox>
        <mat-checkbox [color]="'primary'" class="example-margin">Курсовые проекты/работы</mat-checkbox>
      </section>
      <section class="example-section">
        <mat-checkbox [color]="'primary'" class="example-margin">Файлы</mat-checkbox>
        <mat-checkbox [color]="'primary'" class="example-margin">Тестирование знаний</mat-checkbox>
        <mat-checkbox [color]="'primary'" class="example-margin">Практические занятия</mat-checkbox>
        <mat-checkbox [color]="'primary'" class="example-margin">ЭУМК</mat-checkbox>
      </section>
    </div>

    <h2 class="example-h2">Группы</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Groups</mat-label>
      <mat-select [formControl]="groups" multiple>
        <mat-select-trigger>
          {{groups.value ? groups.value[0] : ''}}
          <span *ngIf="groups.value?.length > 1" class="example-additional-selection">
        (+{{groups.value.length - 1}} {{groups.value?.length === 2 ? 'other' : 'others'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of groupList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>

    <h2 class="example-h2">Цвет предмета</h2>
    <input class="color-picker" [(colorPicker)]="color" [style.background]="color"/>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClick()">Отмена</button>
    <button mat-raised-button color="primary">Сохранить</button>
  </div>
</div>
