.subject-management {
  .example-h2 {
    margin: 10px;
  }

  .section {
    display: flex;
  }

  .example-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .example-margin {
    margin: 0 10px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 25px;

    .example-full-width {
      width: 100%;
    }
  }

  .color-picker {
    border: none;
    border-radius: 3px;
    width: 230px;
    position: inherit !important;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}

.mat-dialog {
  &-actions {
    justify-content: flex-end;
  }
}
