h1 {
    font-weight: lighter;
    font-size: 28px;
}

.inline {
   width: 95%;
   border-top:1px solid lavender;
   padding-top: 20px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    width: 100%;
    word-wrap: break-word;
    padding-right: 70px;
}

.active {
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 22px;
}

.main {
    margin-top: 50px;
    font-weight: lighter;
    margin-left: 50px;
}

.mat-progress-spinner{
    display: inline;
}