<div class="confirm-dialog__container">
  <div mat-dialog-content class="lab-work-component__popover" #popoverContent>
    <div *ngIf="needToGetInitialTest" class="need-pred-test">
      <p class="confirm-dialog__title">
        {{
          'complex.firstTime'
            | translate
            : 'Вы впервые работаете с адаптивным обучением на этом предмете'
        }}!
      </p>
      <p>
        {{
          'complex.forStart'
            | translate
            : 'Для начала обучения пройдите, пожалуйста, предтест'
        }}...
      </p>
    </div>

    <span *ngIf="showTimer"
    >{{
        'complex.availableTests'
          | translate: 'Переход к тестам будет доступен через'
      }}
      {{ time }}</span
    >
    <pdf-viewer
      *ngIf="showMaterial"
      [src]="path"
      [render-text]="true"
      [(page)]="page"
      [show-all]="true"
      style="display: block"
    ></pdf-viewer>

    <div *ngIf="isTest">
      <app-test-execution testId="{{ testId }}"></app-test-execution>
    </div>

    <div *ngIf="isEndLearning">
      <p>
        {{ 'complex.finishProcess' | translate: 'Процесс обучения завершён' }}
      </p>
      <p>{{ 'complex.exit' | translate: 'Для выхода нажмите Отмена' }}...</p>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">
      {{ 'common.cancel' | translate: 'Отмена' }}
    </button>
    <button style=" background-color: #3f51b5; color: white"
            *ngIf="needToGetInitialTest"
            mat-raised-button

            (click)="goToPredTest()"
    >
      {{ 'common.pretest' | translate: 'Пройти предтест' }}
    </button>
    <button
      *ngIf="prevButtonVisible"
      mat-raised-button
      (click)="goToPrevMaterial()"
    >
      {{ 'complex.prevDocument' | translate: 'Предыдущий документ' }}
    </button>
    <button
      *ngIf="nextButtonVisible"
      mat-raised-button
      (click)="goToNextMaterial()"
    >
      {{ 'common.nextDocument' | translate: 'Следующий документ' }}
    </button>
    <button
      *ngIf="toTestButtonVisible"
      mat-raised-button
      [disabled]="!toTestButtonEnabled"
      (click)="goToTests()"
    >
      {{ 'complex.toTests' | translate: 'К тестам' }}
    </button>
    <button
      id="continueButton"
      *ngIf="isTest"
      mat-raised-button
      [disabled]="true"
      (click)="processsTest()"
    >
      {{ 'common.finishTest' | translate: 'Завершить тест' }}
    </button>
  </div>
</div>
