.mat-dialog {
  &-actions {
    justify-content: flex-end;
    align-items: end;
    padding: 0;
  }

  &-content {
    overflow: hidden;
  }
}

.adaptivity-selector {
  height: 200px;

  .adaptivity-radio-buttons {
    padding-right: 30px;
  }
}

.need-pred-test {
  height: 100px;
}

.confirm-dialog {
  &__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 12px;
    height: 100%;
  }

  &__title {
    margin: 0 0 20px;
    font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif;

    &-container {
      position: relative;
    }
  }
}
