<div class="main" *ngIf="this.isLoadData">
    <div *ngIf="!this.isDataSourceForLecture() && !this.isDataSourceForLab()">
      <p>Материалов по данному предмету не найдено.</p>
    </div>
    <div [hidden]="!this.isDataSourceForLab()">
        <h1>Лабораторные работы</h1>
        <app-item-table [isLab]="true" [dataSource]="this.dataSourceForLab"></app-item-table>
    </div>
    <div [hidden]="!this.isDataSourceForLecture()">
      <h1>Лекции</h1>
      <app-item-table [isLab]="false" [dataSource]="this.dataSourceForLecture"></app-item-table>
    </div>
</div>
