/* You can add global styles to this file, and also import other style files */
@import '~educats-common/index.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@material/button/dist/mdc.button.min.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@material/data-table/dist/mdc.data-table.min.css';
@import '~@material/tab-bar/dist/mdc.tab-bar.min.css';
@import '~@material/tab-indicator/dist/mdc.tab-indicator.min.css';
@import '~@material/tab/dist/mdc.tab.min.css';
@import '~@material/dialog/dist/mdc.dialog.min.css';
@import '~@material/checkbox/dist/mdc.checkbox.min.css';
@import '~@material/form-field/dist/mdc.form-field.min.css';
@import '~@material/drawer/dist/mdc.drawer.min.css';
@import '~@material/list/dist/mdc.list.min.css';
@import '~ngx-toastr/toastr.css';

.bg {
  background-color: #ffffff;
}

.example-tooltip-blue {
  background-color: #3f51b5;
  font-size: 16px;
}

.mat-dialog-container {
  height: 100vh !important;
}

.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.mat-checkbox-layout {
  width: 95%;
}

.mat-checkbox-label {
  white-space: normal !important;
  word-wrap: break-word !important;
  display: inline-block;
  margin-left: 8px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-label-content {
  width: 93%;
}

.mat-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}

.mat-cell {
  justify-content: left;
}

.mat-header-cell {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
}

.mat-tab-labels {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.mat-tab-label {
  display: flex;
  font-size: 16px;
  width: inherit;
}

.mat-snack-bar-container {
  background: #3d497b;
}

.mat-tooltip {
  font-size: 14px;
}
