.app-sidenav-subjects {
    height: calc(100% - 64px);
    flex: 1;
    //z-index: -1 !important;

    .app-sidenav-menu-subjects {
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
        max-width: 300px;        
    }

    .app-sidenav-content-subjects {
        min-height: 100vh;
    }
}

.subjects-toolbar {
    // border-bottom: solid 1px white;
}

.flex-spacer
{
    flex: 1 1 auto;
}

.mat-h3{
    font-size: 14px;
    font-weight: normal;
    color: #f1f1f1;
    text-align: left;
}
.btn{
    font-weight: normal;
    color: #383838;
}

@media (max-width:657px){
    .mat-toolbar.mat-primary{
        padding-top: 5px;
        display: block;
        height: 100px;
        text-align: center;
    }
    .btn{
        margin-top: 10px;
    }
}
