.app-sidenav-subjects {
    height: 100%;
    flex: 1;

    .app-sidenav-menu-subjects {
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
        max-width: 300px;        
    }

    .app-sidenav-content-subjects {
        min-height: 100vh;
    }
}
