<mat-sidenav-container class="app-sidenav-subjects">
    <mat-sidenav #sidenav opened mode="side" [(opened)]="opened" class="app-sidenav-menu-subjects">
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/web/viewer/subject/3'"> Тестирование и отладка ПО </a>
            <a mat-list-item [routerLink]="'/web/viewer/subject/2025'"> Модульное тестирование </a>
            <a mat-list-item [routerLink]="'/web/viewer/subject/2026'"> Надежность ПО </a>
            <a mat-list-item [routerLink]="'/web/viewer/subject/3048'"> Модульное тестирование (заочники) </a>
            <a mat-list-item [routerLink]="'/web/viewer/subject/4063'"> Надежность ПО (заочники) </a>
            <a mat-list-item [routerLink]="'/web/viewer/subject/4066'"> Тестирование веб-ориентированных приложений </a>
      
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content-subjects">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>