<div class="dialog-container">
  <div class="dialog-header">
    <h1 mat-dialog-title>{{'text.course.defence.plagiarism.title' | translate: 'Проверка на плагиат'}}</h1>
    <button mat-icon-button
            (click)="onClick()"
            class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-body">
    <div class="warning-messages">
      <div class="added-message">
        {{ 'plagiarism.warning.intro' | translate: 'Для более точного расчета процента схожести' }}
      </div>
      <div class="added-message">
        {{ 'plagiarism.warning.minFileSize' | translate: 'размер проверяемого файла должен быть не менее 20 KB' }}
      </div>
    </div>

    <div class="scrollable-content">
      <div class="form-container">
        <form class="example-form" #formElement>
          <section class="example-section">
            <mat-radio-group name="group"
                             [(ngModel)]="labelPosition"
                             [color]="'primary'"
                             class="section-method">
              <mat-radio-button class="example-margin" value="0">{{ 'vector.method' | translate: 'Векторный метод' }}</mat-radio-button>
              <mat-radio-button class="example-margin" value="1">{{ 'shingles.method' | translate: 'Метод шинглов' }}</mat-radio-button>
            </mat-radio-group>
          </section>
          <mat-form-field class="example-full-width">
            <mat-label>{{ 'similarity.percentage' | translate: 'Процент схожести' }}, %</mat-label>
            <input name="percent"
                   min="50"
                   max="100"
                   required
                   type="number"
                   matInput
                   [(ngModel)]="percent"
                   matTooltip="50% - 100%"
                   onkeypress="return false" />
          </mat-form-field>
        </form>
      </div>

      <div class="content-scroll">
        <div *ngIf="!isLoad; else load"></div>
        <div class="check-plagiarism" [ngClass]="{ result: result }">
          <div *ngIf="result">
            <div *ngFor="let caster of result; let i = index">
              <p class="mat-typography text">{{ 'custer' | translate: 'Кластер' }} {{ i + 1 }}</p>
              <div class="table-wrapper">
                <table mat-table
                       [dataSource]="caster['correctDocs']"
                       class="mat-elevation-z14 example-list">
                  <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef class="col-author-header">{{ 'author' | translate: 'Автор' }}</th>
                    <td mat-cell *matCellDef="let element" class="col-author-cell">{{ element.author }}</td>
                  </ng-container>

                  <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef class="col-group-header">{{ 'group' | translate: 'Группа' }}</th>
                    <td mat-cell *matCellDef="let element" class="col-group-cell">{{ element.groupName }}</td>
                  </ng-container>

                  <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef class="col-subject-header">{{ 'course' | translate: 'Предмет' }}</th>
                    <td mat-cell *matCellDef="let element" class="col-subject-cell" [matTooltip]="element.Name">{{ element.subjectName }}</td>
                  </ng-container>

                  <ng-container matColumnDef="theme">
                    <th mat-header-cell *matHeaderCellDef class="col-theme-header">{{ 'topic' | translate: 'Тема' }}</th>
                    <td mat-cell *matCellDef="let element" class="col-theme-cell">{{ element.Theme }}</td>
                  </ng-container>

                  <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef class="col-file-header">{{ 'text.attachments' | translate: 'Файл' }}</th>
                    <td mat-cell
                        *matCellDef="let element"
                        class="col-file-cell link"
                        (click)="downloadFile(element)">
                      {{ element.doc }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="filesize">
                    <th mat-header-cell *matHeaderCellDef class="col-filesize-header">{{ 'common.fileSize' | translate: 'Размер файла' }}</th>
                    <td mat-cell *matCellDef="let element" class="col-filesize-cell">
                      {{ element.sizeFile }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #load>
        <div class="spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-raised-button (click)="onClick()">
      {{ 'button.stop' | translate: 'Отмена' }}
    </button>
    <button mat-raised-button
            (click)="onSave()"
            color="primary"
            [disabled]="!formElement.checkValidity()">
      {{ 'check' | translate: 'Проверить' }}
    </button>
  </div>
</div>
