<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Crud document menu">
  <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEditStructureEvent.emit(document)">
    <span>Переименовать</span>
  </button>
  <button mat-menu-item (click)="onRemoveEvent.emit(document)">
    <span>Удалить</span>
  </button>
  <button mat-menu-item (click)="onAddEvent.emit()">
    <span>Добавить новую тему</span>
  </button>
  <button *ngIf="!hasChild(document)" mat-menu-item (click)="onEditContentEvent.emit(document)">
    <span>Редактировать</span>
  </button>

</mat-menu>
