<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Crud document menu">
  <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onAddEvent.emit()">
    <mat-icon>note_add</mat-icon>
    <span>Добавить новый документ</span>
  </button>
  <button mat-menu-item (click)="onEditStructureEvent.emit(document)">
    <mat-icon>edit</mat-icon>
    <span>Редактировать структуру</span>
  </button>
  <button mat-menu-item (click)="onEditContentEvent.emit(document)">
    <mat-icon>edit</mat-icon>
    <span>Редактировать содержимое</span>
  </button>
  <button mat-menu-item (click)="onRemoveEvent.emit(document)">
    <mat-icon>delete_outline</mat-icon>
    <span>Удалить документ</span>
  </button>
</mat-menu>
