.result-teacher {
  &-autocomplete {
    display: flex;
    margin-left: 15px;
    align-items: center;
    &-item {
      margin-right: 30px;
      &-test {
        width: 300px;
        margin-right: 30px;
      }
    }
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-group {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .help {
    position: relative;
  }
}

.test-warning-text {
  margin-top: 0px;
  font-size: 12px;
  color: #808080;
  text-align: left;
  word-wrap: break-word;
  height: auto;
  padding: 0;
  line-height: 1.2;
  margin-left: 15px;
  margin-bottom: 10px;
}