<mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
<div class="main" *ngIf="isLoad">
    <h1>Статистика</h1>
    <mat-form-field *ngIf = "!this.isArchive">
        <mat-label>Выберите предмет</mat-label>
        <mat-select [(ngModel)]="selectedItem" name="item" (ngModelChange)="this.statisticSubject()">
            <mat-option *ngFor="let item of this.subjects" [value]="item.Id">{{item.Name}}</mat-option>
            <mat-option [value]="-1">Суммарная статистика по всем предметам</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf = "this.isArchive">
      <mat-label>Выберите предмет</mat-label>
      <mat-select [(ngModel)]="selectedItem" name="item" (ngModelChange)="this.statisticSubject()">
        <mat-option *ngFor="let item of this.subjectsArchive" [value]="item.Id">{{item.Name}}</mat-option>
        <mat-option [value]="-1">Суммарная статистика по всем предметам</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle *ngIf = "isArchiveEnable" class="example-margin"
                      [color]="'primary'"
                      (change)="subjectsStatusChange($event)"
    >
      Неактивные предметы
    </mat-slide-toggle>
</div>
<div class="export-button">
  <button mat-icon-button matTooltip="Распечатать"  (click)="this.captureScreen()"><mat-icon>print</mat-icon></button>
  <button mat-icon-button matTooltip="Скачать Excel"  (click)="this.exportExcel()"><i class="fa fa-download"></i><mat-icon>get_app</mat-icon></button>
</div>
<div *ngIf="this.selectedItem">
    <app-table-for-stats-subject [data]="this.tableStats"></app-table-for-stats-subject>
</div>
