<mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
<div class="main" *ngIf="isLoad">
    <h1>Статистика</h1>
    <mat-form-field>
        <mat-label>Выберите предмет</mat-label>
        <mat-select [(ngModel)]="selectedItem" name="item">
            <mat-option [value]="0">Все предметы</mat-option>
            <mat-option *ngFor="let item of this.subjects; let i=index" [value]="i+1">{{item.Name}}</mat-option>
            <mat-option [value]="this.subjects.length+1">Суммарная статистика по всем предметам</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="export-button">
    <button class="btn" (click)="this.captureScreen()">Печать</button>
    <button class="btn" (click)="this.exportexcel()"><i class="fa fa-download"></i>Excel</button>
</div>
<div *ngIf="!this.selectedItem">
    <app-table-for-all-subject></app-table-for-all-subject>
</div>
<div *ngIf="this.selectedItem">
    <app-table-for-stats-subject></app-table-for-stats-subject>
</div>