<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
  *ngIf="isLecturer"
   mat-menu-item (click)="openEditPopup()">
    <mat-icon>build</mat-icon>
    <span>{{ 'common.edit' | translate: 'Редактировать' }}</span>
  </button>
  <button 
  *ngIf="isLecturer"
  mat-menu-item (click)="openConfirmationDialog()">
    <mat-icon>delete</mat-icon>
    <span>{{ 'common.delete' | translate: 'Удалить' }}</span>
  </button>
  <button
   mat-menu-item (click)="openMap()">
    <mat-icon>map</mat-icon>
    <span>{{ 'complex.map' | translate: 'Карта ЭУМК' }}</span>
  </button>
  <button
  *ngIf="isStudent"
   mat-menu-item (click)="openMonitoring()">
    <mat-icon>map</mat-icon>
    <span>{{ 'complex.monitor' | translate: 'Мониторинг прочтения тем' }}</span>
  </button>
</mat-menu>
