<!--<app-header [text]="'Тестирование и отладка ПО'"
            [smallText]="'Управление тестами'"></app-header>-->
<div class="question-page__backlink-first" (click)="navigate()">
  {{'text.test.back.to.test' | translate : "< К тестам"}}
</div>
<div class="question-page-container">
  <div class="question-page-description-title">
    <div class="question-page-description-title-text">
      {{'text.test.questions' | translate : 'Вопросы'}}
    </div>
    <div class="question-page-description-title-text" [ngClass]="'small'" *ngIf="test">
      {{test.Title}}
    </div>
  </div>
</div>
<app-main-page [allowChanges]="true"
               [adminTests]="false"
               [adminQuestions]="true"
               [forNN]="test?.ForNN"
               [hideSearch]="true"
               (addNewQuestion)="addNewQuestion()"
               (addQuestionFromOtherTestEvent)="addQuestionFromOtherTest($event)"
               (createNeuralNetworkEvent)="createNeuralNetwork()"
               (onValueChangeSearch)="filterQuestions($event)"></app-main-page>
<div class="question-page-container-table-tests">
  <app-table-questions
    [questions]="questions"
    (onDeleteQuestion)="openConfirmationDialog($event)"
    (onOpenEditPopup)="openPopup($event)">
  </app-table-questions>
  <div class="question-page__backlink" (click)="navigate()">
    {{'text.test.back.to.test' | translate : "< К тестам"}}
  </div>
</div>
