.table-test-bg{
  background-color: #ffffff;
}

.main-table-title{
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 24px;
}

.mat-header-cell-id{
  flex: 0 0 10%;
}

.mat-header-cell-description{
  flex: 0 0 65%;
}

.mat-header-cell-action{
  flex: 0 0 25%;
}
