<mat-tab-group dynamicHeight animationDuration="1000ms">
  <mat-tab label="{{'text.adminPanel.activeStats.userActivity' | translate}}">
    <app-active-stats></app-active-stats>
  </mat-tab>
  <mat-tab label="{{'text.lecturers' | translate}}">
    <app-lectors></app-lectors>
  </mat-tab>
  <mat-tab label="{{'text.students' | translate}}">
    <app-students></app-students>
  </mat-tab>
  <mat-tab label="{{'group.plural' | translate}}">
    <app-group></app-group>
  </mat-tab>
  <mat-tab label="{{'text.attachments.plural' | translate}}">
    <app-files></app-files>
  </mat-tab>
</mat-tab-group>
