<div class="question-container">
  <div class="question-question" *ngIf="question?.Question?.Title">
    <div class="question-question-text">{{question?.Question?.Title}}</div>
  </div>
  <div class="question-description" *ngIf="question?.Question?.Description">
    <div class="question-description-text" [innerHTML]="question?.Question?.Description"></div>
  </div>
  <div class="question-block">
    <div class="question-answer-block">
      <div class="question-answer-block-container">
        <div class="question-answer-block-container-text">
          {{'text.test.your.answer' | translate: 'Ваш ответ:'}}
        </div>
      </div>
      <div class="question-answers-block">
        <div class="question-answers-block-container">
          <!--<div class="question-answers-block-container-values">фрагменты фрагменты</div>-->
          <mat-radio-group *ngIf="question?.Question?.QuestionType === 0"
                           aria-labelledby="example-radio-group-label"
                           class="question-example-radio-group"
                           [(ngModel)]="chosenAnswer">
            <mat-radio-button class="question-example-radio-button" *ngFor="let answer of question?.Question?.Answers"
                              [value]="answer">
              {{answer.Content}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="question-answers-block-container-checkboxes" *ngIf="question?.Question?.QuestionType === 1">
            <div *ngFor="let answer of question?.Question?.Answers, let i = index"
                 class="question-answers-block-container-checkboxes-container">
              <mat-checkbox class="question-answers-block-container-checkboxes-item" [(ngModel)]="charsNeskolko[i]">
              </mat-checkbox>
              <div class="question-answers-block-container-checkboxes-container-text">
                {{answer.Content}}
              </div>
            </div>
          </div>
          <ng-container *ngIf="question?.Question?.QuestionType === 2">
            <input class="question-answers-block-container-word"
                   matInput
                   [placeholder]="'text.enter.answer'| translate: 'Введите ответ'"
                   (change)="onValueChange($event)">
          </ng-container>
          <ng-container *ngIf="question?.Question?.QuestionType === 3">
            <div cdkDropList class="example-list question-answers-sequence" (cdkDropListDropped)="drop($event)">
              <div class="example-box question-answers-sequence-item" *ngFor="let answer of question?.Question?.Answers"
                   cdkDrag>{{answer.Content}}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="question-button">
      <div class="question-button-container">
        <div class="question-button-container-item">
          <button mat-raised-button color="primary" (click)="answerQuestion()">
            <mat-icon>done_outline</mat-icon>
            {{'text.test.answer'| translate:'Ответить'}}
          </button>
        </div>
      </div>
      <div class="question-button-container">
        <div class="question-button-container-item">
          <button mat-raised-button color="primary" (click)="getOnNextQuestion(false)">
            <mat-icon>arrow_forward_ios</mat-icon>
            {{'text.test.skip'| translate:'Пропустить'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
