<div class="test-description-container" *ngIf="test">
  <div class="test-description-wrapper">
    <div class="test-description-title">
      <div class="test-description-title-text" >
        {{test.Title}}
      </div>
    </div>
    <div class="test-description-wrapper-description">
      <div class="test-description-block">
        <div class="test-description-text">{{test.Description}}</div>
        <div class="test-description-button">
          <button (click)="startTest()"
                  mat-raised-button color="primary"
                  [matTooltip]="'text.test.start' | translate:'Начать тест'"
                  matTooltipClass="example-tooltip-blue">
            {{'text.test.dalee'| translate: 'Далее'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
