#chart {
  margin: 50px auto auto;
  max-width: 80%;
  padding: 0;
}

#chart1 {
  max-width: 95%;
  margin: 50px auto auto;
}

#chart2 {
  max-width: 95%;
  margin: 50px auto auto;
}

#chart3 {
  max-width: 95%;
  margin: 50px auto auto;
}
