#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

#chart1 {
  max-width: 650px;
  margin: 35px auto;
}

#chart2 {
  max-width: 650px;
  margin: 35px auto;
}

#chart3 {
  max-width: 650px;
  margin: 35px auto;
}
