<mat-toolbar class="mat-elevation-z6 main-toolbar first" color="primary">
  <a href="/" class="nav-link home">
    <img src="/assets/images/nav-logo.png" width="150" height="40" title="Home" alt="Home" class="ng-star-inserted">
  </a>
  <span class="example-spacer"></span>

  <div *ngIf="!isAdmin">

    <a mat-button [routerLink]="'/web/viewer'">Предметы</a>

  </div>
  <a *ngIf="isLector" mat-button [routerLink]="'/emails'">Дипломное проектирование</a>

  <div class="flex-spacer"></div>

  <mat-form-field *ngIf="!isAdmin" class="search-form" appearance="legacy" (keydown.escape)="this.cleanSearchResults()" (blur)="this.cleanSearchResults()">
<!--    <input matInput [(ngModel)]="valueForSearch" type="text" placeholder="Поиск" (input)="viewSearchResults()"  maxlength="30">-->
    <input matInput [(ngModel)]="valueForSearch" type="text" placeholder="Поиск" maxlength="30">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let result of this.studentSearchResults" [value]="result" (click) = "this.cleanSearchResults()" [routerLink]="['profile',result.Id]">Студент  |
        {{result.FullName}}
      </mat-list-option>
      <mat-list-option *ngFor="let result of this.lecturerSearchResults" [value]="result" (click) = "this.cleanSearchResults()" [routerLink]="['profile',result.Id]">Преподаватель |  
        {{result.FullName}}
      </mat-list-option>
      <mat-list-option *ngFor="let result of this.groupSearchResults" [value]="result" (click) = "this.cleanSearchResults()" [routerLink]="['group',result.Name]">Группа  |
        {{result.Name}}
      </mat-list-option>
    </mat-selection-list>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>



  <mat-select class="mselect" (selectionChange)="onValueChange($event)" [value]="locale">
    <mat-option *ngFor="let locale of locales" [value]="locale">
      {{locale.name}}
    </mat-option>
  </mat-select>

  <div *ngIf="isLector" >
    <button  mat-icon-button  class="icon-h">
       <mat-icon [matBadge]="unconfirmedStudents"
       matBadgeOverlap="true"
       matBadgePosition="above"
       matBadgeColor="warn"
       matBadgeSize="small"
       [routerLink]="'/web/confirmation'" >
       person_add_alt_1</mat-icon>
    </button>
  </div>
  <button mat-icon-button [routerLink]="'/emails'" class="icon-h">
    <mat-icon matBadge="15"
              matBadgeOverlap="true"
              matBadgePosition="above"
              matBadgeColor="warn"
              matBadgeSize="small"
              [routerLink]="'/web/confirmation'">mail</mat-icon>
  </button>


  <button mat-icon-button class="end icon-h" [routerLink]="['personalAccount']">
    <img src="{{this.profileIcon}}" class="account" />
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-h">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>О системе</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Выйти</span>
    </button>
  </mat-menu>
</mat-toolbar>


<mat-toolbar class="mat-elevation-z6 main-toolbar second" color="primary">
  <div class="first-line">
    <a href="/" class="nav-link home">
      <img src="/assets/images/logo.png" width="150" height="40" title="Home" alt="Home" class="ng-star-inserted logo">
    </a>
    <mat-form-field *ngIf="!isAdmin" class="search-form" appearance="legacy" (keydown.escape)="this.cleanSearchResults()" (blur)="this.cleanSearchResults()">
      <!--    <input matInput [(ngModel)]="valueForSearch" type="text" placeholder="Поиск" (input)="viewSearchResults()"  maxlength="30">-->
      <input matInput [(ngModel)]="valueForSearch" type="text" placeholder="Поиск" maxlength="30">
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let result of this.studentSearchResults" [value]="result" (click)="this.cleanSearchResults()" [routerLink]="['profile',result.Id]">
          Студент  |
          {{result.FullName}}
        </mat-list-option>
        <mat-list-option *ngFor="let result of this.lecturerSearchResults" [value]="result" (click)="this.cleanSearchResults()" [routerLink]="['profile',result.Id]">
          Преподаватель |
          {{result.FullName}}
        </mat-list-option>
        <mat-list-option *ngFor="let result of this.groupSearchResults" [value]="result" (click)="this.cleanSearchResults()" [routerLink]="['group',result.Name]">
          Группа  |
          {{result.Name}}
        </mat-list-option>
      </mat-selection-list>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="second-line">
    <div class="menu-subject">
      <div *ngIf="!isAdmin" >
        <a mat-button [routerLink]="'/web/viewer'" >Предметы</a>
      </div>
      <a *ngIf="isLector" mat-button [routerLink]="'/emails'" >Дипломное проектирование</a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu1"  class="menu-burger icon-h">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
      <div *ngIf="!isAdmin" class="dropdown">
        <a mat-button [routerLink]="'/web/viewer'" >Предметы</a>
      </div>
      <a *ngIf="isLector" mat-button [routerLink]="'/emails'" class="dropdown">Дипломное проектирование</a>
    </mat-menu>

    <div class="icons">
      <mat-select class="mselect" (selectionChange)="onValueChange($event)" [value]="locale">
        <mat-option *ngFor="let locale of locales" [value]="locale">
          {{locale.name}}
        </mat-option>
      </mat-select>
      
      <div *ngIf="isLector" >
        <button  mat-icon-button  class="icon-h">
          <mat-icon [matBadge]="unconfirmedStudents"
          matBadgeOverlap="true"
          matBadgePosition="above"
          matBadgeColor="warn"
          matBadgeSize="small"
          [routerLink]="'/web/confirmation'" >
          person_add_alt_1</mat-icon>
        </button>
      </div>

      <button mat-icon-button [routerLink]="'/emails'"  class="icon-h">
        <mat-icon matBadge="15"
        matBadgeOverlap="true"
        matBadgePosition="above"
        matBadgeColor="warn"
        matBadgeSize="small"
        [routerLink]="'/web/confirmation'">mail</mat-icon>
      </button>

      <button mat-icon-button  [routerLink]="['personalAccount']" class="end icon-h">
        <img src="{{this.profileIcon}}" class="account" />
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu"  class="icon-h points">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="dropdown">
          <mat-icon> info</mat-icon>
          <span> О системе</span>
        </button>
        <button mat-menu-item class="dropdown" (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выйти</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
