<mat-toolbar class="mat-elevation-z6 main-toolbar" color="primary">
  <a href="/" class="nav-link home">
    <img src="/assets/images/nav-logo.png" width="150" height="40" title="Home" alt="Home" class="ng-star-inserted">
  </a>
  <span class="example-spacer"></span>
  <div *ngIf="!isAdmin">
    <a mat-button [routerLink]="'/web/viewer'">Предметы</a>
  </div>
  <div *ngIf="isLector">
    <a [matBadge]="unconfirmedStudents"
       matBadgeOverlap="true"
       matBadgeColor="warn"
       mat-button
       [routerLink]="">
      Подтверждение студентов</a>
  </div>
  <a *ngIf="isLector" mat-button [routerLink]="'/emails'">Дипломное проектирование</a>


  <div class="flex-spacer"></div>
  <mat-form-field *ngIf="!isAdmin" class="search-form" appearance="legacy">
    <input matInput type="text" placeholder="Поиск">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <a mat-button [routerLink]="'/emails'">Сообщения</a>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!isAdmin" mat-menu-item>
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Профиль</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>О системе</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Выйти</span>
    </button>
  </mat-menu>
</mat-toolbar>
