/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.bg{
  background-color: #ffffff;
}
.example-tooltip-green{
  background-color: green;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}
.cdk-global-scrollblock {
   overflow-y: hidden;
}
.mat-checkbox-layout{
  width: 95%;

}
.mat-checkbox-label{
  width: 100%;
}
.mat-form-field {
  width: 100%;
}
