/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bg {
  background-color: #f5f5f5;
}

h2, mat-label, p, div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-global-overlay-wrapper {
  display: -webkit-box;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.mat-dialog-container {
  border-radius: unset !important;
}

.mat-checkbox-layout {
  width: 95%;

}

.mat-checkbox-label {
  font-size: 14px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-label-content {
  width: 93%;
  font-size: 14px;
}

.mat-table {
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  box-shadow: none;
}

.mat-cell {
  justify-content: left;
}

.mat-header-cell {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
}

.mat-tab-labels {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.mat-ripple {
  opacity: 1;
}

.mat-tab-label {
  display: flex;
  font-size: 16px;
  opacity: 1;
  width: inherit;
}

.mat-tab-label-active {
  color: #3f51b5;
  opacity: 1;
}

.mat-tab-label-content {
  line-height: 2.25rem;
  font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: var(--mdc-typography-button-font-size, 0.875rem);
  letter-spacing: .0892857143em;
  opacity: 1;
}

.mat-snack-bar-container {
  background: #3f51b5;
  top: 100%;
  height: 48px;
  position: sticky;
}

.mat-tab-header {
  border-bottom: none;
  margin: 0 15px;
}

.mat-dialog-container{
  padding: 12px 24px 24px;
}
