<div class="popover">
<h1 mat-dialog-title>О системе</h1>
<div mat-dialog-content>
  <p>Обучающая система CATS предназначена для повышения качества подготовки 
    специалистов дневной и заочной форм обучения, а также для самостоятельной работы.
    С точки зрения функциональных возможностей поддерживается работа в 4 ролях: администратор,
     преподаватель, студент и наблюдатель.</p>
    <p>Первые 3 роли подлежат аутентификации.</p>
    <p>Руководитель проекта: к.т.н., доцент Попова Ю.Б.</p>
    <p>БНТУ - 2021</p>
    <a routerLink="/web/about-system" mat-dialog-close>Перейти к руководству пользователя</a>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button color="primary" (click)="onClose()">Закрыть</button>
</div>
</div>
