<app-nav></app-nav>
<div class="container">
    <div class="h1-container">
        <span class="h1">Контроль успеваемости</span>
        <!--div style="display:inline-block; padding-top: 0px;"><button mat-icon-button #helpButton class="mat-icon-button-help" matTooltip="Помощь" matTooltipPosition="right" (click)="showHelp()">
            <mat-icon>help_outline</mat-icon>
        </button></div-->
      <h2 (click)="logOut()"> < На стартовую</h2>
    </div>
    <p></p>
    <div>
      <div style="font-size: 14px;color: #000000;font-family: Roboto, Helvetica Neue, sans-serif;">
        <p>Для просмотра успеваемости студентов введите номер их группы. Если интересует успеваемость отдельного студента, то добавьте его фамилию. </p>
        <p>Можно просмотреть суммарную статистику успеваемости по всем изучаемым в настоящее время предметам, а также выборочно по каждому предмету. Также можно ознакомиться со статисткой успеваемости по изученным ранее предметам.</p>
        <p>Полученную информацию можно распечатать либо экспортировать в MS Excel.</p>
      </div>

      <form [formGroup]="controlForm">
          <mat-form-field class="default" color="primary">
              <input matInput color="primary" formControlName="groupName" placeholder="Введите номер группы" type="text">
          </mat-form-field>
        <mat-form-field class="default" color="primary">
          <input matInput color="primary" formControlName="surname" placeholder="Введите фамилию студента" type="text">
        </mat-form-field>
          <a mat-flat-button color="primary" (click)="enterGroup()">Найти</a>
          <!--a mat-flat-button color="primary" href="/login">Выйти</a-->
      </form>
    </div>
</div>
<iframe *ngIf="isLoad" [src]="selectedGroup"></iframe>




