iframe {
  height: calc(100% - 33px);
  width: 100%;
  border: none;
}

.container1{
  margin-left: 50px;
  a{
    margin: 5px;
  }
  p{
    margin-bottom: 0px;
  }
  ol{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.container2{
  display: flex;
  width: 95%;
}

.backlink {
  cursor: pointer;
  color: grey;
}

.backlink:hover{
  color: #3f51b5;
}
.h1-container{
  padding-top: 30px;
  margin-left: -5px;
}

.flex-spacer
{
  flex: 1 1 auto;
}

.h1{
  width: 30%;
  font-size: 28px;
  font-weight: normal;
}

.inline {
  width: 95%;
  border-top: 1px solid lavender;
  padding-top: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-icon-button-help {
  color: #757575;
}

.mat-icon-button-help:active,
.mat-icon-button-help:focus {
  color: #3f51b5;
}

.form{
  margin-right: 15px;
  float: right;
  margin-top: -15px;
}

.form-first-row{
  display: flex;
}

@media (max-width:768px){
  .container2{
    display: block;
  }
  .form-first-row{
    display: grid;
  }
  .form{
    margin-top: 10px;
    float: left;
    width: 95%;
  }
  .container1{
    margin-left: 5%;
  }
  .button-search{
    float: right;
  }
}
