.visit-date {
  &__container {
    width: 300px;
  }

  &__action {
    width: 100%;
  }

  &__table-title {
    font-size: 16px;
    margin-top: 25px;
  }

  &__table-action {
    display: flex;
    justify-content: center;
  }
}

.mat-dialog {
  &-actions {
    justify-content: flex-end;
  }
}
.mat-form-field{
  width: 100%;
}

.mat-icon-button {
  width: 10px;
}

.mdc-data-table {
  width: 100%;
}
.mat-elevation-z8 {
  box-shadow: none;
}
