<div class="visit-date__container">
  <h2 mat-dialog-title class="visit-date__title">{{data.title}}</h2>
  <div class="visit-date__content">
    <form [formGroup]="dateForm" class="visit-date__form">
      <mat-form-field>
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="(dateForm.get('date').touched || dateForm.get('date').dirty) && dateForm.get('date').errors" class="visit-date__form-error">
        <mat-error *ngIf="dateForm.get('date').hasError('required')">Поле дата обязательно</mat-error>
      </div>
      <div class="visit-date__form-container">
        <div class="visit-date__form-group">
          <mat-form-field>
            <mat-label>Начало занятия</mat-label>
            <input
              type="time"
              matInput 
              formControlName="start"
              placeholder="Начало занятия"
            />
          </mat-form-field>
          <div *ngIf="(dateForm.get('start').touched || dateForm.get('start').dirty) && dateForm.get('start').errors" class="visit-date__form-error">
            <mat-error *ngIf="dateForm.get('start').hasError('required')">Поле начало занятия обязательно</mat-error>
          </div>
        </div>

        <div class="visit-date__form-group">
          <mat-form-field>
            <mat-label>Конец занятия</mat-label>
            <input
              type="time"
              matInput 
              formControlName="end"
              placeholder="Конец занятия"
            />
          </mat-form-field>
          <div *ngIf="(dateForm.get('end').touched || dateForm.get('end').dirty) && dateForm.get('end').errors" class="visit-date__form-error">
            <mat-error *ngIf="dateForm.get('end').hasError('required')">Поле конец занятия обязательно</mat-error>
          </div>
        </div>
    </div>
    <div class="visit-date__form-container">
      <div class="visit-date__form-group">
        <mat-form-field>
          <mat-label>Корпус</mat-label>
          <input formControlName="buildingNumber" type="text" matInput placeholder="Корпус">
        </mat-form-field>
        <div *ngIf="(dateForm.get('buildingNumber').touched || dateForm.get('buildingNumber').dirty) && dateForm.get('buildingNumber').errors" class="visit-date__form-error">
          <mat-error *ngIf="dateForm.get('buildingNumber').hasError('required')">Номер корпуса обязателен</mat-error>
          <mat-error *ngIf="dateForm.get('buildingNumber').hasError('minLength')">Минимальное количество символов: 1</mat-error>
          <mat-error *ngIf="dateForm.get('buildingNumber').hasError('maxLength')">Максимальное количество символов: 3</mat-error>
        </div>
      </div>
      <div class="visit-date__form-group">
        <mat-form-field>
          <mat-label>Аудитория</mat-label>
          <input formControlName="audience" type="number" matInput placeholder="Аудитория">
        </mat-form-field>
        <div *ngIf="(dateForm.get('audience').touched || dateForm.get('audience').dirty) && dateForm.get('audience').errors" class="visit-date__form-error">
          <mat-error *ngIf="dateForm.get('audience').hasError('required')">Номер аудитории обязателен</mat-error>
          <mat-error *ngIf="dateForm.get('audience').hasError('min')">Минимальный номер аудитории: 1</mat-error>
          <mat-error *ngIf="dateForm.get('audience').hasError('max')">Максимальный номер аудитории: 999</mat-error>
        </div>
      </div>
    </div>
      <button mat-raised-button
      class="visit-date__action"
      color="primary"
      [disabled]="dateForm.invalid"
      (click)="onCreateDate()">{{data.buttonText}}</button>
    </form>
    <p mat-dialog-title class="visit-date__table-title">Выбранные даты</p>
    <div class="mdc-data-table example-container mat-elevation-z8">
      <table class="mdc-data-table__table">
        <tbody class="mdc-data-table__content">
         <tr class="mdc-data-table__row" *ngFor="let day of schedule">
          <td class="mdc-data-table__cell">{{ day.Date }}</td>
          <td class="mdc-data-table__cell visit-date__table-action">
            <button mat-icon-button color="primary" matTooltip="Удалить дату" (click)="deletePopover(day)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
 
  <div mat-dialog-actions class="visit-date__actions">
    <button mat-raised-button (click)="onClick()">Закрыть</button>
  </div>
</div>

<!-- [value]="date.value" -->


<!-- <div class="visit-date__form-container">
<div>
  <button mat-raised-button
          class="visit-date__action"
          color="primary"
          [disabled]="dateForm.invalid"
          (click)="onCreateDate()">{{data.buttonText}}</button>
</div> -->