h1 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid lavender;
}

mat-dialog-content {
    width: 600px;
}

mat-form-field {
    width: 100%;
}

.checkbox {
    margin-top: 20px;
}

mat-dialog-actions {
    margin-top: 20px;
}

.btn {
    background-color: cornflowerblue;
    color: white;
    border: white;
}

mat-dialog-actions {
    float: right;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
