/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/flatpickr/dist/flatpickr.min.css';


.flatpickr-time{
  height: 18%;
}

.flatpickr-time .flatpickr-am-pm {
  height: 100%;
}


.cal-week-view .cal-starts-within-day .cal-event{
  border-left-width: 5px;
  border-radius: 0px;
  border-bottom-width: 0px ;
  border-bottom-color: grey;
  border-top-width: 0px ;
  border-top-color: grey;
  border-right-width: 0px ;
  border-right-color: grey;
}

.cal-week-view .cal-time-events .cal-event table{
  width: 92%;
}

.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: block;
}

.cal-week-view .cal-hour-segment{
  background-color: white;
}

.cal-week-view .cal-header.cal-weekend span {
  color:  #808080;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.cal-week-view .cal-day-headers span {
  color:  #808080;
  font-family: Roboto, Helvetica Neue, sans-serif;
  opacity: 100%;
}

.cal-week-view .cal-header.cal-weekend b {
  font-weight: initial;
  color:  #363636;
}

.cal-week-view .cal-day-headers b {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: initial;
  color:  #363636;
}

.cal-week-view .cal-time {
  color: #808080;
  font-weight: initial;
}

.cal-week-view .cal-event-container:not(.cal-draggable) {
  cursor: auto;
}



@media only screen and (min-width: 768px) {
  .cal-week-view {
    min-width: 1000px;
  }
}

.cal-time-events{
  line-height: normal;
}

.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment{
  background: #FCFCFC;
}

.cal-week-view .cal-hour-segment{
  background: #FCFCFC;
}

.text-center{
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.cal-week-view .cal-day-headers .cal-header.cal-past{
  border: #FCFCFC;
  padding-top: 20px;
  font-size: 12px;
}

.cal-week-view .cal-day-headers .cal-header.cal-today{
  border: #FCFCFC;
  padding-top: 20px;
  font-size: 12px;
}

.cal-week-view .cal-day-headers .cal-header.cal-future{
  border: #FCFCFC;
  padding-top: 20px;
  font-size: 12px;
}

.cal-week-view .cal-header.cal-today{
  background-color: #3f51b533;
}

.cal-week-view .cal-header {
  height: 80px;
}

.cal-week-view .cal-time{
  padding-top: 32px;
  font-size: 12px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}


.mat-menu-panel{
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.mat-dialog-container {
  border-radius: 0px !important;
}
