:host {
  display: block;
}

.answers-popup {
  &-content {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-general {
    padding-right: 48px;

    &-wrapper {
      margin-bottom: 20px;
    }
    &-test {
      margin-bottom: 0;
      font:
        400 20px/32px Roboto,
        'Helvetica Neue',
        sans-serif;
      overflow-wrap: break-word;
    }
    &-name {
      font-weight: 500;
      margin-bottom: 20px;
    }
    &-mark {
      margin-top: 5px;
    }
  }

  &-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    &-margin {
    }
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 1;
  color: gray;
}
