:host {
  .edit-task-sheet-dialog {
    &__container {
      display: grid;
      grid-template-rows: auto 1fr auto;
      gap: 12px;
      height: 100%;
    }
    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-weight: 400;
    }

    &__close-btn {

    }
  }
}

.mat-dialog-content {
  max-height: 750px;
}

.form-field {
  width: 100%;
}

.choose-template {
  display: flex;

  mat-form-field {
    flex: auto;
    padding-right: 10px;
  }

  .help-icon {
    width: 240px;
  }

  button {
    align-self: end;
    float: right;
  }
}

.save-template {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
  }

  mat-form-field {
    flex: auto;
    padding-right: 10px;
    max-width: 315px;
  }

  button {
    align-self: center;
    float: right;
  }
}

.apply-template {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
  }

  mat-form-field {
    flex: auto;
    padding-right: 10px;
    max-width: 315px;
  }

  button {
    align-self: center;
    float: right;
  }
}

.dialog-tab-content {
  mat-form-field {
    width: 100%;
  }
}

.dialog-buttons {
  justify-content: flex-end;
  padding-top: 6.5px;
}

.applyButton {
  background-color: rgba(125, 75, 218, 0.96);
}

.saveTemplateButton {
  background-color: rgba(219, 114, 44, 0.96);
}
