<div class="labs-component content">
  <mat-tab-group mat-stretch-tabs [selectedIndex]="tab" (selectedIndexChange)="tab = $event">
    <mat-tab *ngFor="let label of tabs; let idx = index" [tabindex]="idx" [label]="label | appFirstCapital">
      <ng-template matTabContent>
        <div class="labs-component__body">
          <div class="labs-component__select-group" *ngIf="tab === 2 || tab === 3 || tab === 4 || (tab === 5 && teacher)">
            <mat-form-field>
              <mat-select [value]="groups.length ? groups[0].groupId : ''">
                <mat-option *ngFor="let group of groups"
                            (onSelectionChange)="_selectedGroup($event)"
                            [value]="group.groupId"
                >
                  {{group.groupName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-slide-toggle *ngIf="tab !== 1"
                              class="example-margin"
                              [color]="'primary'"
                              [checked]="detachedGroup"
                              (change)="groupStatusChange($event)"
            >
              Открепленные группы
            </mat-slide-toggle>
            <button *ngIf="tab === 4"
                    mat-icon-button
                    color="primary"
                    matTooltip="Скачать архивом"
                    (click)="downloadAll()"
            >
              <mat-icon>get_app</mat-icon>
            </button>
            <div class="_excel-file" *ngIf="(tab === 2 || tab === 3) && teacher" (click)="getExcelFile()">
              <span class="iconify" data-icon="mdi-file-excel" data-inline="false"></span>
            </div>
            <button *ngIf="tab === 4"
                    mat-icon-button
                    color="primary"
                    matTooltip="Проверить на плагиат всех работ"
                    (click)="checkPlagiarism()"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button *ngIf="tab === 4"
                    mat-icon-button
                    color="primary"
                    matTooltip="Обновить данные"
                    (click)="_refreshJobProtection()"
            >
              <mat-icon>cached</mat-icon>
            </button>
          </div>
          <app-labs-work *ngIf="tab === 0" [teacher]="teacher"></app-labs-work>
          <app-protection-schedule *ngIf="tab === 1 && selectedGroup" [teacher]="teacher"></app-protection-schedule>
          <app-visit-statistics *ngIf="tab === 2 && selectedGroup" [teacher]="teacher"></app-visit-statistics>
          <app-results *ngIf="tab === 3 && selectedGroup" [teacher]="teacher"></app-results>
          <app-job-protection *ngIf="tab === 4" [teacher]="teacher" [refresh]="refreshJobProtection"></app-job-protection>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
