<div class="main">
  <button
    mat-raised-button
    class="addGroupButton"
    (click)="addGroup(this.dataGroup)"
  >
    {{ 'text.adminPanel.group.add' | translate }}
  </button>
  <div [hidden]="!isLoad" class="table">
    <mat-form-field class="search">
      <input
        matInput
        [(ngModel)]="filter"
        (keydown.enter)="applyFilter()"
        placeholder="{{ 'search' | translate }}"
      />
      <button
        mat-icon-button
        matSuffix
        class="icon-button-search"
        (click)="applyFilter()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-spinner
      mode="indeterminate"
      *ngIf="!this.isLoad"
      class="spinner"
      color="primary"
    ></mat-spinner>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="applySort($event)"
      matSortStart="asc"
    >
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="Number">No.</th>
        <td mat-cell *matCellDef="let i = index">
          {{ i + 1 + myPaginator.pageIndex * myPaginator.pageSize }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="name">
          {{ 'text.adminPanel.group.headers.name' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
      </ng-container>

      <ng-container matColumnDef="StartYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="startYear">
          {{ 'text.adminPanel.group.headers.startYear' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.StartYear }}</td>
      </ng-container>

      <ng-container matColumnDef="GraduationYear">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="graduationYear"
        >
          {{ 'text.adminPanel.group.headers.graduationYear' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.GraduationYear }}</td>
      </ng-container>

      <ng-container matColumnDef="studentsCount">
        <th mat-header-cell *matHeaderCellDef class="StudentsCount">
          {{ 'text.adminPanel.group.headers.studentsCount' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.StudentsConfirmedCount }}\{{
            element.StudentsNotConfirmedCount
          }}\
          {{ element.StudentsDeletedCount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="subjectsCount">
        <th mat-header-cell *matHeaderCellDef class="SubjectsCount">
          {{ 'text.adminPanel.group.headers.subjectsCount' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.SubjectsActiveCount }}\{{ element.SubjectsNotActiveCount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="s">
        <th mat-header-cell *matHeaderCellDef class="actions">
          {{ 'text.adminPanel.group.headers.action' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.group.tooltips.studentsList' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="listOfSubsject"
            (click)="openListOfStudents(element)"
          >
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.group.tooltips.subjectsList' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="listOfSubsject"
            (click)="openListOfSubject(element)"
          >
            <mat-icon>list</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="{{ 'text.adminPanel.group.tooltips.edit' | translate }}"
            [matTooltipPosition]="'above'"
            aria-label="Edit"
            matTooltipClass="tooltip"
            (click)="this.editGroup(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.group.tooltips.delete' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="Delete"
            (click)="
              deleteGroup(
                element.Id,
                element.SubjectsCount,
                element.StudentsCount
              )
            "
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #myPaginator
      [length]="25"
      [pageSize]="20"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="pageChanged($event)"
      showFirstLastButtons="true"
    >
    </mat-paginator>
  </div>
</div>
