.example-container {
  display: flex;
  flex-direction: column;
  overflow-y: initial !important;
  margin: 20px 100px;
  
}

.example-container a > * {
  width: 100%;

}

.mat-form-field {
  width: 100%;
}

.mat-select-value{
  color: #383838;
}

.mat-option-text {
  color: #383838;
}