.example-container {
  display: flex;
  flex-direction: column;
  overflow-y: initial !important;
}

.example-container a > * {
  width: 100%;

}

.mat-form-field {
  width: 100%;
}

.mat-select-value{
  color: #383838;
}

.mat-option-text {
  color: #383838;
}
