.example-container {
  display: flex;
  flex-direction: column;
  overflow-y: initial !important;
}

.example-container a > * {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-select-value{
  color: #383838;
}

.mat-option-text {
  color: #383838;
}

.mat-dialog-content{
  margin:0;
  padding: 0 6px;
}

.mat-tab-label {
  font-size: .875rem;
  font-weight: 500;
  color: #3F51B5;
}


