.test-execution-block-progress {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 97%;
}

.test-execution-block-progress-value {
}

.test-execution-block-question {
}

.test-execution-block-time {
  width: 100%;
  height: 100%;
}

.test-execution-block-time-value {
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.test-execution-container {
}

.test-execution-block-progress-block {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.test-execution-block-progress-block-item {
  border: 1px solid #a0a0a0;
  display: flex;
  width: inherit;
  color: white;
  background-color: #5d6158;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.answered {
  background-color: #00a65a;
}

.failed {
  background-color: #980403;
}

.not-answered {
  background-color: #5d6158;
}

.now {
  background-color: rgba(0, 11, 120, 0.62);
}
