<ng-container *var="files$ | async as files">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <div mat-dialog-content class="job-protection__popover" #popoverContent>
    <form class="example-form" #formElement>
      <mat-form-field class="example-full-width">
        <mat-label>{{data.body}}</mat-label>
        <textarea class="lab-work-component__news-text"
                  name="body"
                  matInput
                  [(ngModel)]="data.model.comments"
                  (paste)="onPaste($event.clipboardData)">
        </textarea>
      </mat-form-field>
      <app-file-uploader [disabled]="files.length > 0"  header="Прикрепленный материал (Можно добавить только один файл)" (delete)="deleteFile($event)" [files]="files" (upload)="uploadFile($event)"></app-file-uploader>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClose(files, false)">Отмена</button>
    <button mat-raised-button
            (click)="onClose(files, true)"
            color="primary"
            [disabled]="!formElement.checkValidity()"
    >
      {{data.buttonText}}
    </button>
  </div>
</ng-container>