<div class="subject-news-component content" *ngIf="state$ | async as state; else: load">
  <div class="subject-news-component__actions">
    <div class="subject-news-component__actions" *ngIf="state.isTeacher">
      <button mat-raised-button color="primary" (click)="constructorNews()">Добавить новость</button>
      <button mat-raised-button class="hide-action" (click)="disableNews()">Скрыть все новости</button>
      <button mat-raised-button (click)="enableNews()">Показать все новости</button>
    </div>
    <div class="subject-news-component__news" *ngFor="let oneNews of state.news"
         [ngClass]="{'_disable': oneNews.disabled && state.isTeacher,
                     '_hide': oneNews.disabled && !state.isTeacher
                     }"
         (mouseover)="onSelectNews(oneNews)"
         (mouseleave)="onSelectNews(null)"
    >
    
      <div class="subject-news-component__news-header">
        <p class="subject-news-component__news-title">{{ oneNews.title | firstLetterUppercase }}</p>
        <div class="subject-news-component__news-action" [style.opacity]="state.selectedNews === oneNews ? 1 : 0"  *ngIf="state.isTeacher">
          <button mat-icon-button color="primary" matTooltip="Редактировать новость" matTooltipPosition="above" (click)="constructorNews(oneNews)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Удалить новость" matTooltipPosition="above" (click)="deleteNews(oneNews)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="subject-news-component__news-content" [innerHtml]="oneNews.body"></div>
      <div *ngIf="oneNews.attachments.length">
        <h4 class="attachment-text mat-typography">Файлы</h4>
        <div class="attachments-container">
          <a class="attachment" *ngFor="let file of oneNews.attachments" (click)="_filesDownload(file)">{{file.name}}</a>
        </div>
      </div>
      <p class="subject-news-component__news-date">{{oneNews.dateCreate}}</p>
    </div>
  </div>
</div>

<ng-template #load>
  <mat-spinner></mat-spinner>
</ng-template>
