<div class="subject-news-component">
  <div class="subject-news-component__actions" *ngIf="teacher">
    <div class="subject-news-component__actions" *ngIf="teacher">
      <button mat-raised-button color="primary" (click)="constructorNews()">Добавить новость</button>
      <button mat-raised-button class="hide-action" (click)="disableNews()">Скрыть все новости</button>
      <button mat-raised-button (click)="enableNews()">Показать все новости</button>
    </div>
    <div class="subject-news-component__news" *ngFor="let oneNews of news"
         [ngClass]="{'_disable': oneNews.disabled && teacher,
                     '_hide': oneNews.disabled && !teacher
                     }"
         (mouseover)="selectNews = oneNews"
         (mouseleave)="selectNews = null"
    >
      <div class="subject-news-component__news-header">
        <p class="subject-news-component__news-title">{{ oneNews.title }}</p>
        <div class="subject-news-component__news-action" *ngIf="teacher && selectNews === oneNews">
          <button mat-icon-button color="primary" matTooltip="Редактировать новость" (click)="constructorNews(oneNews)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Удалить новость" (click)="deleteNews(oneNews)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
      <div class="subject-news-component__news-content" [innerHtml]="oneNews.body"></div>
      <p class="subject-news-component__news-date">{{oneNews.dateCreate}}</p>
    </div>
  </div>
</div>
<!--<ng-template class="subject-news-component__popover" #popoverContent let-news="data">-->
<!--  <form class="example-form">-->
<!--    <mat-form-field class="example-full-width">-->
<!--      <mat-label>Название Новости</mat-label>-->
<!--      <input matInput placeholder="Название" value="news.title">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width">-->
<!--      <mat-label>Текст Новости</mat-label>-->
<!--      <textarea matInput value="news.body"></textarea>-->
<!--    </mat-form-field>-->
<!--  </form>-->
<!--</ng-template>-->

<!--<ng-container class="subject-news-component__popover-delete" #popoverDeleteNew>-->
<!--  <p>Вы действительно хотите удалить новость?</p>-->
<!--</ng-container>-->
