.profile-card {
    width: 30%;
    margin: 30px;
    display: table;
}

mat-card-content {
    margin-top: 20px;
    text-align: center;
}

.project-container {
    width: 44%;
    height: 270px;
    overflow: auto;
    padding: 30px;
    margin: 20px;
    margin-top: 30px;
}

th.mat-header-cell:first-of-type {
    font-size: large;
    font-family: fantasy;
    padding: 0px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding: 0px;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.profile {
    display: flex;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}