<div class="projects-list-component">
  <div class="mdc-data-table">
    <table class="mdc-data-table__table" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr class="mdc-data-table__header-row">
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col">№</th>
          <th mat-sort-header="Theme" class="mdc-data-table__header-cell" role="columnheader" scope="col">
            {{'text.diplomProject.themeDP' | translate: 'Темa дипломного проекта'}}</th>
          <th mat-sort-header="Lecturer" class="mdc-data-table__header-cell" role="columnheader" scope="col"
            *ngIf="diplomUser.IsStudent || diplomUser.IsSecretary">{{'text.diplomProject.head' | translate:
            'Руководитель'}}</th>
          <th mat-sort-header="Student" class="mdc-data-table__header-cell" role="columnheader" scope="col">
            {{'text.diplomProject.student' | translate: 'Студент'}}</th>
          <th mat-sort-header="Group" class="mdc-data-table__header-cell" role="columnheader" scope="col">
            {{'text.diplomProject.group' | translate: 'Группа'}}</th>
          <th mat-sort-header="ApproveDate" class="mdc-data-table__header-cell" role="columnheader" scope="col">
            {{'text.diplomProject.date' | translate: 'Дата'}}</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col" *ngIf="!diplomUser.IsSecretary">
            {{'text.diplomProject.action' | translate: 'Действие'}}</th>
          <th class="mdc-data-table__header-cell" role="columnheader" scope="col"
            *ngIf="diplomUser.IsSecretary && diplomUser.IsLecturerHasGraduateStudents && this.component.isLecturer">
            {{'text.diplomProject.action' | translate: 'Действие'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mdc-data-table__row" *ngFor="let project of filteredProjects; index as i">
          <td class="mdc-data-table__cell">{{ i + 1 }}</td>
          <td class="mdc-data-table__cell">{{ project.Theme }}</td>
          <td class="mdc-data-table__cell" *ngIf="diplomUser.IsStudent || diplomUser.IsSecretary">{{ project.Lecturer }}
          </td>
          <td class="mdc-data-table__cell">{{ project.Student }}</td>
          <td class="mdc-data-table__cell">{{ project.Group }}</td>
          <td class="mdc-data-table__cell">{{ project.ApproveDate | date:'dd.MM.yyyy'}}</td>
          <td class="mdc-data-table__cell" *ngIf="diplomUser.IsStudent">
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.downloadTaskSheet' | translate: 'Скачать лист задания'}}"
              *ngIf="project.StudentId == diplomUser.UserId && project.ApproveDate != null"
              (click)="projectsComponent.downloadTaskSheet(project)">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.chooseTopic' | translate: 'Выбрать тему'}}" *ngIf="!(diplomUser.HasAssignedDiplomProject || diplomUser.HasChosenDiplomProject)
            && project.StudentId == null" (click)="projectsComponent.chooseDiplomProject(project.Id)">
              <mat-icon>done</mat-icon>
            </button>
          </td>
          <td class="mdc-data-table__cell" *ngIf="diplomUser.IsLecturer && !diplomUser.IsSecretary">
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.edit' | translate: 'Редактировать'}}"
              (click)="projectsComponent.editProject(project)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.assign' | translate: 'Назначить'}}"
              (click)="projectsComponent.assignProject(project)" *ngIf="project.StudentId == null">
              <mat-icon>assignment</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.cancel.chooseTopic' | translate: 'Отменить назначение'}}"
              (click)="projectsComponent.removeAssignment(project)" *ngIf="project.StudentId != null">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.downloadTaskSheet' | translate: 'Скачать лист задания'}}"
              (click)="projectsComponent.downloadTaskSheet(project)" *ngIf="project.StudentId != null">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="{{'text.diplomProject.remove' | translate: 'Удалить'}}"
              (click)="projectsComponent.deleteProject(project)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.confirm' | translate: 'Подтвердить выбранную тему'}}"
              (click)="projectsComponent.approveChoice(project)" *ngIf="project.StudentId && !project.ApproveDate">
              <mat-icon>done</mat-icon>
            </button>
          </td>
          <td class="mdc-data-table__cell"
            *ngIf="diplomUser.IsSecretary && diplomUser.IsLecturerHasGraduateStudents && this.component.isLecturer">
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.edit' | translate: 'Редактировать'}}"
              (click)="projectsComponent.editProject(project)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.assign' | translate: 'Назначить'}}"
              (click)="projectsComponent.assignProject(project)" *ngIf="project.StudentId == null">
              <mat-icon>assignment</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.cancel.chooseTopic' | translate: 'Отменить назначение'}}"
              (click)="projectsComponent.removeAssignment(project)" *ngIf="project.StudentId != null">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.downloadTaskSheet' | translate: 'Скачать лист задания'}}"
              (click)="projectsComponent.downloadTaskSheet(project)" *ngIf="project.StudentId != null">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="{{'text.diplomProject.remove' | translate: 'Удалить'}}"
              (click)="projectsComponent.deleteProject(project)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary"
              matTooltip="{{'text.diplomProject.confirm' | translate: 'Подтвердить выбранную тему'}}"
              (click)="projectsComponent.approveChoice(project)" *ngIf="project.StudentId && !project.ApproveDate">
              <mat-icon>done</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>