.visit-lectures-component {

  &__header {
    display: flex;

    &-select-group, button {
      margin-right: 20px;
    }

    &-actions {
      padding: 10px 0;
    }
  }


  &__table-lecture-visiting {
    table.mat-table {
      width: 100%;
    }

    .mat-header-cell {
      font-family: Roboto, sans-serif;
      font-weight: 600;
      color: black;
      font-size: 14px;
    }

    .header-date {
      transform: rotate(270deg);
      font-size: 12px;
      float: left;
    }

    th.mat-header-cell:last-of-type {
      padding-right: 0;
    }

    .mat-column-name {
      padding-left: 10px;
    }

    tr.mat-header-row {
      height: 86px;
    }

    td {
      border-top: 1px solid rgba(0, 0, 0, .12);
    }

    td, th {
      border-right: 1px solid rgba(0, 0, 0, .12);
      border-bottom: 0;
    }
  }
}
