<div class="visit-lectures-component" *ngIf="state$ | async as state; else: load">
  <div class="visit-lectures-component-actions" *ngIf="isTeacher">
    <button mat-raised-button color="primary" (click)="settingVisitDate()">Управление расписанием</button>
    <button mat-raised-button color="warn" (click)="deletePopover()">Удалить все даты</button>
  </div>
  <div class="visit-lectures-component__table-lecture-visiting" *ngIf="state.groupsVisiting">
    <table mat-table [dataSource]="state.groupsVisiting.LecturesMarksVisiting" class="mat-elevation-z14">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Студент</th>
        <td mat-cell *matCellDef="let element"> {{element.StudentName}}</td>
      </ng-container>

      <ng-container *ngFor="let day of state.calendar; let i = index" matColumnDef="{{day.Date + day.Id}}">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header-date">{{day.Date}}</div>
        </th>
        <td mat-cell *matCellDef="let element"
            style="text-align: center;"
            (dblclick)="setVisitMarks(day, state.groupsVisiting.LecturesMarksVisiting, i)"
        >
        <div *ngIf="element.Marks[i] && element.Marks[i].Comment" class="comment" [matTooltip]="element.Marks[i].Comment" matTooltipPosition="above">
          <mat-icon class="comment-icon">chat_bubble_outline</mat-icon>
        </div>
          {{element.Marks[i] && element.Marks[i].Mark}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(state.calendar)"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(state.calendar);"></tr>
    </table>
  </div>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
