<div class="materials-body">
  <table>
    <tr>
      <a class="main-anchor" routerLink="/main">< К списку ЭУМК</a>
    </tr>
    <tr>
      <b style="font-size: 30px; padding-left:800px">{{complexName}}</b>
    </tr>
    <tr>
      <button mat-raised-button class="add-button" (click)="openAddPopup()">Добавить элемент</button>
    </tr>
  </table>
  <app-material-tree class="material" [complexId]="complexID"></app-material-tree>
</div>


<!--<mat-tab-group>
  <mat-tab label="ЭУМК">
    <div class="labs-component__body">
      
    </div>
  </mat-tab>
  <mat-tab label="Адаптивное обучение"></mat-tab>
 </mat-tab-group>-->  
