<div class="materials-body">
  <table>    
    <td style="width: 800px">
      <a class="main-anchor" routerLink="/main">< К списку ЭУМК</a>
    </td>
    <td style="font-size: 30px">
      <b>{{complexName}}</b>
    </td>    
  </table>
  <app-material-tree class="material" [complexId]="complexID"></app-material-tree>
</div>


<!--<mat-tab-group>
  <mat-tab label="ЭУМК">
    <div class="labs-component__body">
      
    </div>
  </mat-tab>
  <mat-tab label="Адаптивное обучение"></mat-tab>
 </mat-tab-group>-->  
