.mat-dialog-content {
  padding: 0;
  margin: 0;
}

.search {
  float: right;
  width: 40%;
}

.dialog-buttons {
  float: right;
}

.close-button {
  float: right;
}

table {
  width: 100%;
}
.theme-subtitle {
  font-size: 15px;
  color: #888;
  margin-top: -18px;
  margin-bottom: 20px;
}
.dialog-title {
  font-weight: 400;
}