:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

h1[mat-dialog-title] {
  font-weight: 400;
  margin: 0;
}

.form-field {
  width: 100%;
}

.mat-dialog-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-shrink: 0;
}