<div class="content subjects-component">
  <div class="subjects-component__actions">
    <button mat-raised-button color="primary" (click)="constructorSubject()">{{'subject.add' | translate:'Добавить предмет'}}</button>
  </div>
  <table mat-table
         [dataSource]="subjects$ | async | orderBy:'Name'"
         class="mat-elevation-z14 example-list">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'subject.name' | translate:'Название предмета'}}</th>
      <td mat-cell *matCellDef="let element">
        <span class="navigation-link" (click)="navigateToSubject(element.SubjectId)">{{element.DisplayName}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef>{{'subject.abbreviation' | translate:'Аббревиатура'}}</th>
      <td mat-cell *matCellDef="let element"> {{element.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="groups">
      <th mat-header-cell *matHeaderCellDef>{{'group.plural' | translate:'Группы'}}</th>
      <td mat-cell *matCellDef="let element" 
        [matTooltipClass]="'tooltip'" 
        [matTooltip]="getSubjectGroupsTooltip(element.Groups)"> 
        <span>{{element.GroupsCount}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef>{{'text.students' | translate:'Студенты'}}</th>
      <td mat-cell *matCellDef="let element"> {{element.StudentsCount}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{'text.action' | translate:'Действие'}}</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary"
                [matTooltip]="'subject.lector.join' | translate:'Присоединить преподавателя'"
                (click)="lector(element.SubjectId, element.DisplayName)"
        >
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button color="primary"
                [matTooltip]="'subject.edit' | translate:'Редактировать предмет'"
                (click)="constructorSubject(element.SubjectId)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary"
                [matTooltip]="'subject.delete' | translate:'Удалить предмет'"
                (click)="deleteSubject(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>
