<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<mat-slide-toggle style = "margin-top: 15px;float: right;" class="example-margin"
                  [color]="'primary'"
                  (change)="subjectsStatusChange($event)"
>
  {{'text.statistics.inactive.subjects' | translate:'Завершенные предметы'}}
</mat-slide-toggle>
<div *ngIf="!isArchived">
<table style = "width: 100%">
  <tr>
<div *ngFor="let chart of this.listChartOptions"  class="diagram">
  <h6 (click)="rerouteToSubject(chart.subject)" style = "font-size: 16px;font-family: Roboto, Helvetica Neue, sans-serif;width: 75%;
  margin-left: 12%; margin-top: 10px; text-align: center">
    {{chart.title.text}}</h6>
  <div class = "radar">
  <apx-chart
    [series]="chart.series"
    [chart]="chart.chart"
    [xaxis]="chart.xaxis"
    [yaxis]="chart.yaxis"
    [legend] = "chart.legend"
    [fill] = "chart.fill"
    [colors] = "chart.colors"
    [markers] = "chart.markers"
    [stroke]= "chart.stroke"
  ></apx-chart>
  </div>

  <table style = "margin-top: -10%;margin-left: 10%">
    <tr *ngFor="let i of [0,1,2,3,4]">
      <td [ngStyle]="{ 'color': chart.colors[i],'font-family': 'Roboto, Helvetica Neue, sans-serif',
      'font-size': '16px', 'padding-right': '10px'}">{{chart.series[0].data[i]}}</td>
      <td *ngIf="chart.categories[i] != '0'" style = "font-size: 14px;
      font-family: Roboto, Helvetica Neue, sans-serif;">{{chart.categories[i]}}</td>
    </tr>
  </table>
</div>

<div *ngIf="chartOptions1 != undefined" id="chart" style = "width: 100%; margin-top: 30px; margin-left: 2%;">
  <apx-chart
    [series]="chartOptions1.series"
    [chart]="chartOptions1.chart"
    [dataLabels]="chartOptions1.dataLabels"
    [plotOptions]="chartOptions1.plotOptions"
    [xaxis]="chartOptions1.xaxis"
    [stroke]="chartOptions1.stroke"
    [fill]="chartOptions1.fill"
    [yaxis]="chartOptions1.yaxis"
    [title]="chartOptions1.title"
    [tooltip]="chartOptions1.tooltip"
    [colors]="chartOptions1.colors"
    [legend]="chartOptions1.legend"
  ></apx-chart>
</div>
</tr>
</table>
</div>

<div *ngIf="isArchived">
  <table style = "width: 100%">
    <tr>
      <div *ngFor="let chart of this.listChartOptionsArchive"  class="diagram">
        <h6 (click)="rerouteToSubject(chart.subject)" style = "font-size: 16px;font-family: Roboto, Helvetica Neue, sans-serif;width: 75%;
  margin-left: 12%; margin-top: 10px; text-align: center">
          {{chart.title.text}}</h6>
        <div class = "radar">
          <apx-chart
            [series]="chart.series"
            [chart]="chart.chart"
            [xaxis]="chart.xaxis"
            [yaxis]="chart.yaxis"
            [legend] = "chart.legend"
            [fill] = "chart.fill"
            [colors] = "chart.colors"
            [markers] = "chart.markers"
            [stroke]= "chart.stroke"
          ></apx-chart>
        </div>

        <table style = "margin-top: -10%;margin-left: 10%">
          <tr *ngFor="let i of [0,1,2,3,4]">
            <td [ngStyle]="{ 'color': colors[i],'font-family': 'Roboto, Helvetica Neue, sans-serif',
      'font-size': '16px', 'padding-right': '10px'}">{{chart.series[0].data[i]}}</td>
            <td *ngIf="chart.categories[i] != '0'" style = "font-size: 14px;
      font-family: Roboto, Helvetica Neue, sans-serif;">{{chart.categories[i]}}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="chartOptionsArchive != undefined" id="chartArchive" style = "width: 100%; margin-top: 30px; margin-left: 2%;">
        <apx-chart
          [series]="chartOptionsArchive.series"
          [chart]="chartOptionsArchive.chart"
          [dataLabels]="chartOptionsArchive.dataLabels"
          [plotOptions]="chartOptionsArchive.plotOptions"
          [xaxis]="chartOptionsArchive.xaxis"
          [stroke]="chartOptionsArchive.stroke"
          [fill]="chartOptionsArchive.fill"
          [yaxis]="chartOptionsArchive.yaxis"
          [title]="chartOptionsArchive.title"
          [tooltip]="chartOptionsArchive.tooltip"
          [colors]="chartOptionsArchive.colors"
          [legend]="chartOptionsArchive.legend"
        ></apx-chart>
      </div>
    </tr>
  </table>
</div>

