<div class="lectures-component" *ngIf="files$ | async as files">
  <h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content class="lectures-component__popover" #popoverContent>
  <form class="example-form" #formElement>
    <mat-form-field class="example-full-width">
      <mat-label>Тема лекции</mat-label>
      <textarea required class="lectures-component__news-text" maxlength="256" name="body" matInput [(ngModel)]="data.model.theme"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Количество часов(1-99)</mat-label>
      <input name="duration" min="1" max="99" required type="number" matInput placeholder="Количество часов" [(ngModel)]="data.model.duration">
    </mat-form-field>
    <app-file-uploader header="Прикрепленный материал" (delete)="deleteFile($event)" [files]="files" (upload)="uploadFile($event)"></app-file-uploader>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onClose(files, false)">Отмена</button>
  <button mat-raised-button
          (click)="onClose(files, true)"
          color="primary"
          [disabled]="!formElement.checkValidity()"
  >{{data.buttonText}}</button>
</div>
</div>