<app-header [text]="'Тестирование и отладка ПО'"
            [smallText]="'Доступные тесты'"></app-header>
<div class="test-execution-container">
  <div class="test-execution-block-time">
    <div class="test-execution-block-time-value">
      00:08:54
    </div>
  </div>
  <div class="test-execution-block-question">
    <app-question *ngIf="question" [question]="question" [questionNumber]="questionNumber"
                  (goToNextQuestion)="nextQuestion($event)" [test]="test"></app-question>
  </div>
  <div class="test-execution-block-progress" *ngIf="test">
    <div class="test-execution-block-progress-block">
      <div class="test-execution-block-progress-block-item" (click)="nextQuestion(false, i+1)" [class.failed]="questionArray.includes(i+1)"
           [class.answered]="!questionArray.includes(i+1)" [class.now]="questionNumber == i+1" *ngFor="let dummy of ' '.repeat(test.CountOfQuestions).split(''), let i = index">
        {{i+1}}
      </div>
    </div>
  </div>
</div>
