<!--<app-header [text]="'Тестирование и отладка ПО'"
            [smallText]="'Доступные тесты'"></app-header>-->
<div class="test-execution-container">
  <div class="test-execution-block-top">
    <div class="question-title">
      <div class="question-title-big">
        {{'text.test.question.num' | translate : ('Вопрос №' + question?.Number) : {number:question?.Number} }}
      </div>
      <div class="question-title-small" *ngIf="test">{{test?.Title}}</div>
    </div>
    <div class="test-execution-block-time">
      <div class="test-execution-block-time-value">
        {{counter$ | async}}
      </div>
    </div>
  </div>
  <div class="test-execution-block-question" *ngIf="question">
    <app-question class="test-execution-block-question"
                  [question]="question"
                  [questionNumber]="questionNumber"
                  (goToNextQuestion)="nextQuestion($event)"
                  [test]="test">
    </app-question>
  </div>
  <div class="test-execution-block-question-spinner" *ngIf="!question">
    <mat-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
  <div class="test-execution-block-progress" *ngIf="test">
    <div class="test-execution-block-progress-block">
      <div class="test-execution-block-progress-block-item" (click)="nextQuestion(false, i+1)"
           [class.failed]="falseAnswersArray?.includes(i+1)"
           [class.absent]="!allAnswersArray?.includes(i+1) && !falseAnswersArray?.includes(i+1) && !trueAnswersArray?.includes(i+1)"
           [class.not-answered]="allAnswersArray?.includes(i+1)"
           [class.answered-show]="trueAnswersArray?.includes(i+1) && test?.ForSelfStudy"
           [class.answered]="trueAnswersArray?.includes(i+1) && !test?.ForSelfStudy"
           [class.now]="questionNumber == i+1"
           *ngFor="let dummy of ' '.repeat(test.CountOfQuestions).split(''), let i = index">
        {{i+1}}
      </div>
    </div>
  </div>
</div>
