.mat-dialog-container{
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.dialog {
  border-style: solid;
  border-left-width: 0px;
  border-radius: 0px;
  border-bottom-width: 0px ;
  border-top-width: 0px;
  border-right-width: 0px ;
  background-color: #f5f5f5;
  padding: 0px;
  margin: 0px;
}

.vid{
  width: 70vw;
  height: 39.5vw;
}