<!--<app-header [text]="'Тестирование и отладка ПО'"
            [smallText]="'Результаты тестов'"></app-header>-->
<app-main-page [allowChanges]="true"
               [text]="'text.test.passing.now' | translate: 'В данный момент тесты проходят:'"
               [hideSearch]="true"
               (onValueChangeSearch)="filterStudents($event)"
               [adminTests]="false"
               [groupDropdown]="false"
               [adminQuestions]="false"></app-main-page>
<div class="control-completing-container">
  <div class="control-completing-container-test" *ngFor="let test of filteredControlItems">
    <div class="control-completing-container-test-name">
      {{test.Test}}
    </div>
    <div class="control-completing-container-test-description" *ngFor="let student of test.Students">
      <div class="control-completing-container-test-description-item-name">
        {{student.StudentName}}
      </div>
      <div class="control-completing-container-test-description-item-progress">
        <div class="control-completing-container-test-description-item-progress-item" *ngFor="let res of student.PassResults; let i = index" [class.correct]="res === 1" [class.incorrect]="res === 2">
          {{i+1}}
        </div>
      </div>
    </div>
  </div>
</div>
