<app-popover *var="files$ | async as files">
  <ng-container title>
    {{data.title}}
  </ng-container>
  <ng-container body>
    <form class="form" [formGroup]="labForm">
      <mat-form-field class="full-width">
        <mat-label>{{'text.subjects.practicals.name' | translate:'Название практического занятия'}}</mat-label>
        <textarea  matInput formControlName="theme"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>{{'short.name' | translate:'Краткое название'}}</mat-label>
        <input matInput [placeholder]="'abbreviation' | translate:'Сокращенное название'" formControlName="shortName" readonly>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>{{'text.number.hours' | translate:'Количество часов'}}(1-5)</mat-label>
        <input formControlName="duration" type="number" matInput [placeholder]="'text.number.hours' | translate:'Количество часов'">
      </mat-form-field>
      <app-file-uploader [header]="'text.subjects.attachments.material' | translate:'Прикрепленный материал'" (delete)="deleteFile($event)" [files]="filesArray.value" (upload)="uploadFile($event)"></app-file-uploader>
    </form>
  </ng-container>
  <ng-container actions>
    <button mat-raised-button (click)="onClose(false)">{{'button.close' | translate:'Отмена'}}</button>
    <button mat-raised-button
            (click)="onSave()"
            color="primary"
            [disabled]="labForm.invalid"
    >
      {{data.buttonText}}</button>
  </ng-container>
</app-popover>