<div class="page-wrap">
	<div class="container">
		<table>
			<td class="col-first" >
					<a class="cat" href="#">
						<img id="mascot-body" src="./../../assets/images/mascot-body.svg" />
						<img id="mascot-tail" src="./../../assets/images/mascot-tail.svg" />
					</a>
					<br>
					<img src="./../../assets/images/logo.png" class="logo"/>
					<p>Care about the students </p> 
					<div class="btn_back" title= "Нажмите,чтобы вернуться назад">
						<button mat-raised-button color="basic" (click)="routeToLogin() ">Назад</button>
					</div>
			</td>
			<table>
			<td class="col-second">
					<h1 class="title">Что из себя представляет система CATS?</h1>
					<div class="text">
					<p>Обучающая система CATS предназначена для повышения качества подготовки 
					специалистов дневной и заочной форм обучения, а также для самостоятельной работы.
					С точки зрения функциональных возможностей поддерживается работа в 4 ролях:</p>
					<ul>
					  <li>Администратор.</li>
					  <li>Преподаватель.</li>
					  <li>Студент.</li>
					  <li>Наблюдатель.</li>
					</ul>
					<p>Первые 3 роли подлежат аутентификации.</p>
					<p>Функциональности преподавателя:</p>
					<ol>
					  <li>создание/редактирование/удаление предметов;</li>
					  <li>формирование предмета из различных блоков(новости, лекции и др.);</li>
					  <li>прикрепление групп к предметам, разделение студентов на подгруппы;</li>
					  <li>организация проведения лекционных, практических, лабораторных занятий 
					  с прикреплением заданий и нужных материалов, ведением электронного журнала,
					  формированием графика защиты работ, расчета рейтинговой оценки по предмету;</li>
					  <li>проверка присланных работ на плагиат путём сравнения их с работами,
					  хранящимися в архиве текущего и прошлых семестров.</li>
					  <li>формирование тестов для контроля и самоконтроля знаний студентов, организация проведения 
					  автоматизированного тестирования, ведение статистики результатов пройденных тестов;</li>
					  <li>организация курсового и дипломного проектирования;</li>
					  <li>создание ЭУМК(электронного учебно-методического комплекса)  с автоматическим формированием учебной карты;</li>
					  <li>адаптивность обучения для определения пробелов в знаниях обучающегося и построение его
					  индивидуальной траектории обучения;</li>
					  <li>создание интерактивного учебника со встроенным редактором и возможностью экспорта;</li>
					  <li>обмен сообщениями с пользователями системы (администратором, преподавателями и студентами);</li>
					</ol>
					<p>В роли студента доступен следующий набор функциональности: </p>
					<ol>
					  <li>просмотр/загрузка всей предоставленной информации (расписания занятий, новостей, 
					  заданий и т.д.) по учебным дисциплинам;</li>
					  <li>изучение учебно-методических материалов в ЭУМК и интерактивном учебнике;</li>
					  <li>прохождение тестов для контроля знаний, самообучения и адаптивного обучения;</li>
					  <li>отправка отчетов по лабораторным и практическим работам на защиту;</li>
					  <li>выбор тем для курсового и дипломного проектирования, отслеживание процентовок выполнения проектов;</li>
					  <li>обмен сообщениями с преподавателями и администратором;</li>
					  <li>просмотр личной статистики успеваемости по учебным дисциплинам.</li> 
					</ol>
					<p>В роли наблюдателя реализована функциональность просмотра статистики успеваемости, позволяющая родителям студентов, работникам деканата и кафедры посмотреть интересующую информацию о результативности учебного процесса: количество пропущенных занятий, количество защищенных работ, оценки за тесты, рейтинговые оценки студентов и др. Для этого не требуется проходить авторизацию в системе, а лишь ввести номер интересующей группы или фамилию студента.</p>
					</div>
			</td>
		</table>
		</table>
	</div>
</div>