<div class="labs-work-component" *ngIf="labsWork">
  <table mat-table [dataSource]="labsWork" class="mat-elevation-z14">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="theme">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let element"> {{element.theme}}</td>
    </ng-container>

    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef>Краткое название</th>
      <td mat-cell *matCellDef="let element"> {{element.shortName}}</td>
    </ng-container>

    <ng-container matColumnDef="clock">
      <th mat-header-cell *matHeaderCellDef>Часы</th>
      <td mat-cell *matCellDef="let element"> {{element.duration}}</td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef>Скачать</th>
      <td mat-cell *matCellDef="let element">
        <button class="mdc-button" *ngIf="element.attachments.length > 0">
          <i class="material-icons mdc-button__icon" aria-hidden="true">library_books</i>
          <span class="mdc-button__label">Файлы</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
