<div class="labs-work-component" *ngIf="labs; else load">
  <div class="labs-work-component__actions" *ngIf="isTeacher">
    <button
      mat-raised-button
      color="primary"
      (click)="constructorLab(labs.length)"
    >
      {{ 'text.subjects.add' | translate: 'Добавить работу' }}
    </button>
  </div>
  <table
    mat-table
    #table
    [dataSource]="labs"
    cdkDropList
    [cdkDropListData]="labs"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="theme">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'text.subjects.labs.theme' | translate: 'Тема работы' }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Theme }}</td>
    </ng-container>

    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'short.name' | translate: 'Краткое название' }}
      </th>
      <td mat-cell *matCellDef="let element; let idx = index">
        {{this.labPrefix}}
        {{ element.ShortName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'hours' | translate: 'Часы' }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Duration }}</td>
    </ng-container>

    <ng-container matColumnDef="files">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'text.attachments.plural' | translate: 'Файлы' }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          class="mdc-button"
          *ngIf="element.Attachments.length > 0"
          [matTooltip]="
            'attached.files.tooltip' | translate: 'Приклеплённые файлы'
          "
          matTooltipPosition="above"
          (click)="openFilePopup(element.Attachments)"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >library_books</i
          >
          <sub class="mdc-button__label">{{ element.Attachments.length }}</sub>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="isTeacher">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'text.action' | translate: 'Действие' }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="
            'text.subjects.labs.edit'
              | translate: 'Редактировать лабораторную работу'
          "
          (click)="constructorLab(labs.length, element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="
            'text.subjects.labs.delete'
              | translate: 'Удалить лабораторную работу'
          "
          (click)="deleteLab(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getDisplayedColumns()"
      [cdkDragDisabled]="!isTeacher"
      cdkDragLockAxis="y"
      cdkDrag
      [cdkDragData]="row"
    ></tr>
  </table>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
