.one-edge-shadow {
  display: flex;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px #bab3f1;
  height: 100%;
}
.header-text{
  font-size: 24px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.header-text-small{
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
  color: #9c9694;
  margin-top: 15px;
  margin-left: 5px;
}
