<h1 mat-dialog-title>{{'text.editor.confirmation' | translate: 'Подтверждение'}}</h1>
<div mat-dialog-content>
  <p>{{'text.editor.remove.confirmation.text' | translate: 'Вы уверены, что хотите удалить'}} "{{sanitizeHtml(data.Name)}}"?</p>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button (click)="onNoClick()">{{'text.editor.no' | translate: 'Нет'}}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.Id" cdkFocusInitial>{{'text.editor.yes' | translate: 'Да'}}</button>
</div>
