<ng-container *ngIf="files$ | async as files">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <div mat-dialog-content style="max-height: none;" class="practical-lesson-component__popover" #popoverContent>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Название практического занятия</mat-label>
        <textarea class="practical-lesson-component__news-text" required name="body" matInput [(ngModel)]="data.model.theme"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Краткое название</mat-label>
        <input name="shortName" readonly matInput placeholder="Сокращенное название" [ngModel]="data.model.shortName">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Количество часов(1-99)</mat-label>
        <input name="duration" required type="number" matInput placeholder="Количество часов" [(ngModel)]="data.model.duration">
      </mat-form-field>
      <app-file-uploader header="Прикрепленный материал" (delete)="deleteFile($event)" [files]="files" (upload)="uploadFile($event)"></app-file-uploader>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClose()">Отмена</button>
    <button mat-raised-button
            (click)="onClose()"
            color="primary"
            [disabled]="!(data.model.theme && data.model.duration)"
    >
      {{data.buttonText}}</button>
  </div>
</ng-container>