<ng-container >
  <app-popover *var="files$ | async as files">
    <ng-container title>
      {{data.title}}
    </ng-container>
    <ng-container body>
      <form class="form">
        <mat-form-field class="full-width">
          <mat-label>Название практического занятия</mat-label>
          <textarea required name="body" matInput [(ngModel)]="data.model.theme"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Краткое название</mat-label>
          <input name="shortName" readonly matInput placeholder="Сокращенное название" [ngModel]="data.model.shortName">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Количество часов(1-99)</mat-label>
          <input name="duration" required type="number" matInput placeholder="Количество часов" [(ngModel)]="data.model.duration">
        </mat-form-field>
        <app-file-uploader header="Прикрепленный материал" (delete)="deleteFile($event)" [files]="files" (upload)="uploadFile($event)"></app-file-uploader>
      </form>
    </ng-container>
    <ng-container actions>
      <button mat-raised-button (click)="onClose(files, false)">Отмена</button>
      <button mat-raised-button
              (click)="onClose(files, true)"
              color="primary"
              [disabled]="!(data.model.theme && data.model.duration)"
      >
        {{data.buttonText}}</button>
    </ng-container>
  </app-popover>
</ng-container>