<div>
  <mat-icon (click)="onCancelClick()" style="cursor: pointer;position: relative; float: right">close</mat-icon>
</div>
<div>
  <p align="center"> {{'text.schedule.delete.event' | translate:'Удалить занятие/событие?'}} </p>
  <div align="center">
    <button mat-raised-button color="basic" style="outline:none;" (click)=onCancelClick()>{{'button.no'| translate:'Нет'}}</button>
    <button style="outline:none; margin-left: 20px;" mat-raised-button color="primary" (click)="onConfirmClick()">{{'text.test.yes'| translate:'Да'}}</button>
  </div>
</div>
