<div class="head_elements">
<div>
  <div>
    <h1 mat-dialog-title >
      {{ 'complex.adaptiveTopic' | translate: 'Мониторинг прочтения темы' }} "
        <span>{{ data.name }}</span> "
    </h1>
  </div>
  <div class="expected-reading-time">
    {{ 'complex.expectedReadingTime' | translate: 'Ожидаемое время прочтения темы' }}: 
    <span>{{ estimated }}</span>
  </div>
</div>
  <button class="close" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-form-field>
  <mat-select
    [(value)]="selected"
    (selectionChange)="onOptionsSelected()"
    required
  >
    <mat-option *ngFor="let group of groups" [value]="group">
      {{ group.Name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'common.monitoringName' | translate: 'Студенты' }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
  </ng-container>

  <ng-container matColumnDef="seconds">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'common.topicTime' | translate: 'Время прочтения темы' }}
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.Color}">
      {{ element.Seconds }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div mat-dialog-actions class="mat-dialog-actions-class">
  <button mat-raised-button (click)="onNoClick()">
    {{ 'common.close' | translate: 'Закрыть' }}
  </button>
</div>
