<h1 mat-dialog-title>
  {{ 'complex.adaptiveTopic' | translate: 'Мониторинг по теме' }} "<i
    ><b>{{ data.name }}</b></i
  >"
</h1>

<mat-form-field appearance="fill">
  <mat-label>
    {{ 'common.selectGroup' | translate: 'Выбрать группу' }}
  </mat-label>
  <mat-select
    [(value)]="selected"
    (selectionChange)="onOptionsSelected()"
    required
  >
    <mat-option *ngFor="let group of groups" [value]="group">
      {{ group.Name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'common.monitoringName' | translate: 'Имя' }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="seconds">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'common.time' | translate: 'Время' }}
    </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{ color: element.color }">
      {{ element.seconds }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">
    {{ 'common.cancel' | translate: 'Отмена' }}
  </button>
</div>
