.percentage-results-component {

  &__header {
    overflow: auto;
    .iconify { 
      width: 30px;
      height: 30px;
      color: rgb(61, 80, 182);
    }

    .detached-toggle {
      margin-top: 25px;
    }
  }

  &__group-select {
    width: 100px;
  }

  &__search {
    float: right;
    width: 30%;
    margin-bottom: 3px;
  }

}
