<h1 mat-dialog-title *ngIf="data.edit">Редактирование темы курсового проекта</h1>
<h1 mat-dialog-title *ngIf="!data.edit">Добавление темы курсового проекта</h1>
<div mat-dialog-content>
  <mat-form-field class="form-field">
    <mat-label>Тема курсового проекта</mat-label>
    <input matInput [formControl]="nameControl" [(ngModel)]="data.name">
    <mat-error *ngIf="nameControl.invalid">От 3 до 255 символов</mat-error>
  </mat-form-field>
  <mat-label style="font-size: 12px">Группы:</mat-label>
  <mat-selection-list [(ngModel)]="data.selectedGroups">
    <mat-list-option *ngFor="let group of data.groups" [value]="group">
      {{group.Name}}
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-button class="dialog-button" (click)="onCancelClick()">Отмена</button>
  <button mat-flat-button class="dialog-button" color="accent" [mat-dialog-close]="data"
          [disabled]="nameControl.invalid">
    Сохранить
  </button>
</div>
