.percentage-results-component {

  &__header {
    overflow: auto;
    margin-left: 20px;
  }

  &__group-select {
    width: 150px;
  }

  &__search {
    float: right;
    width: 30%;
  }

  &__body {
  }

}
