h1 {
    font-weight: lighter;
    font-size: 18px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid lavender;
}

mat-dialog-content {
    width: 300px; 
}

.btn {
    background-color: cornflowerblue;
    color: white;
    border: white;
}

mat-dialog-actions {
    float: right;
}