<ng-container *ngIf="state$ | async as state">
    <button mat-raised-button color="primary" (click)="addLab()" style="margin: 20px 0;">Добавить работу</button>
    <ng-container *ngIf="state.studentJobProtection">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let jobProtection of state.studentJobProtection.JobProtections"
                                    (opened)="onSelectLab(jobProtection.LabId, state.userId)"
                                    (closed)="onSelectLab(0, state.userId)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="priority-icon" *ngIf="jobProtection.IsReturned" [color]="'primary'">priority_high</mat-icon>
                        {{jobProtection.LabName}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-job-protection-content 
                    *ngIf="selectedLabId === jobProtection.LabId" 
                    [labFiles]="labFiles$ | async" 
                    [actionsTemplate]="studentActions"></app-job-protection-content>
                <ng-template let-file="file" #studentActions>
                    <div *ngIf="!(jobProtection.IsReceived || jobProtection.IsReturned)">
                        <button mat-icon-button color="primary"
                                matTooltip="Редактировать лабораторную работу"
                                (click)="addLab(jobProtection.StudentId, file)"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary"
                                matTooltip="Удалить лабораторную работу"
                                (click)="deleteLab(file.Id, jobProtection.StudentId, file.LabId)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </ng-template>
            </mat-expansion-panel>
         </mat-accordion>
    </ng-container>
</ng-container>

