<ng-container *ngIf="state$ | async as state">
    <button mat-raised-button color="primary" (click)="addLab()">
        {{'text.subjects.labs.add' | translate:'Добавить работу'}}
        </button>
    <div class="student-job-protection-body">
        <app-job-protection-content 
        [labFiles]="state.labFiles" 
        [actionsTemplate]="studentActions"></app-job-protection-content>
    </div>
    <ng-template let-file="file" #studentActions>
        <div *ngIf="!(file.IsReceived || file.IsReturned)">
            <button mat-icon-button color="primary"
                    [matTooltip]="'text.subjects.labs.edit' | translate:'Редактировать лабораторную работу'"
                    (click)="addLab(state.userId, file)"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary"
                    [matTooltip]="'text.subjects.labs.delete' | translate:'Удалить лабораторную работу'"
                    (click)="deleteLab(file.Id, state.userId, file.LabId)"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ng-template>
</ng-container>

