<h4 class="attachment-text mat-typography">{{header}}</h4>
<input #csvInput hidden="true" type="file" (change)="uploadFile($event.target)" />
<button mat-flat-button class="upload-btn" (click)="csvInput.click()" [disabled]="disabled">Добавить файл</button>
<div class="mdc-data-table file-table" *ngIf="files.length">
    <table class="mdc-data-table__table">
        <tbody>
            <tr class="mdc-data-table__row" *ngFor="let file of files" >
                <ng-container *ngIf="!!file; else loader">
                    <td class="mdc-data-table__cell example-content icon-cell">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
                            *ngIf="file.Type.toLowerCase() !== 'image'; else image">description</i>
                        <ng-template #image><img [src]="file.ThumbnailUrl"></ng-template>
                    </td>
                    <td class="mdc-data-table__cell example-content">
                        <a matTooltip="{{file.Name}}" matTooltipPosition="below"
                            href="{{file.IdFile === -1 ? '#' : file.Url}}">
                            {{file.Name}}
                        </a>
                    </td>
                    <td class="mdc-data-table__cell example-content">{{file.Type}}</td>
                    <td class="mdc-data-table__cell example-content">{{(file.Size / 1024).toFixed(2)}} КБ</td>
                    <td class="mdc-data-table__cell" style="color: red" *ngIf="file.IdFile === -1; else attached">
                        Загруженный файл
                    </td>
                    <ng-template #attached>
                        <td class="mdc-data-table__cell" style="color: blue">Прикрепленный файл</td>
                    </ng-template>
                    <td class="mdc-data-table__cell" style="padding-left: 0">
                        <button mat-icon-button color="primary" matTooltip="Удалить файл" matTooltipPosition="before"
                            (click)="deleteFile(file)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-template #loader>
                    <td class="mdc-data-table__cell" colspan="6">
                        <app-loader [diameter]="30"></app-loader>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>