.container {
    display: flex;
    justify-content: space-between;
}

table {
    border: 1px solid lavender;
    width: 100%;
}

.title {
  font-size: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.close-icon {
  float: right;
}

.title {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

th {
    width: 100px;
}

.student-name {
    text-align: center;
    padding: 10px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}
