@import '~@angular/material/theming';

.tree-invisible {
  display: none;
}

mat-icon {
  font-size: 18px;
}

.mat-icon-button {
  width: 30px;
  height: 30px;

  .mat-icon {
    line-height: 15px;
  }
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-inline-start: 5px;
}

.mat-tree-node {
  background-color: transparent;//#fafafa
  user-select: none;
  min-height: 40px;
  cursor: move;
  &.cdk-drag-preview { // while dragging
    @include mat-elevation(12);
  }
  &.cdk-drag-placeholder { // potential drop area
    opacity: 0;
  }

  label {
    padding: 6px;
    border-radius: 15px;
    margin: 0px 1px;
  }

  label:hover {
    background: rgba(0,0,0,.04);
  }

  .highlight {
    background: rgba(0,0,0,.2);
  }
}

.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
