@import '~@angular/material/theming';

.tree-invisible {
  display: none;
}

mat-icon {
  font-size: 18px;
}

.shadow {
  color:rgba(0,0,0,0.3);
  font-size: 16px;
  width: 16px;
  height: 16px;
  cursor: default;
}

.mat-icon-button {
  width: 30px;
  height: 30px;

  .mat-icon {
    line-height: 15px;
  }
}

.mat-menu-item {
  .mat-icon {
    margin-right: 0px;
    vertical-align: sub;
  }
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-inline-start: 1px;
}

.mat-tree-node {
  background-color: transparent;//#fafafa
  user-select: none;
  min-height: 30px;
  cursor: move;
  &.cdk-drag-preview { // while dragging
    @include mat-elevation(12);
  }
  &.cdk-drag-placeholder { // potential drop area
    opacity: 0;
  }

  label {
    padding: 6px;
    margin: 0px;
  }

  label:hover {
    background: rgba(0,0,0,.04);
  }

  .highlight {
    background: rgba(0,0,0,.2);
  }
}
