.subject-management {
  width: 500px;
  .example-h2 {
    margin: 10px;
  }

  .section {
    display: flex;
  }

  .title {
    font-weight: 400;
    margin-bottom: 10.5px;
  }

  .example-section {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    margin-bottom: 21px;
    width: 100%;
    justify-content: space-between;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 1px;

    .example-full-width {
      width: 100%;
    }
  }

  .color-picker {
    border: 1px solid #000000;
    border-radius: 3px;
    width: 180px;
    position: inherit !important;
    margin-bottom: 21px;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}

.mat-dialog {
  &-actions {
    justify-content: flex-end;
  }
}

::ng-deep.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
  background: #3f51b5;
}

::ng-deep.mat-checkbox-disabled .mat-checkbox-label {
  color: inherit
}

::ng-deep {
  .cdk-overlay-pane {
    position: absolute!important;
    left: 50%;
    transform: translateX(-50%);
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 7px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}