@tabletMedia: 570px;

.subject {
  &-input {
    width: 230px;
  }

  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 5px 15px;
    width: 100%;
    @media (max-width:  @tabletMedia) {
      flex-direction: column;
    }
  }
}
.subject-management {
  width: 500px;
  .example-h2 {
    margin: 10px;
  }

  .section {
    display: flex;
  }

  .title {
    font-weight: 400;
    margin-bottom: 10.5px;
  }

  .example-section {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    margin-bottom: 21px;
    width: 100%;

    @media (max-width: @tabletMedia) {
      grid-template-columns: 1fr!important;
    }
  }

  .example-form {
    width: 100%;

    .example-full-width {
      width: 100%;
    }
  }

  .color-picker {
    border: 1px solid #000000;
    border-radius: 3px;
    width: 180px;
    position: inherit !important;
    margin-top: 21px;
    @media (max-width: @tabletMedia) {
      width: 100%;
    }
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}

.mat-dialog {
  &-actions {
    justify-content: flex-end;
  }
}

::ng-deep.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
  background: #3f51b5;
}

::ng-deep.mat-checkbox-disabled .mat-checkbox-label {
  color: inherit
}

.select-groups {
  @media (max-width: @tabletMedia) {
    width: 100%;
  }
}