<ng-container *ngIf="subject">
  <app-popover-dialog class="subject-management">
    <ng-container title>
      {{ data.model && !data.model.subjectId ? ('subject.creation' | translate:'Добавление предмета') : ('subject.editing' | translate:'Редактирование предмета') }}
    </ng-container>
    <ng-container body>
      <form class="example-form" #formElement="ngForm">
        <mat-form-field class="example-full-width" [style.padding-bottom]="subject.CreatedBy ? '1.25em' : 0">
          <mat-label>{{'subject.name' | translate:'Название предмета'}}</mat-label>
          <input
            required
            name="name"
            maxlength="256"
            matInput
            [subjectNameFree]="subject.SubjectId"
            #name="ngModel"
            [(ngModel)]="subject.DisplayName"
            whitespace
          />
          <ng-container *ngIf="name.touched || name.dirty">
            <mat-error *ngIf="name.errors?.subjectNameFree">
              {{'subject.name.not.free' | translate:'Предмет с таким названием уже существует'}}
            </mat-error>
            <mat-error *ngIf="name.errors?.whitespace">
              {{'validation.whitespace' | translate:'Поле не может содержать пустых порбелов'}}
            </mat-error>
          </ng-container>
          <mat-hint *ngIf="subject.CreatedBy" style="padding-bottom: 1.25em;">
            {{'text.subject.createdBy' | translate:'Предмет создал(а)'}} {{subject.CreatedBy | initials}}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>{{'subject.abbreviation' | translate:'Аббревиатура'}}</mat-label>
          <input
            required
            maxlength="10"
            name="abbreviation"
            matInput
            #shortName="ngModel"
            [subjectAbbreviationFree]="subject.SubjectId"
            [(ngModel)]="subject.ShortName"
            whitespace
          />
        </mat-form-field>
        <ng-container *ngIf="shortName.touched || shortName.dirty">
          <mat-error *ngIf="shortName.errors?.subjectAbbreviationFree">
            {{'subject.abbreviation.not.free' | translate:'Предмет с такой аббревиатурой уже существует'}}
          </mat-error>
          <mat-error *ngIf="shortName.errors?.whitespace">
            {{'validation.whitespace' | translate:'Поле не может содержать пустых порбелов'}}
          </mat-error>
        </ng-container>
      </form>

      <h3 mat-dialog-title class="mat-typography title"></h3>

      <div class="section">
        <section class="example-section" [ngStyle]="{ 'grid-template-columns': 'repeat(' + columnsCount + ', auto)' }">
          <div *ngFor="let module of subject.Modules | toColumn:columnsCount" class="subject-input">
            <mat-checkbox
            class="example-margin"
            *ngIf="module"
            [color]="'primary'"
            [disabled]="module.Required"
            [(ngModel)]="module.Checked"
          >
            {{ getModuleName(module)  }}
          </mat-checkbox>
          </div>

        </section>
      </div>

      <div class="subject-wrapper">
        <div class="subject-input">
          <h3 mat-dialog-title class="mat-typography title">{{'group.plural' | translate:'Группы'}}</h3>
          <mat-form-field class="example-full-width select-groups">
            <mat-label>{{'group.plural' | translate:'Группы'}}</mat-label>
            <mat-select [(value)]="selectedGroups" multiple>
              <mat-select-trigger>
                {{ selectedGroups.length ? getSelectedValue(selectedGroups[0]) : "" }}
                <span
                  *ngIf="selectedGroups?.length > 1"
                  class="example-additional-selection"
                >
                  (+{{ selectedGroups.length - 1 }} {{ selectedGroups.length | plural:('other' | translate:'другой' | lowercase):('others' | translate:'другие' | lowercase)}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let group of groupList" [value]="group.id">
                {{ group.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="subject-input">
          <h3 mat-dialog-title class="mat-typography title">{{'subject.color' | translate:'Цвет предмета'}}</h3>
          <input
            class="color-picker"
            [(colorPicker)]="subject.Color"
            [style.background]="subject.Color"
          />
        </div>
      </div>
    </ng-container>
    <ng-container actions>
      <button mat-raised-button (click)="onCancel()">{{'button.cancel' | translate:'Отмена'}}</button>
      <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="!formElement.valid"
    >
      {{'button.save' | translate:'Сохранить'}}
    </button>
    </ng-container>
  </app-popover-dialog>
</ng-container>
