<div class="subject-management" *ngIf="subject">
  <h2 mat-dialog-title class="dialog-header">
    {{ subject.Title }}
    <mat-icon (click)="onCancel()" style="cursor: pointer;">close</mat-icon>
  </h2>
  <div>
    <form class="example-form" #formElement>
      <mat-form-field class="example-full-width">
        <mat-label>Название предмета</mat-label>
        <input
          required
          name="name"
          maxlength="256"
          matInput
          [(ngModel)]="subject.DisplayName"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Аббревиатура</mat-label>
        <input
          required
          maxlength="10"
          name="abbreviation"
          matInput
          [(ngModel)]="subject.ShortName"
        />
      </mat-form-field>
    </form>

    <h3 mat-dialog-title class="mat-typography title">Модули</h3>

    <div class="section">
      <section class="example-section" [ngStyle]="{ 'grid-template-columns': 'repeat(' + columnsCount + ', auto)' }">
        <div *ngFor="let module of subject.Modules | toColumn:columnsCount">
          <mat-checkbox
          class="example-margin"
          *ngIf="module"
          [color]="'primary'"
          [disabled]="module.Required"
          [(ngModel)]="module.Checked"
        >
          {{ module.Name }}
        </mat-checkbox>
        </div>

      </section>
    </div>

    <div class="wrapper">
      <div>
        <h3 mat-dialog-title class="mat-typography title">Группы</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Группы</mat-label>
          <mat-select [(value)]="selectedGroups" multiple>
            <mat-select-trigger>
              {{ selectedGroups.length ? getSelectedValue(selectedGroups[0]) : "" }}
              <span
                *ngIf="selectedGroups?.length > 1"
                class="example-additional-selection"
              >
                (+{{ selectedGroups.length - 1 }} {{ selectedGroups.length | plural:'другой':'другие' }})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let group of groupList" [value]="group.id">
              {{ group.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <h3 mat-dialog-title class="mat-typography title">Цвет предмета</h3>
        <input
          class="color-picker"
          [(colorPicker)]="subject.Color"
          [style.background]="subject.Color"
        />
      </div>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">Отмена</button>
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="!formElement.checkValidity()"
    >
      Сохранить
    </button>
  </div>
</div>
