<mat-toolbar class="main">
    <div class="main-button">
        <button routerLink='/admin/main' mat-icon-button>
            <mat-icon class="material-icons main-icon" aria-hidden="false">home</mat-icon>(LMS).Platform</button>
    </div>
    <div class="nav-flex">
        <div>
            <button routerLink='/admin/lectors' routerLinkActive="router-link-active" mat-button style="margin-left: 170px;" aria-label="Teachers">
                <mat-icon class="main-icon">record_voice_over</mat-icon>
                Преподаватели
            </button>
            <button routerLink='/admin/students' mat-button aria-label="Students">
                <mat-icon class="main-icon">mood</mat-icon>
                Студенты
            </button>
            <button routerLink='/admin/groups' mat-button aria-label="Groups">
                <mat-icon class="main-icon">people</mat-icon>
                Группы
            </button>
            <button routerLink='/admin/files' mat-button aria-label="Files">
                <mat-icon class="main-icon">insert_drive_file</mat-icon>
                Файлы
            </button>
        </div>
        <div>
            <button mat-button routerLink='/admin/messages' color="primary" aria-label="Message">
                <mat-icon class="main-icon"> email</mat-icon>
                Сообщения
            </button>
            <button mat-button [matMenuTriggerFor]="adminMenu">
                <mat-icon class="main-icon">perm_identity</mat-icon>
                Admin
            </button>
            <mat-menu #adminMenu="matMenu" yPosition="below">
                <button mat-menu-item routerLink='/login'>
                    <mat-icon class="icon main-icon">exit_to_app</mat-icon>
                    Выйти
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>