.results {
  &__comment {
    height: 100px;
  }
}

.date {
  margin-top: 25px;
}

#title-initials {
  display: block;
  font-size:14px;
  margin-top: -4px;
  color: rgb(130 130 130);
}

.checkbox {
  position: absolute;
  top: 0;
  right: 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  .example-full-width {
    width: 100%;
    position: relative;
  }
}

.mark {
  &-button {
    &__delete {
      background-color: #9f000d;
    }
  }
}
