.protection-schedule-component {

  &__subGroups {
    &-title {
      font: 400 20px/32px 'Roboto',"Helvetica Neue",sans-serif
    }

  }

  &__subGroups {
    &-table {
      margin-bottom: 30px;
      margin-top: 10px;
      
      table.mat-table {
        width: 100%;
      }
  
      .mat-column-position:first-of-type, .mat-header-cell:first-of-type {
        max-width: 35px;
        max-height: 55px;
        width: 35px;;
        height: 55px;
        box-sizing: border-box;
      }

      .mat-header-cell {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        color: #363636;
        font-size: 14px;
      }
  
      .header-date {
        transform: rotate(270deg);
        font-size: 12px;
        text-align: center;
      }
  
      td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
        padding-right: 0;
      }
  
      .mat-column-name {
        padding-left: 10px;
      }
  
      .mat-header-cell.mat-column-name {
        text-align: center;
      }
  
      .mat-column-position {
        padding-left: 10px;
        padding-right: 5px;
      }
  
      .mat-header-cell.mat-column-name, .mat-header-cell.mat-column-position {
        border-top: none;
        vertical-align: initial;
        padding-top: 1.45%;
      }
  
      tr {
        height: 36px;
      }
  
      .date-header {
        height: 86px;
      }
  
      td {
        border-top: 1px solid rgba(0, 0, 0, .12);
      }
  
      td, th {
        border-right: 1px solid rgba(0, 0, 0, .12);
        border-bottom: 0;
        border-top: 1px solid rgba(0, 0, 0, .12);
      }
  
      table {
        border-top: none;
      }
    }

    
  }

  .lab-name {
    text-align: center;
  }

  .comment-icon {
    cursor: pointer;
    position: absolute;
    font-size: 10px;
    top: 5px;
    right: 5px;
    width: auto;
    height: auto;
  }

  .mark-cell {
    text-align: center;
    position: relative;
  }
}
