<div class="protection-schedule-component" *ngIf="state$ | async as state; else: load">
  <div class="protection-schedule-component__subGroups" *ngFor="let subGroup of state.labs | unique:'SubGroup'; let idx = index">
    <ng-container *ngIf="(state.students | filter:'SubGroup': subGroup).length">
      <ng-container *var="state.labs | filter:'SubGroup':subGroup as subGroupLabs">
        <span class="protection-schedule-component__subGroups-title">Подгруппа {{idx + 1}}</span>
        <div class="protection-schedule-component__subGroups-table" *var="state.scheduleProtectionLabs | filter:'SubGroup':subGroup as subGroupProtectionSchedule">
          <table *var="state.students | filter:'SubGroup': subGroup as subGroupStudents" mat-table [dataSource]="subGroupStudents" class="mat-elevation-z14">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>№</th>
              <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
            </ng-container>
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Студенты</th>
              <td mat-cell *matCellDef="let element"> {{element.FullName}}</td>
            </ng-container>
    
            <ng-container *ngFor="let scheduleProtectionLab of subGroupProtectionSchedule; let i = index"
                          matColumnDef="{{scheduleProtectionLab.Date + scheduleProtectionLab.ScheduleProtectionLabId}}"
            >
              <th mat-header-cell *matHeaderCellDef>
                <div class="header-date">{{scheduleProtectionLab.Date}}</div>
              </th>
              <td mat-cell
                  *matCellDef="let element"
                  class="mark-cell"
                  (dblclick)="setVisitMarks(subGroupStudents, scheduleProtectionLab, i)">
                {{element.LabVisitingMark[i] && element.LabVisitingMark[i].Mark}}
                <mat-icon *ngIf="element.LabVisitingMark[i] && element.LabVisitingMark[i].Comment && (isTeacher || (element.LabVisitingMark[i].ShowForStudent && element.LabVisitingMark[i].StudentId === state.userId))" class="comment-icon" [matTooltip]="element.LabVisitingMark[i].Comment" matTooltipPosition="above">chat_bubble_outline</mat-icon>
              </td>
            </ng-container>
            <ng-container *ngFor="let labName of getSubGroupHeaders(subGroupLabs)" matColumnDef="{{labName.head}}">
              <th 
              [matTooltip]="labName.tooltip"
              [matTooltipDisabled]="!labName.tooltip"
              matTooltipPosition="above"
              class="lab-name" mat-header-cell *matHeaderCellDef
                  [attr.colspan]="labName.length">
                {{labName.text}}
              </th>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="getSubGroupHeaders(subGroupLabs) | pluck:'head'"></tr>
    
            <tr mat-header-row class="date-header" *matHeaderRowDef="getSubGroupDisplayColumns(
              subGroupProtectionSchedule)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: getSubGroupDisplayColumns(
              subGroupProtectionSchedule)"></tr>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
