<div class="page-wrap">
	<div class="container">
		<img src="./../../assets/images/logo_nav_widescreen.png" class="logo" />
		<form [formGroup]="loginForm">
			<mat-form-field class="default" color="primary">
				<input matInput color="primary" formControlName="userName" placeholder="Имя пользователя" type="text" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput color="primary" type="password" placeholder="Пароль" formControlName="password" required>
			</mat-form-field>
			<div>
                <button  mat-flat-button color="primary" [class.spinner]="submitted" [disabled]="submitted" class="login" (click)="onSubmit()">Войти в систему</button>                
            </div>
      
            <br/>
            <div class="flex-center">
				<a mat-flat-button color="primary" routerLink="/registration" href="">Регистрация</a>
				<a mat-flat-button color="primary" routerLink="/progControl" href="">Контроль</a>
                <a mat-flat-button color="primary" routerLink="/forgot" href="">Забыли пароль?</a>
            </div>	
        </form>
	</div>
</div>