<h1 mat-dialog-title>Редактирование преподавателя</h1>
<form [formGroup]="this.form" (ngSubmit)="submit()">
    <mat-dialog-content>
        <h2>{{ this.form.controls.FullName.value }}</h2>
        <div>
            <mat-form-field>
                <input matInput formControlName="Surname" placeholder="Фамилия">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput formControlName="Name" placeholder="Имя">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput formControlName="Patronymic" placeholder="Отчество">
            </mat-form-field>
        </div>
        <div class="checkbox">
            <mat-checkbox formControlName="IsSecretary">Секретарь</mat-checkbox>
        </div>
        <div class="checkbox">
            <mat-checkbox formControlName="IsLecturerHasGraduateStudents">Руководитель дипломного проекта</mat-checkbox>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Группы</mat-label>
                <mat-select formControlName="Groups" multiple>
                    <mat-option *ngFor="let group of groups" [value]="group">{{ group.Name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="password">
            <a [routerLink]="['resetPassword/lector', this.form.controls.Id.value]" (click)="onNoClick()">Сбросить пароль</a>
        </div>
    </mat-dialog-content>
    <div class="line"></div>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Отмена</button>
        <button class="btn" mat-button (click)="onYesClick()">Изменить</button>
    </mat-dialog-actions>
</form>