text {
  font-size: 14px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-progress-spinner {
  position: initial;
}

.close-icon {
  float: right;
}
.container {
  display: flex;
  justify-content: space-between;
}
