<mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
<div *ngIf="this.isLoad">
    <div class="container">
        <p class="title">Статистика авторизации в системе</p>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
          <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <google-chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="550" [height]="400">
        </google-chart>
    </div>
</div>
