<mat-spinner
  mode="indeterminate"
  *ngIf="!this.isLoad"
  class="spinner"
  color="primary"
></mat-spinner>

<div [hidden]="!this.isLoad" class="main">
  <button mat-raised-button class="addUserButton" (click)="saveProfessor()">
    {{ 'text.adminPanel.lectors.add' | translate }}
  </button>
  <div class="table">
    <mat-form-field class="search">
      <input
        matInput
        [(ngModel)]="filter"
        (keydown.enter)="applyFilter()"
        placeholder="{{ 'search' | translate }}"
      />
      <button
        mat-icon-button
        matSuffix
        class="icon-button-search"
        (click)="applyFilter()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="applySort($event)"
      matSortStart="asc"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let i = index">
          {{ i + 1 + myPaginator.pageIndex * myPaginator.pageSize }}
        </td>
      </ng-container>

      <ng-container matColumnDef="FullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'text.adminPanel.lectors.headers.fullName' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.FullName }}</td>
      </ng-container>

      <ng-container matColumnDef="Login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'text.adminPanel.lectors.headers.login' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Login }}</td>
      </ng-container>

      <ng-container matColumnDef="LastLogin">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'text.adminPanel.lectors.headers.lastLogin' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ this.formatDate(element.LastLogin) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="RegistrationDate">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'text.adminPanel.lectors.headers.registrationDate' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ this.formatDate(element.AddedOn) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'text.adminPanel.lectors.headers.status' | translate }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ this.getStatusTooltip(element) }}"
          matTooltipPosition="above"
        >
          {{
            element.IsActive
              ? ''
              : ('text.adminPanel.lectors.status.deleted' | translate)
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="subjects">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'text.adminPanel.lectors.headers.subjects' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.OwnSubjectsNumber }}\{{ element.AttachedSubjectsNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="secretary">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'text.adminPanel.lectors.headers.secretary' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.IsSecretary">done</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action" class="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'text.adminPanel.lectors.headers.action' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.lectors.tooltips.stats' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="Diagram"
            (click)="openDiagram(element.Id)"
          >
            <mat-icon>equalizer icon</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.lectors.tooltips.subjectsList' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="listOfSubsject"
            (click)="openListOfGroup(element.Id)"
          >
            <mat-icon>list</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.lectors.tooltips.account' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="Profile"
            (click)="this.navigateToProfile(element.Id)"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="{{
              'text.adminPanel.lectors.tooltips.edit' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="Edit "
            (click)="openDialogEdit(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="!this.isNotActive(element)"
            mat-button
            matTooltip="{{
              'text.adminPanel.lectors.tooltips.delete' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="Delete "
            (click)="deleteProfessor(element.Id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            *ngIf="this.isNotActive(element)"
            mat-button
            matTooltip="{{
              'text.adminPanel.lectors.tooltips.restore' | translate
            }}"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip"
            aria-label="Edit "
            (click)="restoreProfessor(element)"
          >
            <mat-icon>rotate_right</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #myPaginator
      [length]="20"
      [pageSize]="20"
      [pageSizeOptions]="[10, 20, 40]"
      (page)="pageChanged($event)"
      showFirstLastButtons="true "
    >
    </mat-paginator>
  </div>
</div>
