<app-student-job-protection *ngIf="!isTeacher" 
  (onAddFile)="addLab($event)" 
  (onDeleteFile)="deleteLab($event)">
</app-student-job-protection>

<app-teacher-job-protection *ngIf="isTeacher" 
  (onCheckPlugiarism)="checkPlagiarism($event)" 
  (onAddFile)="addLab($event)">
</app-teacher-job-protection>


<!-- <div class="job-protection" *ngIf="state$ | async as state; else load">
  <div *ngIf="isTeacher; else studentContent">

  </div>
  <ng-template #studentContent>

    <ng-container [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{item: state.files}"></ng-container>
  </ng-template>
  <ng-template #table let-item="item" let-studentId="studentId">
    <table mat-table [dataSource]="item" class="mat-elevation-z14">
      <ng-container matColumnDef="files">
        <th mat-header-cell *matHeaderCellDef>Файлы</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'sticky': element.IsReceived, 'fix': element.IsReturned}"
        >
          <mat-icon class="priority-icon" *ngIf="isNewFile(element)" [color]="'primary'">priority_high</mat-icon>
          <a mat-button color="primary"
             *ngFor="let attachment of element.Attachments"
             (click)="downloadFile(attachment)"
          >
            {{attachment.Name}}
          </a>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Комментарий</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'sticky': element.IsReceived, 'fix': element.IsReturned}"
        > {{element.Comments}}</td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Дата</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'sticky': element.IsReceived, 'fix': element.IsReturned}"
        > {{element.Date}}</td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действие</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'sticky': element.IsReceived, 'fix': element.IsReturned}"
        >
          <ng-container *ngIf="!isTeacher" [ngTemplateOutlet]="studentAction" [ngTemplateOutletContext]="{item: element}">
          </ng-container>
          <ng-container *ngIf="isTeacher" [ngTemplateOutlet]="teacherAction" [ngTemplateOutletContext]="{item: element, studentId: studentId}">
          </ng-container>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>
  <ng-template #studentAction let-item="item">
    <div *ngIf="item.IsReceived || item.IsReturned">
      {{(item.IsReceived ? 'Принято' : '') + (item.IsReturned ? 'Исправить' : '')}}
    </div>
    <div *ngIf="!(item.IsReceived || item.IsReturned)">
      <button mat-icon-button color="primary"
              matTooltip="Редактировать лабораторную работу"
              (click)="addLab(item)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary"
              matTooltip="Удалить лабораторную работу"
              (click)="deleteLabWork(item.Id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-template #teacherAction let-item="item" let-studentId="studentId">
    <div *ngIf="!item.IsReturned">
      <button *ngIf="!item.IsReceived"
              mat-icon-button color="primary"
              matTooltip="Принять работу"
              (click)="receiveLabFile(item.Id)"
      >
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
      <button *ngIf="item.IsReceived"
              mat-icon-button color="primary"
              matTooltip="Отклонить работу"
              (click)="cancelReceivedLabFile(item.Id)"
      >
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      <button *ngIf="!item.IsReceived"
              mat-icon-button color="primary"
              matTooltip="Вернуть работу"
              (click)="addLab(item, studentId)"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button mat-icon-button color="primary"
              matTooltip="Проверить на плагиат"
              (click)="checkPlagiarism(item.Id)"
      >
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </ng-template>
</div>

<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template> -->
