<div class="basic_container">
  <div class="head_elements">
    <h1 mat-dialog-title>{{ 'complex.map' | translate: 'Карта ЭУМК' }}</h1>
    <button class="close" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <s2w-angular-d3-tree-lib
    class="tree_branches"
    [(treeData)]="chartData"
  ></s2w-angular-d3-tree-lib>
  <div class="button_div">
    <button class="button_close" (click)="onNoClick()">
      {{ 'common.close' | translate: 'Закрыть' }}
    </button>
  </div>
</div>
