<div class="lectures-component content">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab *ngFor="let tab of tabs; let idx = index" [tabindex]="idx"  [label]="tab | appFirstCapital">
      <ng-template matTabContent animationDuration="0ms">
        <app-lectures-list *ngIf="idx === 0" [subjectId]="subjectId$ | async"  [isTeacher]="isTeacher$ | async"></app-lectures-list>
        <app-visit-lectures *ngIf="idx === 1" [subjectId]="subjectId$ | async" [isTeacher]="isTeacher$ | async"> </app-visit-lectures>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
<!--  <div class="mdc-tab-bar" role="tablist">-->
<!--    <button *ngFor="let tab of tabs;let idx = index" class="mdc-tab" role="tab" aria-selected="true"-->
<!--            [tabindex]="idx"-->
<!--            [class.mdc-tab&#45;&#45;active]="tab === idx"-->
<!--            (click)="tab = idx"-->
<!--    >-->
<!--      <span class="mdc-tab__content">-->
<!--        <span class="mdc-tab__text-label">tab</span>-->
<!--      </span>-->
<!--      <span class="mdc-tab-indicator" [class.mdc-tab-indicator&#45;&#45;active]="tab === idx">-->
<!--        <span class="mdc-tab-indicator__content mdc-tab-indicator__content&#45;&#45;underline"></span>-->
<!--      </span>-->
<!--      <span class="mdc-tab__ripple"></span>-->
<!--    </button>-->
<!--    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"-->
<!--            [class.mdc-tab&#45;&#45;active]="tab === 2"-->
<!--            (click)="tab = 2"-->
<!--    >-->
<!--          <span class="mdc-tab__content">-->
<!--            <span class="mdc-tab__text-label">Посещение лекций</span>-->
<!--          </span>-->
<!--      <span class="mdc-tab-indicator" [class.mdc-tab-indicator&#45;&#45;active]="tab === 2">-->
<!--            <span class="mdc-tab-indicator__content mdc-tab-indicator__content&#45;&#45;underline"></span>-->
<!--          </span>-->
<!--      <span class="mdc-tab__ripple"></span>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="lectures-component__body">-->
<!--  </div>-->
</div>
