<h1 mat-dialog-title>Редактирование документа</h1>
<div mat-dialog-content>
  <div class="flex-input">
    <mat-form-field class="input-holder">
      <mat-label>Наименование</mat-label>
      <input matInput [(ngModel)]="data.name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Необходимо наименование
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flex-input">
    <mat-form-field class="input-holder">
      <mat-label>Описание</mat-label>
      <input matInput [(ngModel)]="data.description" [formControl]="descriptionFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="descriptionFormControl.hasError('required')">
        Необходимо описание
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary" (click)="onYesClick()" cdkFocusInitial>Сохранить</button>
</div>
