<h1 mat-dialog-title>Редактирование документа</h1>
<div mat-dialog-content>
  <div class="flex-input">
    <mat-form-field class="full-width">
      <mat-label>Наименование</mat-label>
      <textarea (ngModelChange)="onModelChanged($event)" required class="news-text" maxlength="256" name="body" matInput [(ngModel)]="data.Name"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="!isEnableToSave">Сохранить</button>
</div>
