<h1 mat-dialog-title>{{description}}</h1>
<div mat-dialog-content>
  <ckeditor
    [editor]="editor"
    [(ngModel)]="model.editorData"
    (ngModelChange)="onModelChanged(model)"
    [config]="model.config"
></ckeditor>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button (click)="onNoClick()">{{'text.editor.cancel' | translate: 'Отмена'}}</button>
  <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="!isEnableToSave">{{'text.editor.save' | translate: 'Сохранить'}}</button>
</div>
