<div class="files-component content" *ngIf="state$ | async as state">
  <div class="actions-group actions-group__space-between">
    <h2 class="files-component__title" mat-dialog-title>
      {{ 'text.subjects.attachments.files' | translate: 'Предметные файлы' }}
    </h2>
    <div class="row gap-7">
      <app-help
        [message]="filesHelp.message"
        [action]="filesHelp.action"
        class="help"
      ></app-help>
      <button
        mat-icon-button
        color="primary"
        style="margin-left: auto; margin-right: 0px; display: block"
        [matTooltip]="'text.download.archive' | translate: 'Скачать архивом'"
        matTooltipPosition="below"
        (click)="downloadAsZip()"
      >
        <mat-icon>get_app</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="!state.isDownloading; else loader">
    <div class="mdc-data-table file-table" *ngIf="state.files.length">
      <table class="mdc-data-table__table">
        <tbody>
          <app-file
            *ngFor="let file of state.files"
            [file]="file"
            [canDelete]="state.isTeacher"
            (deleteFile)="deleteFile($event)"
          ></app-file>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #loader>
    <div class="files-component-spinner">
      <mat-spinner
        mode="indeterminate"
        class="spinner"
        color="primary"
      ></mat-spinner>
    </div>
  </ng-template>
</div>
