<div class="files-component content" *ngIf="state$ | async as state">
  <h2 class="files-component__title" mat-dialog-title>{{'text.subjects.attachments.files' | translate:'Предметные файлы'}}</h2>
  <button
    mat-icon-button
    color="primary"
    [matTooltip]="'text.download.archive' | translate:'Скачать архивом'"
    matTooltipPosition="above"
    (click)="downloadAsZip()"
  >
    <mat-icon>get_app</mat-icon>
  </button>
  <div class="mdc-data-table file-table" *ngIf="state.files.length">
    <table class="mdc-data-table__table">
      <tbody>
        <app-file *ngFor="let file of state.files" [file]="file" [canDelete]="state.isTeacher" (deleteFile)="deleteFile($event)"></app-file>
      </tbody>
    </table>
  </div>
</div>
