.percentages-component {
  &__header {
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 30px;
  }

  &__group-select {
    width: 180px;
  }
}

.actions {
  margin-bottom: 16px;
}

.mselect {
  margin: 0 10px;
  font-weight: 300;
  background-color: #ffffff00;
  border: 0px;
  color: #fff;
  font-family:
    Roboto,
    Helvetica Neue,
    sans-serif;
  font-size: 14px;
  width: 165px;

  &--with-button {
    margin-top: -12px;
  }
}