<div class="practical-lessons-component" *ngIf="practicals; else load">
  <div class="practical-lessons-component__actions" *ngIf="isTeacher">
    <button
      mat-raised-button
      color="primary"
      (click)="constructorLesson(practicals.length)"
    >
      {{ 'text.subjects.practicals.add' | translate: 'Добавить занятие' }}
    </button>
  </div>
  <table
    #table
    class="table"
    mat-table
    [dataSource]="practicals"
    cdkDropList
    [cdkDropListData]="practicals"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let idx = index">
        {{ idx + 1 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="theme">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'text.subjects.practicals.theme' | translate: 'Тема занятия' }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Theme }}
      </td>
    </ng-container>
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'short.name' | translate: 'Краткое название' }}
      </th>
      <td mat-cell *matCellDef="let element; let idx = index">
        {{this.practicalPrefix}}
        {{ element.ShortName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'hours' | translate: 'Часы' }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Duration }}
      </td>
    </ng-container>
    <ng-container matColumnDef="files">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'text.attachments.plural' | translate: 'Файлы' }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          class="mdc-button"
          *ngIf="element.Attachments.length > 0"
          (click)="openFilePopup(element.Attachments)"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >library_books</i
          >
          <sub class="mdc-button__label">{{element.Attachments.length}}</sub>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions" *ngIf="isTeacher">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'text.action' | translate: 'Действие' }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="
            'text.subjects.practicals.edit'
              | translate: 'Редактировать практическое занятие'
          "
          (click)="constructorLesson(practicals.length, element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="
            'text.subjects.practicals.delete'
              | translate: 'Удалить практическое занятие'
          "
          (click)="deleteLesson(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getDisplayedColumns()"
      [cdkDragDisabled]="!isTeacher"
      cdkDragLockAxis="y"
      cdkDrag
      [cdkDragData]="row"
    ></tr>
  </table>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
