<h1 mat-dialog-title>{{data.title}}</h1>
<section class="example-section">
  <mat-checkbox *ngFor="let attachment of data.body"
                class="example-margin"
                [color]="'primary'"
                [(ngModel)]="attachment.isDownload"
  >
    {{attachment.name}}
  </mat-checkbox>
</section>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onClick()">Отмена</button>
  <button mat-raised-button [mat-dialog-close]="data.model || data.body" color="primary">{{data.buttonText}}</button>
</div>
