<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=EDUCATS\SQLEXPRESS;database=LMPlatform;User id=educatsb_sa;password=Hawk107229" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FileUploadPath" value="d://CatsFiles//UploadedFiles//" />
    <add key="FileUploadPathTemp" value="d://CatsFiles//UploadedFilesTemp//" />
    <add key="ScoFilePath" value="//ScormObjects//" />
    <add key="PlagiarismTempPath" value="//PlagiarismTempPath//" />
    <add key="PlagiarismUrl" value="" />
    <add key="ScoFilePath" value="d://CatsFiles//ScormObjects//" />
    <add key="TinCanFilePath" value="d://CatsFiles//TinCanObjects//" />
    <add key="TestContentPath" value="d://CatsFiles//UploadedTestFiles//" />
    <add key="owin:AppStartup" value="LMPlatform.UI.Startup" />
    <add key="jwt:secret" value="biawehf9x34r74nc485vnxn203r9347c3xmz034ut5mcvy34" />
    <add key="jwt:tokenLifeTimeInHours" value="12" />
    <add key="jwt:enabled" value="true" />
	<add key="ElasticAddress" value="http://localhost:9200/" />
	<add key="ElasticLogin" value="elastic" />
	<add key="ElasticPassword" value="123456" />
    <add key="LecturersIndexName" value="lecturers" />
    <add key="StudentsIndexName" value="students" />
    <add key="ProjectsIndexName" value="projects" />
    <add key="GroupsIndexName" value="groups" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" tempDirectory="D:\home\host27072020.of.by\tmp">
      <assemblies>
        <!--<add assembly="WebMatrix.Data, Version=2.0.0.0, Culture=neutral,    PublicKeyToken=31bf3856ad364e35" />-->
        <add assembly="WebMatrix.WebData, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="40960" maxQueryStringLength="2097151" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Unauthorized" timeout="2880" name="LMPlatform" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
	<httpCookies httpOnlyCookies="true" requireSSL="true" />
	<customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" maxAllowedContentLength="209715200" />
        <fileExtensions>
          <add fileExtension=".mp4" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
	<modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
	  <dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="~/NewsService.svc" service="LMPlatform.UI.Services.News.NewsService" />
        <add relativeAddress="~/LecturesService.svc" service="LMPlatform.UI.Services.Lectures.LecturesService" />
        <add relativeAddress="~/LabsService.svc" service="LMPlatform.UI.Services.Labs.LabsService" />
        <add relativeAddress="~/PracticalService.svc" service="LMPlatform.UI.Services.Practicals.PracticalService" />
        <add relativeAddress="~/MessagesService.svc" service="LMPlatform.UI.Services.Messages.MessagesService" />
        <add relativeAddress="~/ParentalService.svc" service="LMPlatform.UI.Services.Parental.ParentalService" />
        <add relativeAddress="~/CoreService.svc" service="LMPlatform.UI.Services.CoreService" />
        <add relativeAddress="~/FilesService.svc" service="LMPlatform.UI.Services.Files.FilesService" />
        <add relativeAddress="~/MaterialsService.svc" service="LMPlatform.UI.Services.Materials.MaterialsService" />
        <add relativeAddress="~/ConceptService.svc" service="LMPlatform.UI.Services.Concept.ConceptService" />
        <add relativeAddress="~/SearchService.svc" service="LMPlatform.UI.Services.Search.SearchService" />
        <add relativeAddress="~/ProjectsService.svc" service="LMPlatform.UI.Services.BTS.ProjectsService" />
        <add relativeAddress="~/BugsService.svc" service="LMPlatform.UI.Services.BTS.BugsService" />
        <add relativeAddress="~/SubjectsService.svc" service="LMPlatform.UI.Services.Subjects.SubjectsService" />
		<add relativeAddress="~/DocumentService.svc" service="LMPlatform.UI.Services.Documents.DocumentService" />
        <add relativeAddress="~/NotesService.svc" service="LMPlatform.UI.Services.Notes.NotesService" />
        <add relativeAddress="~/ScheduleService.svc" service="LMPlatform.UI.Services.Schedule.ScheduleService" />
		<add relativeAddress="~/TelegramBotService.svc" service="LMPlatform.UI.Services.TelegramBot.TelegramBotService"/>
        <add relativeAddress="~/StatisticsService.svc" service="LMPlatform.UI.Services.Statistics.StatisticsService"/>

      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>		
			<webHttpBinding>
				<binding name="WebConfiguration" writeEncoding="utf-8" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000" transferMode="Streamed">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="Transport" />
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
    <endpointBehaviors>
      <behavior name="EndpointBehavior">
        <webHttp defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />
        <dataContractSerializer maxItemsInObjectGraph="10000000" />
      </behavior>
    </endpointBehaviors>
    <serviceBehaviors>
      <behavior name="ServiceBehavior">
        <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true" />
        <serviceAuthorization serviceAuthorizationManagerType="LMPlatform.UI.Managers.JwtAuthorizationManager, LMPlatform.UI"></serviceAuthorization>
      </behavior>
    </serviceBehaviors>
  </behaviors>
    <services>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.News.NewsService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.News.INewsService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Labs.LabsService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Labs.ILabsService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Lectures.LecturesService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Lectures.ILecturesService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Practicals.PracticalService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Practicals.IPracticalService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Messages.MessagesService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Messages.IMessagesService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Parental.ParentalService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Parental.IParentalService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.CoreService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.ICoreService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Files.FilesService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Files.IFilesService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Materials.MaterialsService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Materials.IMaterialsService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Concept.ConceptService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Concept.IConceptService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Documents.DocumentService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Documents.IDocumentService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Search.SearchService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Search.ISearchService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.BTS.ProjectsService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.BTS.IProjectsService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.BTS.BugsService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.BTS.IBugsService" />
			</service>
			<service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Subjects.SubjectsService">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Subjects.ISubjectsService" />
			</service>
		  <service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.AdaptiveLearning.AdaptiveLearningService">
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.AdaptiveLearning.IAdaptiveLearningService" />
		  </service>
		  <service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Schedule.ScheduleService">
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Schedule.IScheduleService" />
		  </service>
      <service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Notes.NotesService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Notes.INotesService" />
      </service>
	  <service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.TelegramBot.TelegramBotService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.TelegramBot.ITelegramBotService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="LMPlatform.UI.Services.Statistics.StatisticsService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="WebConfiguration" contract="LMPlatform.UI.Services.Statistics.IStatisticsService" />
      </service>
		</services>
		<protocolMapping>
      
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>
