@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.cdk-global-overlay-wrapper {  
  display: -webkit-box;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.mat-dialog-container{
	border-radius: unset !important;
}
