<div class="example-container" xmlns:position="http://www.w3.org/1999/xhtml">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input type="text" matInput class="form-control" formControlName="title"  placeholder="Название события" [(ngModel)]="note.title" [ngModel] ="data.event.title"/>
      <mat-error *ngIf="title.hasError( 'required')">Поле не может быть пустым</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        class="form-control"
        matInput
        formControlName="day"
        type="text"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"
        [(ngModel)]="note.start"
        [ngModel] ="note.start"
        dateFormat="Y-m-d"
        altFormat="F j, Y"
        placeholder="Дата события"
      />
      <mat-error *ngIf="day.hasError( 'required')">Поле не может быть пустым</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput class="form-control" formControlName="start"   type="time" placeholder="Время начала события" min="08:00" max="23:00">
      <mat-error *ngIf="start.hasError( 'required')">Поле не может быть пустым</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput class="form-control" formControlName="end"   type="time" placeholder="Время окончания события" min="08:00" max="23:00">
      <mat-error *ngIf="end.hasError( 'required')">Поле не может быть пустым</mat-error>
    </mat-form-field>
  </form>
  <div style="display: flex;margin-top: 20px; margin-bottom: 10px;">
    <button mat-raised-button color="basic" style="margin-right: 10px;margin-left: 60%" (click)=onCancelClick()> Отмена </button>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="add()">Сохранить</button>
  </div>
</div>

