<div class="example-container" xmlns:position="http://www.w3.org/1999/xhtml">
  
  <form [formGroup]="formGroup">
  
    <mat-form-field>
      <input type="text" matInput class="form-control" formControlName="title"  placeholder="Название события" [(ngModel)]="note.title" [ngModel] ="data.event.title"/>
      <mat-error *ngIf="title.hasError( 'required')">Поле не может быть пустым</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        class="form-control"
        matInput
        formControlName="start"
        type="text"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        [(ngModel)]="note.start"
        [ngModel] ="note.start"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Начало события"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        class="form-control"
        matInput
        formControlName="end"
        type="text"
        mwlFlatpickr
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        [(ngModel)]="note.end"
        [ngModel] ="note.end"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Конец события"
      />
    </mat-form-field>
  </form>
  <div style="display: flex;margin-top: 20px; margin-bottom: 10px;">
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="add()">
    Сохранить
  </button>
  <button mat-raised-button color="basic" style="margin-left: 20px;" (click)=onCancelClick()> Отмена </button>
</div>
</div>

