.mat-tree-node {
  min-height: 0px !important;
}
.example-tree-invisible {
  display: none;
}

.example-tree{
    padding-top: 20px;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.contents {
  border-left: 1px dashed #ff3366;
  margin: 0px 0px 0px 20px;
  padding: 5px 0px 5px 15px;
}

.expandable{
    padding-right: 15px;
}

.expandable-external {
  padding-left: 15px;
}

a.clickable:hover {
  color: #AAAAAA;
  cursor: pointer;
}

.invisible {
  display: none;
}

.icon{
    font-size: 20px;
    padding-left: 5px;
}

.folder_file_icons {
  color: #808080
}

.mat-icon-button{
    padding-right:45px;
}

.work-icons{
    visibility: hidden;
}

.mat-tree-node:hover .work-icons {
  visibility: visible;
}
