.mat-tree-node {
  min-height: 0px !important;
}

.mat-tree-node, .mat-nested-tree-node {
    padding-bottom: 4px;
}

.example-tree-invisible {
  display: none;
}

.example-tree {
  background: unset;

  padding-top: 20px;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.contents {
  border-left: 1px dashed #ff3366;
  margin: 0px 0px 0px 20px;
  padding: 5px 0px 5px 15px;
}

.expandable {
  padding-right: 15px;
}

.expandable-external {
  padding-left: 15px;
}

a.clickable:hover {
  color: #aaaaaa;
  cursor: pointer;
}

.invisible {
  display: none;
}

.icon {
  font-size: 20px;
  padding-left: 5px;
}

.folder_file_icons {
  color: #808080;
}

.mat-icon-button {
  padding-right: 45px;
}

.work-icons {
  visibility: hidden;
}

.mat-tree-node:hover .work-icons {
  visibility: visible;
}

.complex-three-title {
  font-size: 18px;
}

.complex-three-title-button {
  line-height: unset;
  padding: unset;
  width: unset;
  height: unset;

  margin-right: 10px;
}

.complex-three-title-prefix {
  position: relative;
  right: 3px;
  display: inline-block;
  font-size: 18px;
  margin-left: 6px;
  width: 10px;
}

.complex-three-title-icon {
  padding: unset;
  font-size: 28px;
}

.empty-tree-node {
  color: #a0a0a0;
}
