
  @media (min-width:971px) {
    .profile {
      margin-top: 10px;
      display: flex;
      height: 85%;
      position: relative;
      z-index: 2;
    }

    .project-table{
      overflow-y: overlay;
      max-height: 50%;
    }

    a {
      position: absolute;
      bottom: 5%;
      right: 5%;
      font-size: 16px;
      color: #3f51b5;
      cursor: pointer;
      text-decoration: underline;
      float: right;
    }

    .profile-card {
      margin: 30px;
      margin-top: 10px;
      /* max-height: 59vh; */
      /*    height: 90%;*/
      /*  width: 100%;*/
    }



    .data-container {
      margin: 20px;
      margin-top: 10px;
      width: 100%;
      min-width: 200px;
      max-height: 59vh;
    }

    .input-full-width {
      line-height: 5.3vh;
      width: 100%;
      border-collapse: collapse;
    }

    .text-area-full-width {
      line-height: 2.7vh;
      width: 100%;
      border-collapse: collapse;
    }

    .avatar {
      object-fit: cover;
      height: 70%;
    }

    .avatarImg {
      width: 48vh;
      height: 48vh;
      max-height: 100%;
    }

    .buttons-row {
      margin-right: 20px;
      margin-left: 30px;
      margin-top: 1.3%;
      display: flex;
      height: 7%;
      flex-direction: row;
      justify-content: flex-end;
      min-width: 974.4px;
    }

    .profile-buttons-row {
      align-items: center;
      display: flex;
      height: 15%;
      flex-direction: row;
      justify-content: flex-end;
    }


    .data-header {
      margin: 0px;
      margin-bottom: 10px;
      padding: 0px;
      background-color: cornflowerblue;
    }

    .avatar-title {
      align-items: center;
      display: flex;
      font-weight: 500;
      justify-content: center;
      height: 48vh;
      width: 48vh;
      font-size: 23vh;
      color: #3f51b5;
    }
  }

  @media (max-width:970px) {

    .project-table{
      overflow-y: overlay;
      max-height: 50%;
    }

    a {
      margin-top: 5px;
      font-size: 16px;
      color: #3f51b5;
      cursor: pointer;
      text-decoration: underline;
      float: right;
    }

    .profile {
      margin-top: 10px;
      display: grid;
      position: relative;
      z-index: 2;
    }


    .profile-card {
      margin: 20px;
      margin-top: 10px;
    }

    .data-container {
      overflow: auto;
      margin: 20px;
      margin-top: 10px;
      max-height: 100vh;
    }

    .input-full-width {
      width: 100%;
      border-collapse: collapse;
    }


    .text-area-full-width {
      width: 100%;
      border-collapse: collapse;
      line-height: 2.7vh;
    }

    .avatar {
      margin-bottom: 3%;
    }

    .avatarImg {
      max-width: 100%;
      max-height: 37vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .buttons-row {
      margin-right: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .profile-buttons-row {
      align-items: center;
      display: flex;
      height: 6vh;
      flex-direction: row;
      justify-content: flex-end;
    }

    .data-header {
      margin: 0px;
      margin-bottom: 10px;
      padding: 0px;
      background-color: cornflowerblue;
    }

    .avatar-title {
      align-items: center;
      display: flex;
      font-weight: 500;
      justify-content: center;
      height: 33vh;
      font-size: 23vh;
      width: 33vh;
      color:#3f51b5;
    }
  }


mat-card-content {
  margin-top: 15px;
  text-align: center;
  height: 30%;
}

th.mat-header-cell:first-of-type {
  font-size: large;
  padding: 0px;
  width: 86%;
  position: sticky;
  background-color: white;
  top: 0px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding: 0px;
}

tr.mat-footer-row {
  font-weight: bold;
}

table {
  border: 0px;
  width: 100%;
}
