.ng-draggable {
  cursor: grab;
  background-color: black;

  min-height: fit-content;
  width: 150px;
}

.video-call {
  &__controls {
    display: flex;
    justify-content: center;
  }
  &__control {
    margin: 4px;
  }
}
.control-icon{
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.caller-information{
  &__name{
    width: 150px;
    font-size: 12px;
    color: white;
  }
}
