<div
  style="position: absolute; z-index: 100000"
  *ngIf="IsActiveCall || IsIncomingCall"
>
  <div
    ngDraggable
    [ngResizable]="IsActiveCall"
    [rzHandles]="'n,e,s,w,se,sw,ne,nw'"
    zIndex="'100000'"
  >
    <div *ngIf="IsActiveCall" class="video-call">
      <div class="video-call__videos">
        <app-stream-handler
          #child
          (clientDisconnected)="this.clientDisconnected()"
          [isMicroActive]="this.IsMicroActive"
          [isVideoActive]="this.isVideoActive"
        ></app-stream-handler>
      </div>

      <div class="video-call__controls">
        <div
          class="video-call__control"
          (click)="this.switchMicro()"
        >
          <mat-icon class="control-icon" *ngIf="IsMicroActive"
            >mic</mat-icon
          >
          <mat-icon class="control-icon" *ngIf="!IsMicroActive"
            >mic_off</mat-icon
          >
        </div>
        <div
          class="video-call__control"
          (click)="this.switchVideo()"
        >
          <mat-icon class="control-icon" *ngIf="isVideoActive"
            >videocam</mat-icon
          >
          <mat-icon class="control-icon" *ngIf="!isVideoActive"
            >videocam_off</mat-icon
          >
        </div>

        <mat-icon class="control-icon" (click)="endCall()" [ngStyle]="{ color: 'red' }">
          call_end</mat-icon
        >
      </div>
    </div>
    <div *ngIf="IsIncomingCall">
      <div class="caller-information">
        some information about the caller
        <!-- todo -->
      </div>
      <mat-icon class="control-icon" (click)="answerCall()" [ngStyle]="{ color: 'green' }">
        call</mat-icon
      >
      <mat-icon class="control-icon" (click)="endCall()" [ngStyle]="{ color: 'red' }">
        call_end</mat-icon
      >
    </div>
  </div>
</div>
