h3 {
  margin: 0 0 10px;
}

.mobileNews{
  display: none;
}

.row{
  padding-bottom: 10px;
}
 
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.schedule {
  overflow: auto;
  margin-bottom: 3%;
}

.cal-week-view .cal-time-events .cal-event {
  border-bottom: 0px;
}

.news {
  top: 0%;
  position: absolute;
  overflow: auto;
  max-height: 1432px;
  box-shadow: 0px 2px 10px rgba(56, 56, 56, 0.2);
}

.spinner{
  margin: 10% auto auto;
  height: 100%;
  width: 100%;
}

@media (max-width:768px){
  .mobileNews{
    display: block;
  }

  .desktopNews{
    display: none;
  }
}