<div class = "schedule" >
  <div class="row text-center" style = "margin-right: 0px;">
    <div class="col-md-4" style="margin-top: 1%">
      <h3 style="font-size: 1em;color: gray;margin-top: 4%;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'ru': 1 }}</h3>
    </div>
    <div class="col-md-4" style="margin-top: 1.5%">
      <h3 style="color:blue;font-size: 1.5rem">Расписание занятий</h3>
    </div>
    <div class="col-md-4" style="margin-top: 1%;margin-bottom: 1%;padding-right: 0px">
      <div class="btn-group">
        <div
          style="color: blue;cursor: pointer;"
          class="btn btn-light"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <
        </div>
        <div
          style="background-color: #f8f9fa; cursor: pointer;"
          class="btn"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Сегодня
        </div>
        <div
          style="color: blue;cursor: pointer;"
          class="btn btn-light"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          >
        </div>
      </div>
    </div>
  </div>
  <div style = "margin-bottom: 2px" [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [locale] = "locale"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="8"
      [dayEndHour]="24"
      [weekStartsOn]="1"
      [hourSegments]="1"
      [hourSegmentHeight]="50"
      (eventTimesChanged)="eventTimesChanged($event)"
      [eventTemplate]= "eventTemplateCustom"
      (hourSegmentClicked) ="hourClick()"
    >
    </mwl-calendar-week-view>
  </div>


  <ng-template #eventTemplate let-event="event">
    <div class="cal-event-title">
      <div *ngIf="isLesson(event)">
        <table>
          <thead>
          <tr style="line-height: 30%;">
            <div style = "display: flex;justify-content: space-between;">
              <h6 style = "background: linear-gradient(blue, pink);-webkit-background-clip: text;-webkit-text-fill-color: transparent;margin-bottom: 0.4em;margin-top: 0.6em;font-size: 13px; left: 0%;color: indigo; float: left;">{{getTime(event.title)}}</h6>
              <p style = "margin-top: 0.6em;margin-bottom: 0.4em;line-height: 100%;font-size: 13px;float:right;color: black">{{getLocation(event.title)}}</p>
            </div>
          </tr>
          <tr style="line-height: 30%;">
            <div style = "display: flex;justify-content: space-between;">
              <h6 matTooltip="{{getToolTip(event?.title)}}" matTooltipClass="example-tooltip-blue" (click) = "rerouteToSubject(event.title)" style = "cursor: pointer;left: 0%;color: black; float: left">{{getName(event.title)}}</h6>
              <h6 style = "padding-left: 8px;padding-right: 8px;overflow: hidden;font-size: 12px;float:right;border-style: solid; border-width: 1px;border-color: gray; color: blue">{{getType(event.title)}}</h6>
            </div>
          </tr>
          <tr style="line-height: 30%;">
            <div style = "display: flex;justify-content: space-between;">
              <p style = "font-size: 13px;color: black; line-height: 100%; margin-bottom: 0%;">{{getThirdString(event.title)}}</p>
              <p style = "line-height: 100%;margin-bottom: 0%;font-size: 13px;float:right;color: black;cursor: pointer;">...</p>
            </div>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <div *ngIf="isNote(event)">
      <p style = "white-space: pre-wrap;line-height: 15px;color:black">{{event.title}}</p>
    </div>
  </ng-template>

  <ng-template #hourSegmentTemplate let-segment="segment" let-locale="locale">
    <div
      class="cal-hour-segment"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      [ngClass]="segment.cssClass">
    <span class="cal-time">
      {{ segment.date | calendarDate:'dayViewHour':locale }}
    </span>
    </div>
  </ng-template>


  <ng-template
    #eventTemplateCustom
    let-weekEvent="weekEvent"
    let-eventClicked="eventClicked">
    <div
      class="cal-event"
      style = "box-shadow: 10px 14px 28px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22); overflow: auto; "
      [ngStyle]="{ 'border-left-color': getColor(weekEvent.event.title)}"
      [style.backgroundColor]="weekEvent.event.color?.primary"
      (mwlClick)="eventClicked.emit({
                  event: weekEvent.event,
                  sourceEvent: weekEvent.event
                })">
      <mwl-calendar-event-actions
        [event]="weekEvent.event">
      </mwl-calendar-event-actions>
      &ngsp;
      <mwl-calendar-event-title
        [event]="weekEvent.event"
        [customTemplate]="eventTemplate"
        view="week">
      </mwl-calendar-event-title>
    </div>
  </ng-template>
</div>


<div class="control-panel" style="margin-top:5%;margin-bottom:5%">
  <!--button class="btn btn-primary" (click)="addNote()">Создать заметку</button-->
</div>

