<div *ngIf="!loading">
  <app-header [text]="'Тестирование и отладка ПО'"
              [smallText]="'Управление тестами'"></app-header>
  <app-main-page [allowChanges]="true"
                 (onValueChangeSearch)="filterTests($event)"
                 (onOpenAddingPopupEvent)="openDialog()"
                 [adminTests]="true"
                 [adminQuestions]="false"></app-main-page>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для контроля знаний'"
                          [allowChanges]="true"
                          [tests]="knowledgeControlTests"
                          (onOpenEditPopup)="openDialog($event)"
                          (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                          (onNavigateQuestions)="navigateToQuestions($event)"
                          (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
  </div>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для самоконтроля и ЭУМК'"
                          [allowChanges]="true"
                          [tests]="selfControlTests"
                          (onOpenEditPopup)="openDialog($event)"
                          (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                          (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
  </div>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Предтесты для обучения в ЭУМК'"
                          [allowChanges]="true"
                          [tests]="beforeEUMKTests"
                          (onOpenEditPopup)="openDialog($event)"
                          (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                          (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
  </div>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для обучения в ЭУМК'"
                          [allowChanges]="true"
                          [tests]="forEUMKTests"
                          (onOpenEditPopup)="openDialog($event)"
                          (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                          (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
  </div>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для обучения с искусственной нейронной сетью'"
                          [allowChanges]="true"
                          [tests]="nNTests"
                          (onOpenEditPopup)="openDialog($event)"
                          (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                          (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
  </div>
</div>
