<div *ngIf="!loading">
  <!--<app-header [text]="'Тестирование и отладка ПО'"
              [smallText]="'Управление тестами'"></app-header>-->
  <mat-tab-group class="container-table" (selectedTabChange)="onChange($event)">
    <mat-tab [label]="'text.test.theme.test' | translate: 'Темы тестов'">
      <ng-container *ngIf="currentTabIndex === 0">
        <app-main-page [allowChanges]="allowChanges"
                       [inputValue]="inputValue"
                       (onValueChangeSearch)="filterTests($event)"
                       (groupValueChange)="groupValueChange($event)"
                       (onOpenAddingPopupEvent)="openDialog()"
                       [adminTests]="adminTests"
                       [hideSearch]="currentTabIndex === 0"
                       [adminQuestions]="false"></app-main-page>
        <div class="container-table-tests">
          <app-main-table-tests [title]="'text.tests.for.control' | translate: 'Тесты для контроля знаний'"
                                [allowChanges]="true"
                                [tests]="knowledgeControlTests"
                                (onOpenEditPopup)="openDialog($event)"
                                (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                                (onNavigateQuestions)="navigateToQuestions($event)"
                                (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
        </div>
        <div class="container-table-tests">
          <app-main-table-tests [title]="'text.tests.for.self.control' | translate: 'Тесты для самоконтроля'"
                                [allowChanges]="true"
                                [tests]="selfControlTests"
                                (onOpenEditPopup)="openDialog($event)"
                                (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                                (onNavigateQuestions)="navigateToQuestions($event)"
                                (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
        </div>
        <div class="container-table-tests">
          <app-main-table-tests [title]="'text.tests.for.pre.eumk' | translate: 'Предтесты для обучения в ЭУМК'"
                                [allowChanges]="true"
                                [tests]="beforeEUMKTests"
                                (onOpenEditPopup)="openDialog($event)"
                                (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                                (onNavigateQuestions)="navigateToQuestions($event)"
                                (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
        </div>
        <div class="container-table-tests">
          <app-main-table-tests [title]="'text.tests.for.eumk' | translate: 'Тесты для обучения в ЭУМК'"
                                [allowChanges]="true"
                                [tests]="forEUMKTests"
                                (onOpenEditPopup)="openDialog($event)"
                                (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                                (onNavigateQuestions)="navigateToQuestions($event)"
                                (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
        </div>
        <div class="container-table-tests">
          <app-main-table-tests [title]="'text.tests.for.nn' | translate: 'Тесты для обучения с искусственной нейронной сетью'"
                                [allowChanges]="true"
                                [tests]="nNTests"
                                (onOpenEditPopup)="openDialog($event)"
                                (onOpenAvailabilityPopup)="openAvailabilityDialog($event)"
                                (onNavigateQuestions)="navigateToQuestions($event)"
                                (onDeleteTest)="openConfirmationDialog($event)"></app-main-table-tests>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab [label]="'text.test.result.test' | translate: 'Результаты тестировния'">
      <app-result-teacher *ngIf="currentTabIndex === 1" [size]="knowledgeControlTestsSize"></app-result-teacher>
    </mat-tab>
    <mat-tab [label]="'text.test.control.compleating.test' | translate: 'Контроль прохождения тестов'">
      <app-control-completing *ngIf="currentTabIndex === 2"
                              [filterCompletingString]="filterCompletingString"></app-control-completing>
    </mat-tab>
  </mat-tab-group>
</div>
