.availability-popup{
  &-container{
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    text-align: center;
  }

  &-content{
    &-blocks{
      display: flex;
      justify-content: space-between;
    }
  }

  &-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    &-margin{

    }
  }

}
.mat-dialog-actions{
  justify-content: flex-end;
}
