.outer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    padding-top : 25vh;
}

.outer h1 {
    max-width: 400px;
    text-align: center;
    font-weight: lighter;
}

.buttons-container {
    margin-top: 10px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.buttons-container :first-child {
    margin-right: 10px;
    background-color: rgb(223, 227, 230);
    color: black;
}

.mat-form-field {
    width: 400px;
}


.mat-button {
    background-color: steelblue;
    color: white;
}