<div class="outer"><div class="main">
    <h1>Попова Юля Борисовна (popova)</h1>
    <div>
        <mat-form-field>
            <input matInput placeholder="Новый пароль">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Подтверждение пароля">
        </mat-form-field>
    </div>
    <div class="buttons-container">
        <button mat-button routerLink='/lectors'>Отмена</button>
        <button class="btn" mat-button>Сохранить</button>
    </div>
</div></div>