<mat-grid-list cols="3" rowHeight="1:1" class="sub-settings">
  <a class="main-anchor" (click)="openPDF()">Положение об ЭУМК</a>
  <div *ngFor="let complex of complexes">
    <mat-grid-tile>
      <div class="ripple-container mat-elevation-z6" matRipple>
        <div>
          <a routerLink="/cMaterial" state={{complex.id}}>
            <div class="tooltip material-icons mdc-list-item__graphic" aria-hidden="true">{{adjustNameLength(complex.name)}}</div>
          </a>
        </div>
        <grid-menu-icon class="bottom-menu" complexId={{complex.id}} *ngIf="isLucturer"></grid-menu-icon>        
      </div>
      <span class="tooltiptext">{{complex.fullname}}</span>
    </mat-grid-tile>
  </div>
  <mat-grid-tile *ngIf="isLucturer">
    <div class="button-ripple-container" matRipple opentip-title="Добавить ЭУМК" (click)="onAddButtonClick()">
      <div>
        <i class="material-icons" aria-hidden="true">+</i>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
