.sub-settings {
  margin: 15px;

  .material-icons {
    color: white;
    font-size: 56px;
    height:160px;
  }

  mat-grid-tile .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 75%;
  }

  mat-grid-tile .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

  mat-grid-tile:hover .tooltiptext {
    visibility: visible;
  }
}

.add-button{
    color:red;
}

.bottom-menu {
  position: absolute;
  right: 0px;
}

.ripple-container {
  background: #3f51b5;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 200px;
  line-height: 42px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  padding-top: 30px;
}

.button-ripple-container {
  background: #3f51b5;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 200px;
  line-height: 42px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  padding-top: 30px;
  i{
      padding-top: 50px;
      font-size: 20px;
  }
}

.main-anchor {
  font-size: 20px;
  text-decoration: underline;
  color: #3f51b5;
}

a.main-anchor:hover {
  color: #AAAAAA;
  cursor: pointer;
}



