<mat-grid-list
  [cols]="breakpoint"
  *ngIf="!showLoader; else loader"
  rowHeight="1:1"
  class="sub-settings"
  (window:resize)="onResize($event)"
>
  <a class="main-anchor" (click)="openPDF()">
    {{ 'complex.regulations' | translate: 'Положение об ЭУМК' }}
  </a>
  <div *ngFor="let complex of complexes">
    <mat-grid-tile>
      <div class="complex-item mat-elevation-z6">
        <a
          class="complex-card"
          matRipple
          routerLink="/cMaterial"
          state="{{ complex.id }}"
        >
          <div
            class="tooltip complex-text"
            aria-hidden="true"
            [matTooltip]="complex.fullname"
            matTooltipPosition="right"
          >
            {{ adjustNameLength(complex.name) }}
          </div>
        </a>
        <grid-menu-icon
          class="bottom-menu"
          complexId="{{ complex.id }}"
        ></grid-menu-icon>
      </div>
    </mat-grid-tile>
  </div>
  <mat-grid-tile *ngIf="isLecturer">
    <div class="complex-item" matRipple (click)="onAddButtonClick()">
      <div
        class="complex-plus"
        aria-hidden="true"
        [matTooltip]="'complex.addComplex' | translate: 'Добавление ЭУМК'"
        matTooltipPosition="right"
      >
        +
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #loader>
  <td class="mdc-data-table__cell" colspan="6">
    <main-app-loader [diameter]="300"></main-app-loader>
  </td>
</ng-template>
