table {
    width: 100%;
}

.stats-table {
    padding: 80px;
}

.main-header {
    text-align: left;
    display: flex;
    font-size: 16px;
}

.main-header p {
    font-weight: bold;
    margin-left: 10px;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}

.column {
    width: 10%;
}

.all {
    background: antiquewhite;
}