<app-navbar></app-navbar>
<div class="main">
    <h1>Администрирование LMS</h1>
    <div class = "inline">
        <div class="div1">
            <p class="active">Активность пользователей</p>
            <p> Показывает процентное соотношение пользователей,
                осуществиших свой последний вход в систему
                в последние сутки, от суток до недели и тд.,
                от общего числа пользователей</p>
        </div>
        <div class="div2">
            <p>Всего пользователей: {{1}} </p>
            <p>Зарегистрировано студентов: {{2}} </p>
            <p>Зарегистрировано преподавателей: {{3}} </p>
            <p>Сервисных аккаунтов: {{4}}</p>
        </div>
    </div>
</div>