:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.title {
  margin: 0;
  font-weight: 400;
}

.dialog-content {
  flex: 1 1 auto;
  overflow-y: auto;

  mat-form-field {
    margin-bottom: 10px;
  }
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-shrink: 0;
}

.form-field {
  width: 100%;

  .commentInput {
    height: 40px;
  }

  .checkbox {
    position: absolute;
    top: 0;
    right: 0;
  }
}