
<button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>{{"text.adminPanel.modal.editStudent.title" | translate}}</h1>
<form [formGroup]="this.form" (ngSubmit)="submit()">
    <mat-dialog-content>
        <h2>{{this.student.Surname}} {{this.student.Name}}<br> ({{this.student.UserName}})</h2>
        <mat-form-field>
            <input matInput formControlName="Surname" 
                (blur)="this.trimFields()" 
                placeholder="{{'text.personalAccount.lastName' | translate}}" maxlength="30">
            <mat-error *ngIf="hasError('Surname', 'required')">{{"fieldRequired" | translate}}</mat-error>
            <mat-error *ngIf="hasError('Surname', 'maxLength')">{{"text.adminPanel.modal.editStudent.surnameMaxLength" | translate}}</mat-error>
            <mat-error *ngIf="hasError('Surname', 'pattern')">{{"fieldPattern" | translate}}: "A(a)-Я(я)", "A(a)-Z(z)", "0-9", "-", "_", " "</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="Name" (blur)="this.trimFields()"  placeholder="{{'text.personalAccount.firstName' | translate}}" maxlength="30">
            <mat-error *ngIf="hasError('Name', 'required')">{{"fieldRequired" | translate}}</mat-error>
            <mat-error *ngIf="hasError('Name', 'maxLength')">{{"text.adminPanel.modal.editStudent.nameMaxLength" | translate}}</mat-error>
            <mat-error *ngIf="hasError('Name', 'pattern')">{{"fieldPattern" | translate}}: "A(a)-Я(я)", "A(a)-Z(z)", "0-9", "-", "_", " "</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="Patronymic" (blur)="this.trimFields()" placeholder="{{'text.personalAccount.middleName' | translate}}" maxlength="30">
            <mat-error *ngIf="hasError('Patronymic', 'maxLength')">{{"text.adminPanel.modal.editStudent.patronymicMaxLength" | translate}}</mat-error>
            <mat-error *ngIf="hasError('Patronymic', 'pattern')">{{"fieldPattern" | translate}}: "A(a)-Я(я)", "A(a)-Z(z)", "0-9", "-", "_", " "</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{"group" | translate}}</mat-label>
            <mat-select formControlName="Group">
                <mat-optgroup [label]="this.form.controls.Group.value">
                    <mat-option *ngFor="let group of groups" [value]="group.Id">{{ group.Name }}</mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <div class="password">
            <a [routerLink]="['resetPassword/student', this.student.Id]" (click)="onNoClick()">{{"text.adminPanel.modal.editStudent.resetPassword" | translate}}</a>
        </div>
    </mat-dialog-content>
    <div class="line"></div>
    <mat-dialog-actions>
        <button mat-raised-button class="cancel" (click)="onNoClick()">{{"button.cancel" | translate}}</button>
        <button mat-raised-button [disabled]='this.form.invalid' (click)="onYesClick()">{{"button.edit" | translate}}</button>
    </mat-dialog-actions>
</form>
