<div class="projects-component" *ngIf="projects; else: load">
  <div class="projects-component__header">
    <mat-form-field class="visit-stats-component__group-select" *ngIf="diplomUser.IsSecretary && !isLecturer">
      <mat-select [value]="projectGroups ? projectGroups[0] : ''">
        <mat-option *ngFor="let group of projectGroups" (onSelectionChange)="_selectedGroup($event)" [value]="group">
          {{group}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle class="detached-toggle" *ngIf="diplomUser.IsSecretary && diplomUser.IsLecturerHasGraduateStudents && !isLecturer"
                        [color]="'primary'"
                        [checked]="isLecturer"
                        (change)="lecturerStatusChange($event)"
      >Преподаватель</mat-slide-toggle>
    
    <button mat-raised-button class="actions" color="primary" *ngIf="diplomUser.IsLecturer && isLecturer" 
      (click)="addProject()">Добавить тему</button>
    
    <button mat-raised-button class="actions" color="primary" *ngIf="diplomUser.IsLecturer && !diplomUser.IsSecretary" 
    (click)="addProject()">Добавить тему</button>
      <mat-slide-toggle class="detached-toggle-lecturer" *ngIf="isLecturer"
                        [color]="'primary'"
                        [checked]="isLecturer"
                        (change)="lecturerStatusChange($event)"
      >Преподаватель</mat-slide-toggle>
    <mat-form-field class="projects-component__search">
      <mat-label>Поиск темы, студента, группы</mat-label>
      <input matInput [value]="searchString" (input)="onSearchChange($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="projects-component__body">
    <app-projects-list [filteredProjects]="filteredProjects" [diplomUser]="diplomUser"></app-projects-list>
  </div>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
