.visit-stats-component {

  &__header {
    position: relative;
    overflow: auto;
  }

  .addDateBtn{
    float: left;
    margin-top: 9px;
  }

  .detached-toggle {
    margin-left: 15px;
  }
  .detached-toggle-lecturer {
    margin-top: 15px;
    margin-left: 15px;
  }

  &__lecturer-select {
    width: 130px;
  }

  &__search {
    float: right;
    width: 30%;
  }

  &__body {
    margin-top: 3px;
  }

}
