.visit-stats-component {
  &__header {
    overflow: auto;
    display: flex;
    justify-content: space-between;

    & > div:first-child {
      display: flex;
      align-items: center;
    }
  }

  .addDateBtn {
  vertical-align: middle;
  margin-right: 10px;
  }

  .detached-toggle {
    margin-left: 15px;
  }

  .detached-toggle-lecturer {
    margin-top: 15px;
    margin-left: 15px;
  }

  &__lecturer-select {
    width: 180px;
  }

  &__group-select-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__search {
    float: right;
  }

  &__body {
    margin-top: 3px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
  }
}

.addDateBtn {
  vertical-align: middle;
  margin-right: 10px;
}

.mselect {
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 300;
  background-color: #ffffff00;
  border: 0px;
  color: #fff;
  font-family:
    Roboto,
    Helvetica Neue,
    sans-serif;
  font-size: 14px;
  width: 165px;
}

.group-select {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-end;
}

.excel {
  margin-right: 13px;
  font-size: 30px;
}

.archive {
  font-size: 30px;
}

.help {
  margin-right: 10px;
}