.nav:hover {
  text-decoration: underline;
}
/* width */
::ng-deep ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    }

    /* Track */
    ::ng-deep ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 1px;
    }

    /* Handle */
    ::ng-deep ::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 1px;
    }

    /* Handle on hover */
    ::ng-deep ::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
    }


