<div *ngIf="isEnableNews">
  <div style="margin-top: 6%;">
     <p style="font-family: Roboto, Helvetica Neue, sans-serif;font-size: 24px; color: #3F51B5;position: relative;left: 30%;width: 70%">Новости</p>
  </div>
  <table style="margin-right:10%; margin-top: 7.5%;">
    <tr *ngFor="let item of news" >
     <div [ngStyle]="{ 'border-left':calcColor(item)}" style="margin-bottom: 2.28vh;" >
        <div style="margin-left:6%;" >
          <h6 (click) = "openItemInfo(item)" style = "color: gray;font-family: Roboto, Helvetica Neue, sans-serif;font-size:14px;line-height:20px;cursor: pointer;left: 0%;font-weight: initial; ">{{item?.Title}}</h6>
        </div>
        <div style="margin-left:6%;margin-top: 4%; display: flex;justify-content: space-between;">
          <h6 matTooltip="{{getToolTip(item)}}" matTooltipClass="example-tooltip-blue" style = "cursor: pointer;font-size:14px;line-height:16px;left: 0%;float: left; font-family: Roboto, Helvetica Neue, sans-serif;">{{getSubjectShortName(item?.SubjectId)}}</h6>
          <h6 style = "font-size:14px;line-height:16px;left: 0%;font-weight: initial; float: right;color: gray;font-family: Roboto, Helvetica Neue, sans-serif;font-size:14px;">{{item.EditDate.slice(6,-2) | date:'dd.MM.yyyy' }}</h6>
        </div>
        <p></p>
      </div>
    </tr>
  </table>
</div>
