<div class="visit-stats-component" *ngIf="selectedGroup; else: load">
  <div class="visit-stats-component__header">
    <mat-form-field class="visit-stats-component__search">
      <mat-label>Поиск по теме, фамилии</mat-label>
      <input matInput [value]="searchString" (input)="onSearchChange($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" *ngIf="courseUser.IsLecturer" (click)="addDate()">Добавить дату консультации</button>
  <div class="visit-stats-component__body">
    <app-visit-stats-list [visitStatsList]="visitStatsList" [consultations]="consultations"></app-visit-stats-list>
  </div>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
