.visit-stats-component {

  &__header {
    position: relative;
    overflow: auto;
    margin-left: 236px;

    button {
      position: absolute;
      bottom: 25px;
    }
  }

  &__group-select {
    width: 150px;
  }

  &__search {
    float: right;
    width: 30%;
  }

  &__body {
  }

}
