<div class="visit-stats-component" *ngIf="selectedGroup; else: load">
  <div class="visit-stats-component__header">
    <div>
      <ng-content select="[groupPicker]"></ng-content>
      <button mat-raised-button class="addDateBtn" color="primary" *ngIf="courseUser.IsLecturer" (click)="addDate()">{{'text.course.visit.dialog.add.title' | translate : 'Управление датами'}}</button>
    </div>
    <div class="visit-stats-component__controls" *ngIf="courseUser.IsLecturer">
      <mat-form-field class="visit-stats-component__search">
        <mat-label>{{'text.course.projects.search' | translate : 'Поиск по теме, фамилии'}}</mat-label>
        <input matInput [value]="searchString" (input)="onSearchChange($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="visit-stats-component__body">
    <app-visit-stats-list [visitStatsList]="visitStatsList" [consultations]="consultations"></app-visit-stats-list>
  </div>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
