<div>
  <app-header [text]="'Тестирование и отладка ПО'"
              [smallText]="'Доступные тесты'"></app-header>
  <app-main-page [allowChanges]="false"
                 [adminQuestions]="false"
                 [adminTests]="false"
                 (onValueChangeSearch)="filterTests($event)"></app-main-page>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для контроля знаний'" [allowChanges]="false"
                          [tests]="knowledgeControlTests"></app-main-table-tests>
  </div>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для самоконтроля и ЭУМК'" [allowChanges]="false"
                          [tests]="selfControlTests"></app-main-table-tests>
  </div>
  <div class="container-table-tests">
    <app-main-table-tests [title]="'Тесты для обучения с искусственной нейронной сетью'" [allowChanges]="false"
                          [tests]="nNTests"></app-main-table-tests>
  </div>
</div>
