.dialog {
  border-style: solid;
  border-left-width: 3px;
  border-radius: 0px;
  border-bottom-width: 0px ;
  border-top-width: 1px;
  border-right-width: 0px ;
  margin: -10px;
  border-top-color: aliceblue;
  padding: 15px 20px 10px;
  box-shadow: 5px 5px 5px rgba(187,187,187,0.25);
}

.attachments-container {
  display: grid;
  gap: 5px;
  justify-items: flex-start;
}
.attachment {
  font-size: 14px;
  color: #3f51b5;
  cursor: pointer;
  border-bottom: 1px solid #3f51b5;
}

