<div class="dialog" id="dialog" [ngStyle]="{ 'border-left-color': data.itemNews.Subject.Color}">
  <div style="margin-left: 5px">
    <h4 [ngStyle] ="{ 'color': data.itemNews.Subject.Color}"  style="font-family: Roboto, Helvetica Neue, sans-serif; font-size: 19px;font-weight: 500;">{{data.itemNews.Title}}</h4>
    <div [innerHTML]="data.itemNews.Body" class="body"
         style="font-family: Roboto, Helvetica Neue, sans-serif; margin-top: 20px;max-height: 35vh;overflow-y: auto;">
    </div>
    <div *ngIf="data.itemNews.Attachments.length">
      <div class="attachments-container">
        <a class="attachment" *ngFor="let file of data.itemNews.Attachments" (click)="fileDownload(file)">{{file.Name}}</a>
      </div>
    </div>
    <div>
      <h6 (click)="rerouteToSubject()"
          style="font-family: Roboto, Helvetica Neue, sans-serif; cursor: pointer;font-weight: initial;color: #777; ">{{data.itemNews.Subject.Name}}</h6>
    </div>
    <h6
      style="font-size: 12px;font-family: Roboto, Helvetica Neue, sans-serif; font-weight: initial;color: #999999;; "> {{data.itemNews.EditDate.slice(6, -2) | date:'dd.MM.yyyy' }}</h6>
  </div>
</div>
