<mat-spinner
  mode="indeterminate"
  *ngIf="!this.isLoad"
  class="spinner"
  color="primary"
></mat-spinner>
<div *ngIf="this.isLoad">
  <button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>

  <h1 mat-dialog-title>
    {{ 'text.adminPanel.modal.editLecturer.title' | translate }}
  </h1>

  <form [formGroup]="this.form" (ngSubmit)="submit()">
    <mat-dialog-content>
      <h2>
        {{ this.professor.FullName }} <br />
        ({{ this.professor.Login }})
      </h2>
      <mat-form-field>
        <input
          matInput
          formControlName="Surname"
          (blur)="this.trimFields()"
          placeholder="{{ 'text.personalAccount.lastName' | translate }}"
          maxlength="30"
        />
        <mat-error *ngIf="hasError('Surname', 'required')">{{
          'fieldRequired' | translate
        }}</mat-error>
        <mat-error *ngIf="hasError('Surname', 'pattern')"
          >{{ 'fieldPattern' | translate }}: "A(a)-Я(я)", "A(a)-Z(z)", "0-9",
          "-", "_", " "</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="Name"
          (blur)="this.trimFields()"
          placeholder="{{ 'text.personalAccount.firstName' | translate }}"
          maxlength="30"
        />
        <mat-error *ngIf="hasError('Name', 'required')">{{
          'fieldRequired' | translate
        }}</mat-error>
        <mat-error *ngIf="hasError('Name', 'pattern')"
          >{{ 'fieldPattern' | translate }}: "A(a)-Я(я)", "A(a)-Z(z)", "0-9",
          "-", "_", " "</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="Patronymic"
          (blur)="this.trimFields()"
          placeholder="{{ 'text.personalAccount.middleName' | translate }}"
          maxlength="30"
        />
        <mat-error *ngIf="hasError('Patronymic', 'pattern')"
          >{{ 'fieldPattern' | translate }}: "A(a)-Я(я)", "A(a)-Z(z)", "0-9",
          "-", "_", " "</mat-error
        >
      </mat-form-field>
      <div class="checkbox">
        <mat-checkbox formControlName="IsLecturerHasGraduateStudents">{{
          'text.adminPanel.modal.editLecturer.diplomaProjectSupervisor'
            | translate
        }}</mat-checkbox>
      </div>
      <div class="checkbox">
        <mat-checkbox formControlName="IsSecretary">{{
          'text.adminPanel.modal.editLecturer.secretary' | translate
        }}</mat-checkbox>
      </div>

      <mat-form-field
        *ngIf="this.form.controls.IsSecretary.value"
        appearance="fill"
      >
        <mat-label>{{
          'text.adminPanel.modal.editLecturer.groupsSecretary' | translate
        }}</mat-label>
        <mat-select [formControl]="this.form.controls.SecGroupsIds" multiple>
          <mat-option
            *ngFor="let group of this.groups"
            [value]="group.Id"
            [disabled]="
              group.OccupiedBySecretary !== 0 &&
              group.OccupiedBySecretary !== this.professor.Id
            "
            >{{ group.Name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div class="password">
        <a
          [routerLink]="['resetPassword/lector', this.professor.Id]"
          (click)="onNoClick()"
          >{{
            'text.adminPanel.modal.editLecturer.resetPassword' | translate
          }}</a
        >
      </div>
    </mat-dialog-content>
    <div class="line"></div>
    <mat-dialog-actions>
      <button mat-raised-button class="cancel" (click)="onNoClick()">
        {{ 'button.cancel' | translate }}
      </button>
      <button
        mat-raised-button
        [disabled]="this.form.invalid"
        (click)="onYesClick()"
      >
        {{ 'button.edit' | translate }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
