h1 {
  width: 100%;
  font-weight: 400;
}

mat-dialog-content {
  max-width: 450px;
}

mat-form-field {
  width: 100%;
}

.close-icon {
  float: right;
}

.checkbox {
  margin-top: 20px;
}

mat-dialog-actions {
  float: right;
  margin-top: 0;
}

.password {
  padding-top: 20px;
  font-size: 20px;
}

h2 {
  font-weight: 100;
  text-align: center;
  font-size: 22px;
}

.mat-progress-spinner {
  position: initial;
}
