<mat-spinner mode="indeterminate" *ngIf="!this.isLoadActive" class="spinner" color="primary"></mat-spinner>
<div *ngIf='this.isLoadActive'>
    <div class="main">
        <div class="inline">
            <div class="div1">
                <p class="active">Активность пользователей</p>
                <p> Показывает процентное соотношение пользователей, осуществивших свой последний вход в систему в последние сутки, от суток до недели и тд., от общего числа пользователей</p>
            </div>
            <div class="div2">
                <p>Всего пользователей: {{ userActivity.TotalUsersCount }} </p>
                <p>Зарегистрировано студентов: {{ userActivity.TotalStudentsCount }} </p>
                <p>Зарегистрировано преподавателей: {{ userActivity.TotalLecturersCount }} </p>
                <p>Сервисных аккаунтов: {{ userActivity.ServiceAccountsCount }}</p>
            </div>
        </div>
    </div>
    <div class="charts">
        <google-chart [type]="type" [data]="this.users" [options]="options" [width]="750" [height]="600">
        </google-chart>
        <google-chart [type]="type" [data]="this.times" [options]="options" [width]="750" [height]="600">
        </google-chart>
    </div>
</div>
