<mat-spinner mode="indeterminate" *ngIf="!this.isLoadActive" class="spinner" color="primary"></mat-spinner>
<div *ngIf='this.isLoadActive'>
    <div class="main">
        <div class="inline">
            <div class="div1">
                <p class="active">Активность пользователей</p>
                <p> Показывает процентное соотношение пользователей, осуществивших свой последний вход в систему в последние сутки, от суток до недели и т.д., от общего числа пользователей.</p>
            </div>
            <div class="div2">
                <p>Всего пользователей: {{ userActivity.TotalUsersCount }} </p>
                <p>Зарегистрировано студентов: {{ userActivity.TotalStudentsCount }} </p>
                <p>Зарегистрировано преподавателей: {{ userActivity.TotalLecturersCount }} </p>
                <p>Сервисных аккаунтов: {{ userActivity.ServiceAccountsCount }}</p>
            </div>
        </div>
    </div>
    <div class="charts">
        <apx-chart [series]="this.timesSeries" [labels]="this.timesLabels" [legend]="this.chartOptions.legend" [chart]="this.chartOptions.chart"></apx-chart>
        <apx-chart [series]="this.usersSeries" [labels]="this.usersLabels" [legend]="this.chartOptions.legend" [chart]="this.chartOptions.chart"></apx-chart>
    </div>
</div>
