<mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
<div class="tabs-container" *ngIf="isLoad">    
    <button *ngIf="this.groupName && this.isSubject()" mat-button [matMenuTriggerFor]="subject" color="primary">
        Предметы
    </button>
    <mat-menu #subject="matMenu" yPosition="below">
        <button *ngFor="let element of this.subjectResponse.Subjects" routerLink="/control/item/{{this.groupName}}/{{element.Id}}" mat-menu-item>
            {{ element.Name }}
        </button>
    </mat-menu>
    <button *ngIf="this.groupName && this.isSubject()" mat-button aria-label="Stats" [routerLink]="['/control/statistic', groupName]" color="primary">
        Статистика
    </button>

</div>