.form-field {
  width: 100%;
}

.dialog-buttons {
  float: right;
}

.form-container {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.add-date {

  &__container {
    width: auto;
    position: relative;
    height: 100%;
    display: grid;
    min-width: 450px;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
  }


  &__action {
    width: 100%;
  }

  &__table {
    width: 100%;
    &-action {
      display: flex;
      justify-content: center;
      width: 0px;
    }
    &-title {
      font-size: 16px;
      margin-bottom: 5px;
    }
    &-container {
      border-top: 0;
    }
  }

  &__content {
    margin-top: 10px;
  }

}

.mat-icon-button {
  width: 10px;
}

.mdc-data-table {
  width: 100%;
}
.mat-elevation-z8 {
  box-shadow: none;
}
