<div class="header">
  <h1 mat-dialog-title>
    {{
      'text.course.visit.dialog.add.header.title'
        | translate: 'Добавление даты консультации'
    }}
  </h1>
  <button mat-icon-button (click)="onCancelClick()" class="header__close-btn">
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="form-container">
    <mat-form-field class="form-field">
      <mat-label>{{
        'text.course.percentages.list.stage.date' | translate: 'Дата'
      }}</mat-label>
      <input
        matInput
        [matDatepicker]="dp"
        [formControl]="dateControl"
        (dateChange)="onDateChange(dateControl.value)"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
      <mat-error *ngIf="dateControl.invalid">{{
        'text.course.list.dialog.data.error.date'
          | translate: 'Неправильный формат (ДД.ММ.ГГГГ)'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Lecturer</mat-label>
      <mat-select [(ngModel)]="data.lecturerId" [formControl]="lecturerIdControl">
        <mat-option *ngFor="let lector of lectors" [value]="lector.LectorId">
          {{ lector.FullName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="lecturerIdControl.hasError('required')">Lecturer is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="form-field">
      <mat-label>{{
        'text.course.visit.dialog.add.lesson.start'
          | translate: 'Начало занятия'
      }}</mat-label>
      <input
        matInput
        type="time"
        [formControl]="startTimeControl"
        [(ngModel)]="data.start"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>{{
        'text.course.visit.dialog.add.lesson.end' | translate: 'Конец занятия'
      }}</mat-label>
      <input
        matInput
        type="time"
        [formControl]="endTimeControl"
        [(ngModel)]="data.end"
      />
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="form-field">
      <mat-label>{{
        'text.course.visit.dialog.add.block' | translate: 'Корпус'
      }}</mat-label>
      <input
        matInput
        [formControl]="buildingControl"
        [(ngModel)]="data.building"
      />
      <mat-error *ngIf="buildingControl.invalid">{{
        'text.course.visit.dialog.add.error.small'
          | translate: 'От 1 до 3 символов'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>{{
        'text.course.visit.dialog.add.audience' | translate: 'Аудитория'
      }}</mat-label>
      <input
        matInput
        [formControl]="audienceControl"
        [(ngModel)]="data.audience"
      />
      <mat-error *ngIf="audienceControl.invalid">{{
        'text.course.visit.dialog.add.error.small'
          | translate: 'От 1 до 3 символов'
      }}</mat-error>
    </mat-form-field>
  </div>
</div>
<button
  mat-flat-button
  class="dialog-button"
  color="primary"
  [disabled]="
    audienceControl.invalid ||
    buildingControl.invalid ||
    dateControl.invalid ||
    startTimeControl.invalid ||
    endTimeControl.invalid
  "
  (click)="onAddClick()"
>
  {{ 'text.course.visit.dialog.add' | translate: 'Добавить' }}
</button>
<div class="add-date__content">
  <p mat-dialog-title class="add-date__table-title">
    {{ 'date.selected' | translate: 'Выбранные даты' }}
  </p>
  <div
    class="mdc-data-table add-date__table-container mat-elevation-z8"
    *ngIf="data.consultations && data.consultations.length"
  >
    <ng-container *ngFor="let day of data.consultations">
    <app-edit
      *ngIf="showEditPopover && selectedDay === day"
      [day]="day"
      [lectors]="lectors"
      (close)="closeEditPopover($event)">
    </app-edit>
    <table class="mdc-data-table__table">

      <tbody class="mdc-data-table__content">

      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">
          {{ day.Day }}
          <mat-hint *ngIf="day.StartTime && day.EndTime">
            {{ day.StartTime }}-{{ day.EndTime }}
          </mat-hint>
        </td>
        <td class="mdc-data-table__cell visit-date__table-action">
          <button mat-icon-button color="primary" [matTooltip]="'date.edit' | translate: 'Редактировать дату'"
                  [disabled]="isEditing && selectedDay !== day"
                  (click)="editPopover(day) ">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" [matTooltip]="'date.delete' | translate: 'Удалить дату'"
                  [disabled]="isEditing && selectedDay !== day"
                  (click)="deleteDate(day.Id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>

      </tbody>
    </table>
    </ng-container>
  </div>
</div>

<div mat-dialog-actions class="dialog-buttons">
  <button mat-raised-button class="dialog-button" (click)="onCancelClick()">
    {{ 'text.close' | translate: 'Закрыть' }}
  </button>
</div>
