.mat-button:focus {
  cursor: pointer;
}

a {
  color: black;
  padding: 0px;
  font-weight: 400;
}

a:hover {
  font-weight: 500;
}

.mat-paginator {
  display: flex;
  float: right;
}

.table {
  margin-top: -25px;
}

.search {
  max-width: 300px;
  width: 35%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td,
a {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 1024px) {
  th,
  td,
  a {
    padding: 6px;
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  th,
  td,
  a {
    padding: 4px;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  th,
  td,
  a {
    padding: 4px;
    font-size: 0.45rem;
  }
}
