<div class="main">
  <mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
  <div [hidden]="!this.isLoad">
    <mat-paginator #myPaginator [length]="25" [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 80]" showFirstLastButtons="true"></mat-paginator>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort matSortStart="asc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element; let i = index "> {{ (i+1) + (myPaginator.pageIndex * myPaginator.pageSize) }} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя файла</th>
        <td mat-cell *matCellDef="let element">
          <a mat-button (click)="this.uploadFile(element.PathName, element.FileName)"> {{ element.Name }} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="nameOnDisk">
        <th mat-header-cell *matHeaderCellDef> Имя на диске </th>
        <td mat-cell *matCellDef="let element"> {{ element.FileName }} </td>
      </ng-container>

      <ng-container matColumnDef="packageOnDisk">
        <th mat-header-cell *matHeaderCellDef> Папка на диске </th>
        <td mat-cell *matCellDef="let element"> {{ element.PathName }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
