.header {
  background-color: #3F51B5;
  color: white;
}

.example-container {
  display: flex;
  flex-direction: column;
  overflow-y: initial !important;
}

.example-container a > * {
  width: 100%;
}

.mat-dialog-container{
  padding: 0px;
}

