<div>
  <mat-icon class = "icon" (click)="onCancelClick()" style="cursor: pointer;position: relative; margin-left: 95%">close</mat-icon>
</div>


<div *ngFor="let newItem of data.news" class="dialog" id="dialog"
     [ngStyle]="{ 'border-left-color': newItem.Subject.Color}">
  <div style="margin-left: 5px;">
    <h4 [ngStyle] ="{ 'color': newItem.Subject.Color}" style=" font-family: Roboto, Helvetica Neue, sans-serif; font-size: 19px; font-weight: 500;margin: 0; ">{{newItem.Title}}</h4>
    <div [innerHTML]="newItem.Body" class="body"
         style="font-family: Roboto, Helvetica Neue, sans-serif; margin-top: 1em;  margin-bottom: 0em;max-height: 35vh;overflow-y: auto;">
    </div>
    <!--div *ngIf="newItem.Attachments.length">
      <div class="attachments-container">
        <a class="attachment" *ngFor="let file of data.itemNews.Attachments" (click)="fileDownload(file)">{{file.Name}}</a>
      </div>
    </div-->
    <div>
      <h6 (click)="rerouteToSubject()"
          style="font-family: Roboto, Helvetica Neue, sans-serif; cursor: pointer;font-weight: initial;color: #777; ">{{newItem.Subject.Name}}</h6>
    </div>
    <h6
      style="font-size: 12px;font-family: Roboto, Helvetica Neue, sans-serif; font-weight: initial;color: #999999; "> {{newItem.EditDate.slice(6, -2) | date:'dd.MM.yyyy' }}</h6>
  </div>
</div>


