h1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 33px;
}

.mat-dialog-title {
    display: flex;
    border-bottom: 1px;
}

mat-dialog-content {
    width: 450px;
}

mat-form-field {
    width: 100%;
}

.checkbox {
    margin-top: 20px;
}

.btn {
    background-color: cornflowerblue;
    color: white;
    border: white;
}

mat-dialog-actions {
    float: right;
}

.close-icon {
  float: right;
}

.title {
  font-size: 24px;
}
