<div>
    <div mat-dialog-title>
        <h1>Контроль успеваемости</h1>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <input #input matInput placeholder="Введите номер группы">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick(input.value)">Выбрать группу</button>
    </mat-dialog-actions>
</div>