<div>
    <div class="title">Контроль успеваемости
      <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <input #input matInput placeholder="Введите номер группы" maxLength="20px">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick(input.value)">Выбрать группу</button>
    </mat-dialog-actions>
</div>
