<div mat-dialog-content>

  <mat-form-field>
    <mat-label *ngIf="!showBadPasswordError">Введите старый пароль</mat-label>
    <mat-label class="error-label"  *ngIf="showBadPasswordError">
      Неверный пароль!
    </mat-label>
    <input matInput [type]="hideOld ? 'password' : 'text'" [(ngModel)]="this.oldPassword" [formControl]="passwordFormControl" maxlength="30">
    <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
      <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Введите новый пароль</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" [(ngModel)]="this.newPassword" [formControl]="newPasswordFormControl"  maxlength="30">
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPasswordFormControl.invalid">
      Пароль имеет<strong> неверный формат</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label *ngIf="arePasswordsSame() || newPasswordRepeatFormControl.invalid">Повторите новый пароль</mat-label>
    <mat-label class="error-label" *ngIf="!arePasswordsSame() && !newPasswordRepeatFormControl.invalid">
      Пароли не совпадают!
    </mat-label>
    <input matInput [type]="hideNewRepeat ? 'password' : 'text'" [(ngModel)]="this.newPasswordRepeat" [formControl]="newPasswordRepeatFormControl" maxlength="30">
    <button mat-icon-button matSuffix (click)="hideNewRepeat = !hideNewRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewRepeat">
      <mat-icon>{{hideNewRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="newPasswordRepeatFormControl.invalid">
      Пароль имеет<strong> неверный формат</strong>
    </mat-error>
  </mat-form-field>
    
</div>

<div mat-dialog-actions>
  <button mat-button class = "button-usual" (click)="onNoClick()">Отмена</button>
  <button mat-button class = "main-button" (click)="onSaveChangesClick()" cdkFocusInitial>Сохранить изменения</button>
</div>
