<div class="header-row">
  <h2 class="header">{{'text.personalAccount.changePassword' | translate : ("Изменить пароль")}}</h2>
</div>

<div mat-dialog-content class="main-frame">

  <mat-form-field>
    <mat-label *ngIf="!showBadPasswordError">{{'text.personalAccount.changePassword.putOldPassword' | translate : ("Введите старый пароль")}}</mat-label>
    <mat-label class="error-label" *ngIf="showBadPasswordError">
      {{'text.personalAccount.changePassword.wrongPassword' | translate : ("Неверный пароль!")}}
    </mat-label>
    <input matInput [type]="hideOld ? 'password' : 'text'" [(ngModel)]="this.oldPassword" [formControl]="passwordFormControl" maxlength="30">
    <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
      <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'text.personalAccount.changePassword.putNewPassword' | translate : ("Введите новый пароль")}}</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" [(ngModel)]="this.newPassword" [formControl]="newPasswordFormControl"  maxlength="30">
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPasswordFormControl.invalid">
      {{'text.personalAccount.changePassword.invalidPassword' | translate : ("Пароль имеет неверный формат!")}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label *ngIf="arePasswordsSame() || newPasswordRepeatFormControl.invalid">{{'text.personalAccount.changePassword.repeatPassword' | translate : ("Повторите пароль")}}</mat-label>
    <mat-label class="error-label" *ngIf="!arePasswordsSame() && !newPasswordRepeatFormControl.invalid">
      {{'text.personalAccount.changePassword.passwordsNotMatch' | translate : ("Пароли не совпадают!")}}
    </mat-label>
    <input matInput [type]="hideNewRepeat ? 'password' : 'text'" [(ngModel)]="this.newPasswordRepeat" [formControl]="newPasswordRepeatFormControl" maxlength="30">
    <button mat-icon-button matSuffix (click)="hideNewRepeat = !hideNewRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewRepeat">
      <mat-icon>{{hideNewRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="newPasswordRepeatFormControl.invalid">
      {{'text.personalAccount.changePassword.invalidPassword' | translate : ("Пароль имеет неверный формат!")}}
    </mat-error>
  </mat-form-field>
    
</div>

<div mat-dialog-actions class="buttons-row">
  <button mat-button class="button-usual" (click)="onNoClick()">{{'button.cansel' | translate : ("Отмена")}}</button>
  <button mat-button class="main-button" (click)="onSaveChangesClick()" cdkFocusInitial>{{'text.personalAccount.changePassword.change' | translate : ("Изменить")}}</button>
</div>

<button mat-icon-button (click)="onNoClick()" class="icon-close">
  <mat-icon aria-hidden="false">close</mat-icon>
</button>
