.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.header-row {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.header {
  color: #212121;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 36px !important;
  font-weight: 500;
  font-size: 24px !important;
  width: 100%;
}

.error-label {
  color:#f44336;
}




@media (min-width:971px) {
  .icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #808080 !important
  }

  input {
    width: 100%;
  }

  .main-frame {
    margin-top: 15%;
    overflow: hidden;
  }

  .buttons-row {
    justify-content: flex-end;
    margin-top: 25%;
  }

  .button-usual {
    border-radius: 4px;
    color: black;
    width: 25% !important;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }

  mat-form-field {
    display: block;
    line-height: 6vh;
  }

  .main-button {
    color: white;
    background-color: #3f51b5;
    position: relative;
    width: 35%;
  }
}
  @media (max-width:970px) {

    @media (min-width:500px) {
        mat-label{
            font-size: 2.5vw !important;
        }

      mat-button {
        font-size: 2.3vw !important;
      }
    }

    mat-button {
      font-size: 3.5vw !important;
    }

    mat-label {
      font-size: 4vw;
    }

    input {
      width: 100%;
    }

    .buttons-row {
        display: flex;
        height: 7%;
        flex-direction: row;
        justify-content: flex-end;
      }

    .button-usual {
      border-radius: 4px;
      color: black;
      position: relative;
      width: 40%;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    }

    mat-form-field {
        display: block;
      }

    .main-button {
        color: white;
        background-color: #3f51b5;
        width: 50% !important;
      }

    .icon-close {
      background-color: transparent !important;
      box-shadow: none !important;
      width: 35%;
      visibility: hidden;
    }

   }
