<div class="visit-stats-list-component">
  <div class="mdc-data-table">
    <table class="mdc-data-table__table">
      <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">№</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Студент</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Тема курсового проекта</th>
        <th class="mdc-data-table__header-cell data-cell" role="columnheader" scope="col" *ngFor="let consultation of consultations">
          <div class="header-date">
            <a class="clickable" (click)="visitStatsComponent.deleteVisitDate(consultation)" matTooltip="Удалить дату"
               *ngIf="visitStatsComponent.getCourseUser().IsLecturer">
              {{consultation.Day | date:'dd.MM.yyyy'}}
            </a>
            <p *ngIf="visitStatsComponent.getCourseUser().IsStudent">
              {{consultation.Day | date:'dd.MM.yyyy'}}
            </p>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="visitStatsList; else: load">
      <tr class="mdc-data-table__row" *ngFor="let stats of visitStatsList; index as i">
        <td class="mdc-data-table__cell">{{ i + 1 }}</td>
        <td class="mdc-data-table__cell">{{ stats.Name }}</td>
        <td class="mdc-data-table__cell">{{ stats.Group }}</td>
        <ng-container *ngIf="visitStatsComponent.getCourseUser().IsStudent">
          <td class="mdc-data-table__cell data-cell" *ngFor="let consultationMark of stats.CourseProjectConsultationMarks">
            {{consultationMark.Mark}}
          </td>
        </ng-container>
        <ng-container *ngIf="visitStatsComponent.getCourseUser().IsLecturer">
          <td class="mdc-data-table__cell data-cell" *ngFor="let consultationMark of stats.CourseProjectConsultationMarks"
              (dblclick)="visitStatsComponent.setVisitMarks(consultationMark.ConsultationDateId)">
            {{consultationMark.Mark}}
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #load>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
