<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="complex-grid-component__popover" #popoverContent>
  <form class="example-form" #formElement>
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'common.nameComplexes' | translate: 'Название ЭУМК' }}</mat-label>
      <textarea
        class="lab-work-component__news-text"
        maxlength="256"
        required
        name="body"
        placeholder="{{ 'common.nameComplexes' | translate: 'Название ЭУМК' }}"
        matInput
        [(ngModel)]="data.name"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'common.course' | translate: 'Предмет' }}</mat-label>
      <input
        name="shortName"
        maxlength="100"
        placeholder="{{ 'common.courseName' | translate: 'Название предмета' }}"
        matInput
        [(ngModel)]="data.subjectName"
        [disabled]="true"
      />
    </mat-form-field>
    <mat-checkbox
      name="isPublishedCheckBox"
      matInput
      [(ngModel)]="data.isPublished"
      >{{ 'complex.openAccess' | translate: 'Открыть студентам доступ к ЭУМК' }}</mat-checkbox
    >
    <span>
      <mat-checkbox
        [disabled]="!data.isNew"
        name="includeLectures"
        matInput
        [(ngModel)]="data.includeLectures"
        >{{
          'complex.include.lecture' | translate: 'Включить темы лекций предмета в теоретический раздел ЭУМК'
        }}</mat-checkbox
      >
      <mat-checkbox
        [disabled]="!data.isNew"
        name="includeWorkshops"
        matInput
        [(ngModel)]="data.includeWorkshops"
        >{{
          'complex.include.workshop' | translate: 'Включить темы практических занятий в практический раздел ЭУМК'
        }}</mat-checkbox
      >
       <mat-checkbox
        [disabled]="!data.isNew"
        name="includeLabs"
        matInput
        [(ngModel)]="data.includeLabs"
        >{{
          'complex.include.labs' | translate: 'Включить темы лабораторных работ в практический раздел ЭУМК'
        }}</mat-checkbox
      >
      <mat-checkbox
        [disabled]="!data.isNew"
        name="includeTests"
        matInput
        [(ngModel)]="data.includeTests"
        >{{
          'complex.include.tests' | translate: 'Включить тесты для самоконтроля в блок контроля знаний ЭУМК'
        }}</mat-checkbox
      >
    </span>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onClick()">
    {{ 'common.cancel' | translate: 'Отмена' }}
  </button>
  <button
    mat-raised-button
    (click)="onSave(data || data.body)"
    color="primary"
    [disabled]="!formElement.checkValidity()"
  >
    {{ 'common.save' | translate: 'Сохранить' }}
  </button>
</div>
