<div *ngIf="diplomUser; else load" class="task-sheet__header">
  <mat-form-field class="task-sheet__header__theme">
    <mat-label>Выберите тему дипломного проекта</mat-label>
    <mat-select panelClass="theme-panel" [(value)]="diplomProjectId" (selectionChange)="onThemeChange($event.value)">
      <mat-option *ngFor="let theme of themes" [value]="theme.Id">
        {{theme.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="task-sheet__header__actions">
    <button mat-icon-button color="primary" matTooltip="Скачать лист задания"
            *ngIf="diplomProjectId != null" (click)="downloadTaskSheet()">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Редактировать"
            (click)="editTaskSheet()" *ngIf="diplomUser.IsLecturer && diplomProjectId != null">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
<div id="task-sheet" class="task-sheet__body"></div>
<div class="spinner" *ngIf="taskSheetHtml == null">
  <mat-spinner></mat-spinner>
</div>
