<button mat-menu-item (click)="openAdaptivityPopup(1)">
  <mat-icon>stars</mat-icon>
  <span>{{
    'complex.algorithm.advanced' | translate: 'Углубленный алгоритм обучения'
  }}</span>
</button>
<button mat-menu-item (click)="openAdaptivityPopup(2)">
  <mat-icon>voicemail</mat-icon>
  <span>{{
    'complex.algorithm.base' | translate: 'Базовый алгоритм обучения'
  }}</span>
</button>
<div class="mat-dialog-actions">
  <button mat-raised-button (click)="onNoClick()">
    <span>{{ 'common.cancel' | translate: 'Отмена' }}</span>
  </button>
</div>
