.app-component {

  &__body {
    margin: 15px;
    .iconify {
      width: 28px;
      height: 28px;
      margin-left: 14px;
      color: rgb(61, 80, 182);
    }
  }

  .mdc-tab-bar {
    display: flex;
    margin-left: 15px;
    margin-bottom: 14px;
  }
}

.group-select {
  align-items: center;
  justify-content: flex-end;
}

.detached-toggle {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.excel-file{
  cursor: pointer;
  font-size: 28px;
  height: 28px;
  margin-right: 10px;
  margin-left: 0;
}

.download-zip{
  cursor: pointer;
  font-size: 28px;
  height: 28px;
}

.mdc-tab__text-label{
  text-transform: none;
}

.picker {
  height: 100%;
  align-items: center;
}
