<div class="app-component" *ngIf="courseUser">
  <div class="mdc-tab-bar" role="tablist">
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 1"
            (click)="tab = 1"
    >
      <span class="mdc-tab__content">
        <span class="mdc-tab__text-label">Темы проектов</span>
      </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 1">
        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
      </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 2"
            (click)="tab = 2"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Лист задания</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 2">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 3"
            (click)="tab = 3"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">График процентовки</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 3">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 4"
            (click)="tab = 4"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Результаты процентовки</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 4">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 5"
            (click)="tab = 5"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Посещение консультаций</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 5">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 6"
            (click)="tab = 6"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Защита проектов</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 6">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
  </div>

  <div class="app-component__body">
    <div [ngStyle]="{'display': (tab === 4 || tab === 5) ? 'flex' : 'none'}" class="group-select">
      <mat-form-field>
        <mat-select [value]="groups ? groups[0].Id : ''">
          <mat-option *ngFor="let group of groups" (onSelectionChange)="_selectedGroup($event)" [value]="group.Id">
            {{group.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="_excel-file" matTooltip="Загрузить документ Excel" matTooltipPosition="above"
           *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer" (click)="getExcelFile()">
        <span class="iconify" data-icon="mdi-file-excel" data-inline="false"></span>
      </div>
    </div>
    <app-projects *ngIf="tab === 1" [courseUser]="courseUser"></app-projects>
    <app-task-sheet *ngIf="tab === 2" [courseUser]="courseUser" [groups]="groups"></app-task-sheet>
    <app-percentages *ngIf="tab === 3" [courseUser]="courseUser"></app-percentages>
    <app-percentage-results *ngIf="tab === 4 && selectedGroup" [courseUser]="courseUser" [selectedGroup]="selectedGroup"></app-percentage-results>
    <app-visit-stats *ngIf="tab === 5 && selectedGroup" [courseUser]="courseUser" [selectedGroup]="selectedGroup"></app-visit-stats>
    <app-defense *ngIf="tab === 6" [courseUser]="courseUser"></app-defense>
  </div>
</div>
