<div class="app-component" *ngIf="courseUser">
  <div class="mdc-tab-bar" role="tablist">
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 1"
            (click)="onChangeTab(1)"
    >
      <span class="mdc-tab__content">
        <span class="mdc-tab__text-label">Темы проектов</span>
      </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 1">
        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
      </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 2"
            (click)="onChangeTab(2)"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Лист задания</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 2">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 3"
            (click)="onChangeTab(3)"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">График процентовки</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 3">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 4"
            (click)="onChangeTab(4)"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Результаты процентовки</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 4">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 5"
            (click)="onChangeTab(5)"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Посещение консультаций</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 5">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
    <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0"
            [class.mdc-tab--active]="tab === 6"
            (click)="onChangeTab(6)"
    >
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">Защита проектов</span>
          </span>
      <span class="mdc-tab-indicator" [class.mdc-tab-indicator--active]="tab === 6">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
      <span class="mdc-tab__ripple"></span>
    </button>
  </div>

  <div class="app-component__body">
    <app-projects *ngIf="tab === 1" [courseUser]="courseUser"></app-projects>
    <app-task-sheet *ngIf="tab === 2" [courseUser]="courseUser" [groups]="groups"></app-task-sheet>
    <app-percentages *ngIf="tab === 3" [courseUser]="courseUser"></app-percentages>
    <app-percentage-results *ngIf="tab === 4 && selectedGroup" [courseUser]="courseUser"
                            [selectedGroup]="selectedGroup">
      <div [ngStyle]="{'display': (tab === 4 || tab === 5) ? 'flex' : 'none'}" groupPicker>
        <mat-form-field>
          <mat-select [value]="groups ? groups[0].GroupId : ''">
            <mat-option *ngFor="let group of groups" (onSelectionChange)="_selectedGroup($event)"
                        [value]="group.GroupId">
              {{group.GroupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="detached-toggle" *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer">
          <mat-slide-toggle
            [color]="'primary'"
            [checked]="detachedGroup"
            (change)="groupStatusChange($event)"
          >
            Открепленные группы
          </mat-slide-toggle>
        </div>
      </div>
      <div [ngStyle]="{'display': (tab === 4 || tab === 5) ? 'flex' : 'none'}" class="group-select">
        <app-help
          *ngIf="courseUser.IsLecturer"
          [message]="'Нажмите на ячейку напротив студента в нужную дату, чтобы отметить процентовку и оставить комментарий'"
          [action]="'Понятно'"></app-help>
        <div class="excel-file" matTooltip="Загрузить документ Excel"
             *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer" (click)="getExcelFile()">
          <span class="iconify" data-icon="mdi-file-excel" data-inline="false"></span>
        </div>
        <div class="download-zip" matTooltip="Скачать архивом листы задания"
             *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer" (click)="downloadArchive()">
          <span class="iconify" data-icon="mdi-folder-download" data-inline="false"></span>
        </div>
      </div>
    </app-percentage-results>
    <app-visit-stats *ngIf="tab === 5 && selectedGroup" [courseUser]="courseUser" [selectedGroup]="selectedGroup">
      <div [ngStyle]="{'display': (tab === 4 || tab === 5) ? 'flex' : 'none'}" class="group-select" groupPicker>
        <mat-form-field>
          <mat-select [value]="groups ? groups[0].GroupId : ''">
            <mat-option *ngFor="let group of groups" (onSelectionChange)="_selectedGroup($event)"
                        [value]="group.GroupId">
              {{group.GroupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="detached-toggle" *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer">
          <mat-slide-toggle
            [color]="'primary'"
            [checked]="detachedGroup"
            (change)="groupStatusChange($event)"
          >
            Открепленные группы
          </mat-slide-toggle>
        </div>
      </div>
      <div [ngStyle]="{'display': (tab === 4 || tab === 5) ? 'flex' : 'none'}" class="group-select">
        <app-help
          [message]="'Нажмите 2 раза на ячейку напротив студента в нужную дату, чтобы отметить посещаемость и оставить комментарий'"
          [action]="'Понятно'"></app-help>
        <div class="excel-file" matTooltip="Загрузить документ Excel"
             *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer" (click)="getExcelFile()">
          <span class="iconify" data-icon="mdi-file-excel" data-inline="false"></span>
        </div>
        <div class="download-zip" matTooltip="Скачать архивом листы задания"
             *ngIf="(tab === 4 || tab === 5) && courseUser.IsLecturer" (click)="downloadArchive()">
          <span class="iconify" data-icon="mdi-folder-download" data-inline="false"></span>
        </div>
      </div>
    </app-visit-stats>
    <app-defense *ngIf="tab === 6" [courseUser]="courseUser"></app-defense>
  </div>
</div>
