<ng-container *ngIf="groupJobProtection$ | async as groupJobProtection">
  <ng-container *ngIf="groupJobProtection">
      <div *ngFor="let subGroup of groupJobProtection.StudentsJobProtections | unique:'SubGroup' | orderBy">
        <span class="job-protection__subGroup-title">Подгруппа {{subGroup}}</span>
        <div class="job-protection__accordion">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let studentJobProtection of groupJobProtection.StudentsJobProtections| filter:'SubGroup':subGroup"
                                    (opened)="onSelectStudent(studentJobProtection.StudentId)"
                                    (closed)="onSelectStudent(0)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{studentJobProtection.StudentName}}
                    <mat-icon class="priority-icon" *ngIf="studentJobProtection.HasProtection" [color]="'primary'">priority_high</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-accordion *ngIf="studentJobProtection$ | async as sjp">
                    <mat-expansion-panel *ngFor="let jobProtection of sjp.JobProtections"
                                            (opened)="onSelectLab(jobProtection.LabId)"
                                            (closed)="onSelectLab(0)">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{jobProtection.LabName}}
                          <mat-icon class="priority-icon" *ngIf="jobProtection.HasProtection" [color]="'primary'">priority_high</mat-icon>
                          <mat-panel-description *ngIf="!jobProtection.IsReturned">
                            <ng-container *ngIf="jobProtection.HasProtection">
                              <button *ngIf="!jobProtection.IsReceived"
                              mat-icon-button color="primary"
                              matTooltip="Принять работу"
                              (click)="receiveLab($event, jobProtection.LabId, jobProtection.StudentId)"
                              >
                              <mat-icon>thumb_up_alt</mat-icon>
                              </button>
                              <button *ngIf="!jobProtection.IsReceived"
                              mat-icon-button color="primary"
                              matTooltip="Вернуть работу"
                              (click)="addLab($event, jobProtection.StudentId, jobProtection.LabId)"
                              >
                              <mat-icon>arrow_forward</mat-icon>
                              </button>
                            </ng-container>
                            <button *ngIf="jobProtection.IsReceived"
                                    mat-icon-button color="primary"
                                    matTooltip="Отклонить работу"
                                    (click)="cancelLab($event, jobProtection.LabId, jobProtection.StudentId)"
                            >
                            <mat-icon>thumb_down_alt</mat-icon>
                          </button>
                          </mat-panel-description>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container *ngIf="selectedLabId === jobProtection.LabId && selectedStudentId === sjp.StudentId">
                          <app-job-protection-content 
                          [labFiles]="labFiles$ | async" 
                           [actionsTemplate]="actionsTemplate"></app-job-protection-content>
                        </ng-container>
                        <ng-template let-file="file" #actionsTemplate>
                          <button mat-icon-button color="primary"
                          matTooltip="Проверить на плагиат"
                          (click)="checkPlagiarism(file.Id)"
                          >
                          <mat-icon>visibility</mat-icon>
                          </button>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  </ng-container>

</ng-container>