<ng-container *ngIf="groupJobProtection$ | async as groupJobProtection">
  <ng-container *ngIf="groupJobProtection">
      <div *ngFor="let subGroup of groupJobProtection.StudentsJobProtections | unique:'SubGroup'">
        <span mat-dialog-title class="job-protection__subGroup-title">Подгруппа {{subGroup}}</span>
        <div class="job-protection__accordion">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let studentJobProtection of groupJobProtection.StudentsJobProtections| filter:'SubGroup':subGroup"
                                    (opened)="onSelectStudent(studentJobProtection.StudentId)"
                                    [expanded]="selectedStudentId === studentJobProtection.StudentId"
                                    (closed)="onSelectStudent(0)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{studentJobProtection.StudentName}}
                    <mat-icon class="priority" *ngIf="studentJobProtection.HasProtection" [color]="'warn'">priority_high</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-job-protection-content 
                [labFiles]="labFiles$ | async" 
                 [actionsTemplate]="actionsTemplate"></app-job-protection-content>
                 <ng-template let-file="file" #actionsTemplate>
                  <button mat-icon-button color="primary"
                  matTooltip="Проверить на плагиат"
                  (click)="checkPlagiarism(file.Id)"
                  >
                  <mat-icon>visibility</mat-icon>
                  </button>
                  <ng-container *ngIf="!file.IsReturned && !file.IsReceived">
                    <button
                    mat-icon-button color="primary"
                    matTooltip="Принять работу"
                    (click)="receiveLab(file.Id, file.UserId)"
                    >
                    <mat-icon>thumb_up_alt</mat-icon>
                    </button>
                    <button
                    mat-icon-button color="primary"
                    matTooltip="Вернуть работу"
                    (click)="addLab(file.UserId, file.LabId, file.Id)"
                    >
                    <mat-icon>arrow_forward</mat-icon>
                    </button>
                  </ng-container>
                  <button *ngIf="file.IsReceived"
                          mat-icon-button color="primary"
                          matTooltip="Отклонить работу"
                          (click)="cancelLab(file.Id, file.UserId)"
                  >
                  <mat-icon>thumb_down_alt</mat-icon>
                </button>
                </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  </ng-container>
</ng-container>