<div class="reset-password-main">
    <div class="title">
        Сменить пароль
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form style="display: grid;" [formGroup]="this.form" (ngSubmit)="submit()">
        <mat-form-field>
            <input type="password" matInput placeholder="Пароль" formControlName="password" maxlength="30">
            <mat-hint *ngIf="this.isControlInvalid('password') && !hasError('password', 'minlength') && !hasError('password', 'required') && !hasError('password', 'pattern')">Пароль должен содержать хотя бы 1 маленькую и большую букву и 1 цифру</mat-hint>
            <mat-error *ngIf="hasError('password', 'required')">Поле не может быть пустым</mat-error>
            <mat-error *ngIf="hasError('password', 'minlength')">Вы ввели меньше 6 символов.</mat-error>
            <mat-error *ngIf="hasError('password', 'maxlength')">Вы ввели больше 30 символов.</mat-error>
            <mat-error *ngIf="hasError('password', 'pattern')">Допустимые символы: "A(a)-Z(z)", "0-9", "_"</mat-error>                         
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Подтверждение пароля" formControlName="confirmPassword" maxlength="30">
            <mat-error *ngIf="this.isControlInvalid('confirmPassword')">Пароли не совпадают</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button class="btn" [disabled]='this.form.invalid' (click)="this.setNewPassword()">Сменить</button>
        </div>
    </form>
</div>
