.reset-password-main {
  width: 400px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

mat-form-field {
  padding-top: 10px;
}

.title {
  font-size: 24px;
  padding-bottom: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.close-icon {
  float: right;
}

.btn {
  width: 100px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  float: right;
}

.mat-button {
  color: black;
  padding-bottom: 6px;
  line-height: 25px;
}
