<div class="reset-password-main">
  <div class="title">
    {{ 'text.change_password.title' | translate: 'Сменить пароль' }}
    <button mat-button class="close-icon" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form style="display: grid" [formGroup]="this.form" (ngSubmit)="submit()">
    <mat-form-field>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        matInput
        placeholder="{{ 'text.signup.password' | translate: 'Пароль' }}"
        formControlName="password"
        maxlength="30"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon>{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-hint
        *ngIf="
          this.isControlInvalid('password') &&
          !hasError('password', 'minlength') &&
          !hasError('password', 'required') &&
          !hasError('password', 'pattern')
        "
        >{{
          'text.signup.password_uppercase_and_lowercase'
            | translate
              : 'Пароль должен содержать хотя бы 1 маленькую и большую букву и 1 цифру'
        }}.</mat-hint
      >
      <mat-error *ngIf="hasError('password', 'required')"
        >{{
          'text.signup.required_field' | translate: 'Поле не может быть пустым'
        }}.</mat-error
      >
      <mat-error *ngIf="hasError('password', 'minlength')"
        >{{
          'text.signup.password_min_length_6'
            | translate: 'Вы ввели меньше 6 символов'
        }}.</mat-error
      >
      <mat-error *ngIf="hasError('password', 'maxlength')"
        >{{
          'text.signup.max_length_30'
            | translate: 'Вы ввели больше 30 символов'
        }}.</mat-error
      >
      <mat-error *ngIf="hasError('password', 'pattern')"
        >{{
          'text.signup.available_symbols_username'
            | translate: 'Допустимые символы'
        }}: "A(a)-Z(z)", "0-9", "_"</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [type]="hideConfirm ? 'password' : 'text'"
        placeholder="{{
          'text.signup.confirm_password' | translate: 'Подтверждение пароля'
        }}"
        formControlName="confirmPassword"
        maxlength="30"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirm = !hideConfirm"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="this.isControlInvalid('confirmPassword')">{{
        'text.change_password.password_doesnt_match'
          | translate: 'Пароли не совпадают'
      }}</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        class="btn"
        [disabled]="this.form.invalid"
        (click)="this.setNewPassword()"
      >
        {{ 'text.change_password.change' | translate: 'Сменить' }}
      </button>
    </div>
  </form>
</div>
