<h1 mat-dialog-title>Проверка на плагиат</h1>
<div mat-dialog-content>
  <mat-radio-group
    aria-labelledby="method-radio-group-label"
    class="method-radio-group"
    [(ngModel)]="method">
    <mat-radio-button class="method-radio-button" *ngFor="let method of methods" [value]="method.id">
      {{method.name}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Процент схожести</mat-label>
    <input matInput type="number" [formControl]="percentageControl" min="50" max="100" step="5">
    <span matSuffix>%</span>
    <mat-error *ngIf="percentageControl.invalid">Число от 50 до 100</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-flat-button class="dialog-button" color="accent" [disabled]="percentageControl.invalid">Проверить</button>
  <button mat-flat-button class="dialog-button" color="primary" [disabled]="percentageControl.invalid"
          (click)="exportPlagiarism()">Отчет</button>
  <button mat-button class="dialog-button" (click)="onCancelClick()">Закрыть</button>
</div>
