<mat-sidenav-container class="app-sidenav-subject">
    <mat-sidenav #subjectsidenav opened mode="side" opened="true" class="app-sidenav-menu-subject">
        <mat-nav-list>
            <a mat-list-item matTooltip="Предмет" matTooltipPosition="after" > <mat-icon class="white-icon">subject</mat-icon> </a>
            <a mat-list-item matTooltip="Тесты" matTooltipPosition="after"> <mat-icon class="white-icon">assessment</mat-icon> </a>
            <a mat-list-item matTooltip="ЭУМК" matTooltipPosition="after"> <mat-icon class="white-icon">library_books</mat-icon> </a>
            <a mat-list-item matTooltip="Курсовой проект" matTooltipPosition="after"> <mat-icon class="white-icon">school</mat-icon> </a>
      
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content-subject">
        123123123
    </mat-sidenav-content>
</mat-sidenav-container>
