.container {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.mat-dialog-title {
  margin: 0px;
  font: 400 20px/12px Roboto, 'Helvetica Neue', sans-serif;
}

.mat-progress-spinner {
  position: initial;
}

.mat-table {
  height:max-content;
}

.mat-dialog-content{
    overflow: visible;
}

#name{
    padding-left: 2px;
}
