<mat-spinner mode="indeterminate" *ngIf="!this.isLoad" class="spinner" color="primary"></mat-spinner>
<div [hidden]='!this.isLoad'>
    <div mat-dialog-title class="container">
        <p>{{"group" | translate}} {{this.data.Name}}</p>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div *ngIf='!isStudents'>
            <p>{{"text.adminPanel.modal.listOfStudents.empty" | translate}}</p>
        </div>
        <div *ngIf='isStudents'>
            <table mat-table [dataSource]="dataSource" matSort matSortStart="asc">

                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef> {{"student" | translate}} </th>
                    <td class="table-container" mat-cell *matCellDef="let element"> {{ element.FullName }} </td>
                </ng-container>

                <ng-container matColumnDef="confimed">
                    <th mat-header-cell *matHeaderCellDef> {{"text.adminPanel.modal.listOfStudents.headers.status" | translate}} </th>
                    <td class="table-container" mat-cell *matCellDef="let element">
                        <p *ngIf="this.isConfimed(element.Confirmed)">{{"text.adminPanel.modal.listOfStudents.status.confirmed" | translate}}</p>
                        <p *ngIf="!this.isConfimed(element.Confirmed)">{{"text.adminPanel.modal.listOfStudents.status.notConfirmed" | translate}}</p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
