.container {
  display: flex;
  justify-content: space-between;
}

.mat-dialog-title {
  margin: 0px;
  font: 400 20px/12px Roboto, 'Helvetica Neue', sans-serif;
}

.mat-progress-spinner {
  position: initial;
}
