.protection-schedule-component {

  &__subGroup-title {
    color: #363636;
    font-weight: 400;
  }

  &__actions {
    padding-top: 20px;
  }

  &__subGroup-table {
    margin: 20px 0;

    table.mat-table {
      width: 100%;
    }

    .mat-column-position:first-of-type, .mat-header-cell:first-of-type {
      max-width: 35px;
      max-height: 55px;
      width: 35px;;
      height: 55px;
      box-sizing: border-box;
    }

    .mat-header-cell {
      font-family: Roboto, sans-serif;
      font-weight: 600;
      color: #363636;
      font-size: 14px;
    }

    .header-date {
      transform: rotate(270deg);
      font-size: 12px;
      text-align: center;
    }

    th.mat-header-cell:last-of-type {
      padding-right: 0;
    }

    .mat-column-theme {
      padding-left: 10px;
    }

    .mat-column-position {
      padding-left: 10px;
      padding-right: 5px;
    }

    tr.mat-header-row {
      height: 86px;
    }

    td {
      border-top: 1px solid rgba(0,0,0,.12);
    }

    td, th {
      border-right: 1px solid rgba(0,0,0,.12);
      border-bottom: 0;
    }
  }
}
