<h1 mat-dialog-title>Создание {{description}}</h1>
<div mat-dialog-content>
  <div class="flex-input">
    <mat-form-field class="input-holder">
      <mat-label>Наименование</mat-label>
      <input matInput [(ngModel)]="data.Name" (ngModelChange)="onModelChanged()" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Необходимо наименование
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary" (click)="onYesClick()" cdkFocusInitial [disabled]="!isEnableToSave">Сохранить</button>
</div>
