<ng-container *ngIf="!data.event || question;else loading">
  <h1 mat-dialog-title class="question-popup-container">{{'Вопрос для теста - ' + data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="question-popup-full">
      <textarea matInput [placeholder]="'Название вопроса'" [value]="question && question.Title ? question.Title : ''"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-content [formGroup]="form">
    <p>Описание</p>
    <angular-editor formControlName="signature" (ngModelChange)="onChange2($event)"></angular-editor>
  </div>

  <div mat-dialog-content>
    <h1 mat-dialog-title class="question-popup-container">{{'Ответы'}}</h1>
  </div>
  <div mat-dialog-content>
    <div class="question-popup-types-container">
      <div class="question-popup-types-container-button">
        <button mat-raised-button color="primary" (click)="addAnswer()">Добавить ответ</button>
      </div>
      <div class="question-popup-types-container-dropdown">
        <mat-form-field>
          <mat-label>{{"Тип вопроса"}}</mat-label>
          <mat-select>
            <mat-option *ngFor="let type of ANSWER_TYPES" [value]="type.id" (onSelectionChange)="onValueChange($event)">
              {{type.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-content>
    <ng-container *ngIf="chosenQuestionType === 0 && formOneAnswer">
      <form formGroupName="formOneAnswer">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button formControlName="key0" class="example-radio-button" [value]="0">
            {{""}}
          </mat-radio-button>
        </mat-radio-group>
      </form>
    </ng-container>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Закрыть</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="'435534'" cdkFocusInitial>Сохранить</button>
  </div>
</ng-container>
<ng-template #loading>
  <div class="question-popup-loader">
    <mat-progress-spinner
      class="example-margin"
      [color]="'primary'"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
</ng-template>
