<ng-container *ngIf="!loader; else loading">
  <ng-container>
    <div class="question-popup-header">
      <div class="question-popup-container">{{data.event ? ('text.test.questions.for.test' | translate : 'Вопрос для теста ') :
        ('text.test.new.questions.for.test' | translate : ('Вопрос №' + data.questionLength) : {number: data.questionLength + 1})}}
      </div>
      <div class="question-popup-container-small">{{data.title}}</div>
    </div>
    <div mat-dialog-content *ngIf="formGroup" [formGroup]="formGroup">
      <mat-form-field class="question-popup-full">
        <textarea formControlName="title" matInput [placeholder]="'text.test.question.text' | translate : 'Текст вопроса'"
               [value]="question && question.Title ? question.Title : ''"
                  (change)="writeTitle($event, 'Title')"></textarea>
        <mat-error *ngIf="formGroup.controls.title.hasError('maxlength')">
          {{'text.test.error.max.length' | translate : "Длина превышает 255 символов"}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.title.hasError('required')">
          {{'text.test.enter.question.name' | translate : "Введите название вопроса"}}
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-content>
      <p class="question-popup-container-sub">{{'text.test.question.description' | translate : 'Задание к вопросу'}}</p>
      <ckeditor [(ngModel)]="question.Description"
                #myckeditor="ngModel"
                name="myckeditor"
                [config]="ckeConfig"
                debounce="400"
                (paste)="onPaste($event)"
                (change)="onChange1($event)">
      </ckeditor>
    </div>

    <div class="basic-container" *ngIf="navItems?.length">
  <span *ngFor="let item of navItems">
    <!-- Handle branch node buttons here -->
    <span *ngIf="item.Children && item.Children.length > 0">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu" (click)="selectConcept(item.Id)">
        {{item.Name}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <app-menu-item #menu [items]="item.Children" (onSelectConcept)="selectConcept($event)"></app-menu-item>
    </span>
    <!-- Leaf node buttons here -->
    <span *ngIf="!item.Children || item.Children.length === 0">
      <button mat-button color="primary" [routerLink]="item.route" (click)="selectConcept(item.Id)">
        {{item.Name}}
      </button>
    </span>
  </span>
      <div class="basic-container-text" *ngIf="selectedConcept">{{selectedConcept}}</div>
    </div>

    <div mat-dialog-content>
      <h1 mat-dialog-title class="question-popup-container">{{'text.test.answers' | translate : 'Ответы'}}</h1>
    </div>
    <div mat-dialog-content>
      <div class="question-popup-types-container">
        <div class="question-popup-types-container-button">
          <button mat-raised-button color="primary" (click)="addAnswer()">{{'text.test.add.answer' | translate :
            'Добавить ответ'}}
          </button>
        </div>
        <div class="question-popup-types-container-dropdown">
          <mat-form-field>
            <mat-label>{{'text.test.question.type' | translate : "Тип вопроса"}}</mat-label>
            <mat-select (selectionChange)="onValueChange($event)" [value]="question.QuestionType || 0">
              <mat-option *ngFor="let type of ANSWER_TYPES" [value]="type.id">
                {{type.label | translate : type.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div mat-dialog-content class="question-popup-answers">
      <ng-container *ngIf="chosenQuestionType === 0">
        <mat-radio-group [(ngModel)]="chosenType" (change)="kkkk($event)"
                         aria-labelledby="example-radio-group-label"
                         class="example-radio-group question-popup-answers-input">
          <mat-radio-button class="example-radio-button question-popup-answers-item"
                            *ngFor="let control of charsde, let i = index" [value]="control">
            <input class="question-popup-answers-item-input" matInput [(ngModel)]="chars[control]">
            <mat-icon [matTooltip]="'text.test.delete.answer' | translate : 'Удалить ответ'"
                      (click)="deleteAnswer(control)" color="primary"
                      matTooltipClass="example-tooltip-blue">delete
            </mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>
      <ng-container *ngIf="chosenQuestionType === 1">
        <section class="example-section">
          <mat-checkbox class="example-margin question-popup-answers-input" [(ngModel)]="charsNeskolko[control][1]"
                        *ngFor="let control of charsde, let i = index">
            <input class="question-popup-answers-item-input" matInput [(ngModel)]="charsNeskolko[control][0]">
            <mat-icon [matTooltip]="'text.test.delete.answer' | translate : 'Удалить ответ'"
                      (click)="deleteAnswer(control)" color="primary"
                      matTooltipClass="example-tooltip-blue">delete
            </mat-icon>
          </mat-checkbox>
        </section>
      </ng-container>
      <ng-container *ngIf="chosenQuestionType === 2">
        <div *ngFor="let control of charsde, let i = index">
          {{(i+1) + ". "}}<input class="question-popup-answers-item-input-only" matInput
                                 [(ngModel)]="charsWords[control]">
          <mat-icon [matTooltip]="'text.test.delete.answer' | translate : 'Удалить ответ'"
                    (click)="deleteAnswer(control)" color="primary"
                    matTooltipClass="example-tooltip-blue">delete
          </mat-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="chosenQuestionType === 3">
        <div *ngFor="let control of charsde, let i = index">
          {{(i+1) + ". "}}<input class="question-popup-answers-item-input-only" matInput
                                 [(ngModel)]="charsSequence[control]">
          <mat-icon [matTooltip]="'text.test.delete.answer' | translate : 'Удалить ответ'"
                    (click)="deleteAnswer(control)" color="primary"
                    matTooltipClass="example-tooltip-blue">delete
          </mat-icon>
        </div>
      </ng-container>
    </div>

    <div mat-dialog-content *ngIf="formGroup" [formGroup]="formGroup">
      <mat-form-field class="question-popup-complexity">
        <input matInput formControlName="ComplexityLevel" type="number"
               [placeholder]="'text.test.complexity.level' | translate : 'Уровень сложности'"
               [value]="question && question.ComplexityLevel ? question.ComplexityLevel : 1"
               (change)="writeTitle($event, 'ComplexityLevel', true)">
        <mat-error *ngIf="formGroup.controls.ComplexityLevel.hasError('max')">
          {{'text.test.error.complexity.max' | translate : "Сложность вопроса не может быть больше 10"}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.ComplexityLevel.hasError('min')">
          {{'text.test.error.complexity.min' | translate : "Сложность вопроса должна быть больше нуля"}}
        </mat-error>
        <mat-error *ngIf="formGroup.controls.ComplexityLevel.hasError('required')">
          {{'text.test.enter.complexity' | translate : "Введите сложность"}}
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">{{'button.close' | translate : 'Закрыть'}}</button>
      <button mat-raised-button color="primary" (click)="onYesClick()" cdkFocusInitial>{{'button.save' | translate :
        'Сохранить'}}
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="question-popup-loader">
    <mat-progress-spinner
      class="example-margin"
      [color]="'primary'"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
</ng-template>
