:host {
  position: relative;
}

::ng-deep {
  .popover-close {
    right: -10px !important;
  }
}


textarea {
  border-color: #949494 !important;
}

.question-popup {
  overflow: auto;
  position: fixed;

  &-description {
    margin-top: 15px;
    ::ng-deep {
      mat-expansion-panel-header {
        padding: 0 10px;
      }
      .mat-expansion-panel-body {
        padding: 0 10px 10px;
      }
      .cke_resizer_vertical {
        display: none;
      }
    }
  }

  &-complexity {
    max-width: 120px;
  }

  &-text {
    &-small {
      font-size: 14px;
      color: #6c6c6c;
      margin-bottom: 4px;
    }
  }

  &-header {
    display: block;
  }

  &-answer {
    &-button {
      background: #388E3C;
      color: white;
      height: 45px;
    }
  }

  &-container {
    &__justify {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &-answers {
    &-input {
      width: 100%;
      .mat-checkbox-layout {
        width: 100%;
      }
      .mat-checkbox-label {
        width: 100%;
      }
    }
    &-item {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      &.mat-radio-label-content {
        width: 90%;
      }

      ::ng-deep {
        .mat-radio-label {
          max-width: 480px;
        }
        .mat-radio-label-content {
          padding-left: 12px;
        }
      }

      &-input {
        border-bottom: 1px solid;
        &-only {
          margin-top: 30px;
          border-bottom: 1px solid;
          width: 90%;
        }
      }

      mat-icon {
        margin-left: 4px;
      }
    }

    .mat-checkbox-layout {
      width: 100%;
    }
  }

  &-full {
    display: block;
    width: 100%;
    .mat-form-field-label {
      font-size: 19px;
    }
  }

  &-inputs {
    display: flex;
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-type {
    margin-right: 20px;
  }
}

.basic-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

}
