.question-popup {
  overflow:auto;
  position: fixed;
  &-complexity{
    width: 100%;
  }
  &-container {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    text-align: center;
  }
  &-answers {
    &-input {
      width: 100%;
      .mat-checkbox-layout{
        width: 100%;
      }
      .mat-checkbox-label{
        width: 100%;
      }
    }
    &-item {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      .mat-radio-label-content {
        width: 100%;
      }

      &-input {
        border-bottom: 1px solid;
        &-only{
          padding-bottom: 10px;
          border-bottom: 1px solid;
          width: 90%;
        }
      }
    }

    .mat-checkbox-layout {
      width: 100%;
    }
  }
  &-loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-full {
    display: block;
    width: 100%;
    .mat-form-field-label {
      font-size: 19px;
    }
  }

  &-types {
    &-container {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
      }
      &-button {

      }
      &-dropdown {

      }
    }
  }
}

.mat-radio-label-content {
  width: 100%;
}

.example-section {
  display: inline-grid;
  width: 100%;
}

.example-margin {
  margin-top: 20px;
  .mat-checkbox-layout {
    width: 100%;
  }
  .mat-checkbox-inner-container {
    width: 100%;
  }
  .mat-checkbox-label {
    width: 100%;
  }
}

