.flex-container {
  display: flex;
  flex-basis: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;

  .flex-tree-container {
    flex-shrink: 1;
    flex-basis: 25%;

    .flex-search-region {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      .flex-search-input {
        flex-basis: 85%;
      }
    }
  }

  .flex-editor-container {
    flex-shrink: 3;
    flex-basis: 75%;

    .btn-holder {
      &[align='right'] {
        justify-content: flex-end;
      }
      padding-top: 5px;
    }
  }
}

:host ::ng-deep .ck-editor__editable_inline {
  height: 85vh;
}
