<mat-drawer-container class="flex-container">
  <mat-drawer-content>
    <div class="flex-editor-container">
      <div class="btn-holder" align="right">
        <button *ngIf="!model.isReadOnly" mat-raised-button (click)="undoEditing()">Отмена</button>
        <button *ngIf="!model.isReadOnly" mat-raised-button color="primary" (click)="saveDocument($event)" [disabled]="!isEditorModelChanged">Сохранить</button>
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon class="mat-icon-rtl-mirror" color="primary">
            {{drawer.opened ? 'chevron_right' : 'chevron_left'}}
          </mat-icon>
        </button>
      </div>
      <div class="row" id="editor">
        <ckeditor
          [editor]="editor"
          [(ngModel)]="model.editorData"
          (ngModelChange)="onEditorModelChanged()"
          [config]="model.config"
          [disabled]="model.isReadOnly"
      ></ckeditor>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer [mode]="'side'" position="end">
    <div class="flex-tree-container">
      <div class="flex-search-region">
        <mat-form-field class="flex-search-input">
          <mat-label>Поиск по учебнику</mat-label>
          <input matInput [(ngModel)]="searchField">
        </mat-form-field>
        <div class="flex-search-btn-holder">
          <button mat-icon-button color="primary" aria-label="Search icon">
            <mat-icon>search</mat-icon>
          </button>
          <button *ngIf="!isReadOnly" mat-icon-button color="primary" aria-label="Add icon" (click)="openAddDialog($event)" matTooltip="Добавление нового учебника">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button *ngIf="!isReadOnly && isAnyNodeExpanded" mat-icon-button color="primary" (click)="collapseTree()" matTooltip="Свернуть дерево">
            <mat-icon>expand_less</mat-icon>
          </button>
          <button *ngIf="!isReadOnly && !isAnyNodeExpanded" mat-icon-button color="primary" (click)="expandTree()" matTooltip="Развернуть дерево">
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
      </div>
      <div class="tree-area">
        <tree
          [treeControl]="treeControl"
          [dataSource]="dataSource"
          [hasChild]="hasChild"
          [isReadOnly]="isReadOnly"
          (onActivateTreeNodeEvent)="onActivateTreeNodeEvent($event)"
          (onExpandOrCollapseNode)="onExpandOrCollapseNode($event)"
          (onAddEvent)="openAddDialog($event)"
          (onRemoveEvent)="openRemoveDialog($event)"
          (onEditContentEvent)="editDocument($event)"
          (onEditStructureEvent)="editStructure($event)"
        ></tree>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
