:host {
  display: block;
}

::ng-deep {
  .autocomplete-form .mat-select-panel mat-option {
    max-width: 100%;
  }

  .autocomplete-form .mat-select-panel mat-option .mat-option-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  :host {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  form {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  ::ng-deep {
    .autocomplete-form,
    mat-form-field {
      width: 100%;
      max-width: 100%;
    }

    .mat-select-panel mat-option {
      max-width: 100%;
    }

    .mat-select-panel mat-option .mat-option-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
