.main-page-container {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.main-page-container-search-wrapper {
  display: flex;
}

.main-page-search-text {
  height: calc(100% - 20px);
  width: 60px;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.main-page-container-buttons-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-page-container-buttons {
  display: flex;
}

.main-page-container-buttons-item {
  margin-right: 10px;
}

.main-page-container-buttons-item-resource {
  background-color: #e4000d;
}

