<div class="visit-stats-list-component">
  <div class="visit-stats-list-component__row table_header">
    <p style="text-align: center">№</p>
    <p>Студент</p>
    <p>Тема курсового проекта (работы)</p>
    <div class="visit-stats-list-component__results" >
      <p class="visit-stats-list-component__result" *ngFor="let consultation of consultations">{{consultation.Day | date:'dd/MM'}}</p>
    </div>
  </div>
  <div class="visit-stats-list-component__row" *ngFor="let stats of visitStatsList; index as i">
    <p style="text-align: center">{{ i + 1 }}</p>
    <p>{{ stats.Name }}</p>
    <p>{{ stats.Group }}</p>
    <div class="visit-stats-list-component__results" *ngIf="visitStatsComponent.getCourseUser().IsStudent">
      <p class="visit-stats-list-component__result" *ngFor="let consultationMark of stats.CourseProjectConsultationMarks"
         [ngStyle]="{'-webkit-text-fill-color': (consultationMark.Mark=='+') ? 'green' : 'red'}">{{consultationMark.Mark}}</p>
    </div>
    <div class="visit-stats-list-component__results" *ngIf="visitStatsComponent.getCourseUser().IsLecturer">
      <div class="visit-stats-list-component__result" *ngFor="let consultationMark of stats.CourseProjectConsultationMarks">
        <mat-form-field class="visit-select" [ngStyle]="{'-webkit-text-fill-color': (consultationMark.Mark=='+') ? 'green' : 'red'}">
          <mat-select (selectionChange)="visitStatsComponent.setMark(consultationMark)" [(value)]="consultationMark.Mark">
            <mat-option *ngFor="let option of ['', '+', '–']" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
