:host {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(52, 66, 219), rgb(63, 94, 212), rgb(74, 122, 205), rgb(84, 151, 197), rgb(95, 179, 190), rgb(106, 207, 183), rgba(131, 215, 195, 0.99), rgba(156, 223, 207, 0.98), rgba(181, 231, 219, 0.98), rgba(205, 239, 231, 0.97), rgba(230, 247, 243, 0.96), rgba(255, 255, 255, 0.95));
    min-width: 100%;
}

.mat-form-field {
    width: 100%;
    min-width: 150px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.mat-button {
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    display: block;
    position: relative;
    border: 1px solid white;
    margin: 10px auto;
    min-width: 150px;
}

.mat-icon {
    display: flex;
    justify-content: center;
    position: relative;
    color: cornflowerblue;
    margin: 10px auto 50px auto;
    font-size: 70px;
}

.style-a {
    color: cornflowerblue;
    background: white;
}