<div class="modal-header">
  <h1 mat-dialog-title>{{ 'text.editor.copy' | translate: 'Копирование' }}</h1>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon
      class="mat-icon-rtl-mirror"
      color="basic"
      [matTooltip]="'text.editor.close' | translate: 'Закрыть'"
      >close</mat-icon
    >
  </button>
</div>
<div mat-dialog-content>
  <mat-label>{{
    'text.editor.choose.subject' | translate: 'Выберите предмет'
  }}</mat-label>
  <mat-spinner *ngIf="showSpinner" style="margin: 0 auto" mode="indeterminate">
  </mat-spinner>
  <div *ngIf="subjects && !subjects.length && !showSpinner" class="empty">
    <label>{{ 'text.editor.list.is.empty' | translate: 'Список пуст' }}</label>
  </div>
  <mat-select
    *ngIf="subjects && subjects.length"
    [(ngModel)]="selectedSubjectId"
    name="subject"
  >
    <mat-option *ngFor="let subject of subjects" [value]="subject.Id">
      {{ subject.Name }}
    </mat-option>
  </mat-select>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button (click)="onNoClick()">
    {{ 'text.editor.cancel' | translate: 'Отмена' }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onYesClick()"
    [disabled]="selectedSubjectId == 0"
  >
    {{ 'text.editor.save' | translate: 'Сохранить' }}
  </button>
</div>
