<h1 mat-dialog-title>{{data.title}}</h1>
<div class="subject-news-component__popover" #popoverContent>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Название Новости</mat-label>
      <input name="title" matInput placeholder="Название" [(ngModel)]="data.model.title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Текст Новости</mat-label>
      <textarea class="subject-news-component__news-text" name="body" matInput [(ngModel)]="data.model.body" ></textarea>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox name="isOldDate" class="example-margin" [(ngModel)]="data.model.isOldDate">Оставить старую дату новости</mat-checkbox>
      <mat-checkbox name="disabled" class="example-margin" [(ngModel)]="data.model.disabled">Скрыть новость</mat-checkbox>
    </section>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onClick()">Отмена</button>
  <button mat-raised-button [mat-dialog-close]="data.model || data.body" color="primary">{{data.buttonText}}</button>
</div>
