<div class="subject-news-component" *var="files$ | async as files">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <div class="subject-news-component__popover">
    <form class="example-form" #formElement>
      <mat-form-field class="example-full-width">
        <mat-label>Название новости</mat-label>
        <input name="title" maxlength="1000" required matInput placeholder="Название"
              [(ngModel)]="data.model.title"
              (paste)="onPaste($event.clipboardData)">
      </mat-form-field>

      <mat-label>Текст новости</mat-label>
      <ckeditor class="subject-news-component__news-text"
                [(ngModel)]="data.model.body"
                [ngModelOptions]="{standalone: true}"
                [editor]="Editor">

      </ckeditor>

      <section class="example-section">
        <mat-checkbox name="isOldDate"
                      class="example-margin text"
                      [(ngModel)]="data.model.isOldDate"
                      [color]="'primary'">
          Оставить старую дату новости
        </mat-checkbox>
        <mat-checkbox name="disabled"
                      class="example-margin text"
                      [(ngModel)]="data.model.disabled"
                      [color]="'primary'">
          Скрыть новость
        </mat-checkbox>
      </section>
      <app-file-uploader header="Прикрепленный материал" (delete)="deleteFile($event)" [files]="files" (upload)="uploadFile($event)"></app-file-uploader>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClose(files, false)">Отмена</button>
    <button mat-raised-button
            (click)="onClose(files, true)"
            color="primary"
            [disabled]="!formElement.checkValidity()"
    >
      {{data.buttonText}}
    </button>
  </div>
</div>
