.defense-component {

  &__header {
    overflow: auto;
    margin-left: 20px;
  }

  &__group-select {
    margin-right: 10px;
  }

  &__body {
  }

  .mdc-data-table {
    width: 100%;
    margin-bottom: 20px;

    &__header-cell {
      font-weight: 600;
    }
  }

}
