.defense-component {
  &__header {
    display: flex;
    align-items: center;
    min-height: 65.5px;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .detached-toggle {
    margin-right: 10px;
  }

  &__group-select {
    margin-right: 10px;
  }

  &__body {
  }

  .mdc-data-table {
    width: 100%;
    margin-bottom: 20px;

    &__header-cell {
      font-weight: 600;
    }
  }

  .sticky {
    background-color: #d5fcd5;
  }

  .fix {
    background-color: #ffff8d;
  }
}

.iconify {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
  color: rgb(93, 108, 193);
}

.PlugiatButton {
  margin-right: 10px;
}

.DownloadButton {
  margin-right: 10px;
}
