
.profile-card {
  margin: 30px;
  display: table;
}

<<<<<<< HEAD
.buttons-row {
  margin-right:20px;
  margin-left:30px;
  margin-top:25px;
  display: flex;
  /*flex-direction:row;
  justify-content: flex-start;*/
}

=======
>>>>>>> f126059ef (fix phone input\profile button\add image check)
.example-full-width {
  width: 100%;
  border-collapse:collapse;
}

.header {
<<<<<<< HEAD
  color: #3f51b5;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 36px !important;
  font-weight: 500;
  font-size: 24px !important;
  width:40%;

=======
  margin-right: 20px;
  margin-left: 30px;
>>>>>>> f126059ef (fix phone input\profile button\add image check)
}

.data-header {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  background-color: cornflowerblue;
}

button {
<<<<<<< HEAD
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  color: black;
  background-color: #ddd;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.edit-button{
  float:right;
  width: 15%;
=======
  margin-top: 10px;
  width: 100%;
  border-radius: 4px;
  color: #3f51b5;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.main-button {
  margin-bottom: 5px;
>>>>>>> f126059ef (fix phone input\profile button\add image check)
  color: white;
  background-color: #3f51b5;
}

<<<<<<< HEAD
.cancel-button {
  margin-right: 20px;
  margin-left: 500px;
  width: 15%;
  background-color: transparent;
}
=======
>>>>>>> f126059ef (fix phone input\profile button\add image check)

.data-container {
  overflow: auto;
  padding: 15px;
  margin: 20px;
  margin-top: 30px;
  width: 100%;
<<<<<<< HEAD
  height: 260px;
=======
  height: 325px;
>>>>>>> f126059ef (fix phone input\profile button\add image check)
}

a {
  margin-top: 15px;
  font-size: 16px;
  color: #3f51b5;
  cursor: pointer;
}


  .profile {
<<<<<<< HEAD
    margin-top:10px;
    display: flex;
  }


=======
    display: flex;
  }

  .edit-button {
    padding: 15px;
    margin: 20px;
    padding: 15px;
    width: 100%;
  }
>>>>>>> f126059ef (fix phone input\profile button\add image check)


