.close-icon {
    float: right;
}

.title {
    border-bottom: 1px ridge;
    padding-bottom: 20px;
}

.mat-form-field {
    width: 100%;
    min-width: 450px;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.password-button {
    background: cornflowerblue;
    color: white;
    float: right;
}

.message {
    color: red;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}