<div mat-card-title class="title">
    Сброс пароля
    <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-card-content>
    <div id="message" class="message" [hidden]=true>Данные введены неверно</div>
    <form [formGroup]="this.form" (ngSubmit)="submit()">
        <mat-form-field>
            <input type="text" matInput placeholder="Логин" formControlName="Username" maxlength="100">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Секретный вопрос" formControlName="SecretQuestion">
                <mat-option *ngFor="let item of quest" [value]="item.value">
                    {{item.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input type="text" placeholder="Ответ на секретный вопрос" matInput formControlName="SecretAnswer" maxlength="100">
        </mat-form-field>
    </form>
</div>
<div mat-card-footer>
    <button class="password-button" (click)="this.verify()" [disabled]='this.form.invalid' type="submit" mat-button>Сбросить</button>
</div>