:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.confirmation {
  &-text {
    font-size: 18px;
  }
}
