:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.question-other-test {

  &-title{
    display: flex;
    justify-content: space-between;
  }

  &-container {
    text-align: left;
    font-family: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 0;
  }

  &-answers {
    margin-bottom: 5px;
  }

  &-results {
    display: grid;
  }

  &-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    &-margin {

    }
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
}
