<ng-container *ngIf="tests; else loading">
  <div class="question-other-test-wrapper">
    <div class="question-other-test-title">
      <h2 mat-dialog-title class="question-other-test-container">
        {{
          'text.test.add.question.from.other'
            | translate: 'Добавление вопросов из другого теста'
        }}
      </h2>
      <button mat-icon-button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>{{ data.name }}</div>
    <div class="question-other-dropdowns">
      <div class="question-other-dropdown">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>{{
              'text.test.name' | translate: 'Название теста'
            }}</mat-label>
            <input
              type="text"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayFn"
              (optionSelected)="onValueChange($event)"
            >
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
                [matTooltip]="option.Title"
              >
                {{ option.Title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-form-field *ngIf="filteredQuestions?.length">
          <input
            matInput
            [placeholder]="
              'text.test.search.question' | translate: 'Поиск вопроса'
            "
            (keyup)="filterQuestions($event)"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="question-other-test-results" *ngIf="filteredQuestions?.length">
      <mat-checkbox
        class="example-margin question-other-test-answers"
        [(ngModel)]="chosenQuestions[question.Id]"
        *ngFor="let question of filteredQuestions; let i = index"
        [matTooltip]="question.Title"
      >
        {{ question.tooltipTitle }}
      </mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">
      {{ 'button.close' | translate: 'Отмена' }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onYesClick()"
      cdkFocusInitial
    >
      {{ 'button.save' | translate: 'Сохранить' }}
    </button>
  </div>
</ng-container>
<ng-template #loading>
  <div class="question-other-test-loader">
    <mat-progress-spinner
      class="question-other-test-loader-margin"
      [color]="'primary'"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
</ng-template>
