<app-popover-dialog width="600">
  <ng-container title>
    {{ 'plagiarism.check' | translate: 'Проверка на плагиат' }}
    <div class="added-message">
      {{ 'warningKB1' | translate: 'Для более точного расчета процента схожести' }}
    </div>
    <div class="added-message">
      {{ 'warningKB2' | translate: 'размер проверяемого файла должен быть не менее 20 KB' }}
    </div>
  </ng-container>
  <ng-container body>
    <ng-container *ngIf="isLoading">
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="plagResults$ | async as plagResults">
      <div *ngIf="!noData; else noDataMessage">
        <div class="table-wrapper">
          <div class="table-container">
            <table
              mat-table
              [dataSource]="plagResults"
              class="mat-elevation-z14 example-list wide-table"
              style="width: 100%;"
            >
              <ng-container matColumnDef="coeff">
                <th mat-header-cell *matHeaderCellDef style="width: 10px;">
                  {{ 'similarity.percentage' | translate: 'Процент схожести' }}, %
                </th>
                <td mat-cell *matCellDef="let element" style="width: 10px;">{{ element.coeff }}</td>
              </ng-container>
              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef style="width: 100px;">
                  {{ 'author' | translate: 'Автор' }}
                </th>
                <td mat-cell *matCellDef="let element" style="width: 100px;">{{ element.author }}</td>
              </ng-container>
              <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef style="width: 30px;">
                  {{ 'group' | translate: 'Группа' }}
                </th>
                <td mat-cell *matCellDef="let element" style="width: 30px;">{{ element.groupName }}</td>
              </ng-container>
              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef style="width: 40px;">
                  {{ 'course' | translate: 'Предмет' }}
                </th>
                <td mat-cell *matCellDef="let element" matTooltip="{{ element.Name }}" style="width: 40px;">
                  {{ element.subjectName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="file">
                <th mat-header-cell *matHeaderCellDef style="width: 150px;">
                  {{ 'text.attachments' | translate: 'Файл' }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  class="link"
                  (click)="downloadFile(element)"
                  style="width: 120px;"
                >
                  {{ element.doc }}
                </td>
              </ng-container>
              <ng-container matColumnDef="filesize">
                <th mat-header-cell *matHeaderCellDef style="width: 50px;">
                  {{ 'fileSize' | translate: 'Размер файла' }}
                </th>
                <td mat-cell *matCellDef="let element" style="width: 50px;">
                  {{ element.sizeFile }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
      <ng-template #noDataMessage>
        <div class="no-data-message">
          {{ 'no.matches.found' | translate: 'Совпадений не найдено' }}
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
  <ng-container actions>
    <button mat-raised-button (click)="onClick()">
      {{ 'button.close' | translate: 'Закрыть' }}
    </button>
  </ng-container>
</app-popover-dialog>
