<div [hidden]='!this.isLoad'>
    <div mat-dialog-title class="container">
        <p>Группа</p>
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div *ngIf='!isStudents'>
            <p>В данной группе не числется студентов</p>
        </div>
        <div *ngIf='isStudents'>
            <table mat-table [dataSource]="dataSource" matSort matSortStart="asc">

                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef> Студент </th>
                    <td class="table-container" mat-cell *matCellDef="let element"> {{ element.FullName }} </td>
                </ng-container>

                <ng-container matColumnDef="confimed">
                    <th mat-header-cell *matHeaderCellDef> Подтвержден </th>
                    <td class="table-container" mat-cell *matCellDef="let element">
                        <p *ngIf="this.isConfimed(element.Confirmed)">Подтвержден</p>
                        <p *ngIf="!this.isConfimed(element.Confirmed)">Не подтвержден</p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>