.container {
    display: flex;
    justify-content: space-between;
}

table {
    border: 1px solid lavender;
    width: 100%;
}

th {
    width: 100px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}