<div class="change-password-main">  
    <div class="container">
        <table>
            <td class="col-first">
                    <div class="cat">
                        <img id="mascot-body" src="./../../../assets/images/mascot-body.svg" />
                        <img id="mascot-tail" src="./../../../assets/images/mascot-tail.svg"/>
                    </div>
                    <br>
                    <img class="logo" src="./../../../assets/logo.png"/>
                    <p>Care about the students </p> 
                    <h1>Адаптивная обучающая система</h1>
                    <a mat-fab (click)="this.cancel()">
                        <mat-icon class="icon_p">play_arrow</mat-icon>
                    </a>
            </td>
            <td class="col-second">
                <div class="inner-container" >
                    <form [formGroup]="this.form" (ngSubmit)="submit()">
                        <h1 class="title">Сбросить пароль</h1>

                        <div id="message" class="message" [hidden]=true>Данные введены неверно</div>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Логин" formControlName="Username" maxlength="100">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Секретный вопрос" formControlName="SecretQuestion">
                                <mat-option *ngFor="let item of quest" [value]="item.value">
                                    {{item.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" placeholder="Ответ на секретный вопрос" matInput formControlName="SecretAnswer" maxlength="100">
                        </mat-form-field>
                        <button class="password-button" mat-raised-button (click)="this.verify()" [disabled]='this.form.invalid'>Сбросить</button>
                        <button class="cancel-button" color="basic" mat-raised-button (click)="this.cancel()">Отмена</button>
                    </form>
                </div>
            </td>
        </table>
  </div>
</div>
