.close-icon {
  float: right;
}

.title {
  padding-bottom: 20px;
}

.change-password-main {
  width: 400px;
  margin-top: 15px;
}

.mat-form-field {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.password-button {
    float: right;
}

.message {
  color: red;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}
