<div class="change-password-main">  
  <div>
      <form [formGroup]="this.form" (ngSubmit)="submit()">
          <div id="message" class="message" [hidden]=true>Данные введены неверно</div>
          <mat-form-field>
              <input type="text" matInput placeholder="Логин" formControlName="Username" maxlength="100">
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Секретный вопрос" formControlName="SecretQuestion">
                  <mat-option *ngFor="let item of quest" [value]="item.value">
                      {{item.text}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input type="text" placeholder="Ответ на секретный вопрос" matInput formControlName="SecretAnswer" maxlength="100">
          </mat-form-field>
          <button class="password-button" mat-raised-button (click)="this.verify()" [disabled]='this.form.invalid'>Сбросить</button>
          <button class="cancel-button" mat-raised-button (click)="this.cancel()">Отмена</button>
      </form>
  </div>
</div>
