.close-icon {
  float: right;
}

.title {
  padding-bottom: 20px;
}

.change-password-main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.password-button {
    float: right;
    margin-left: 10px;
}

.cancel-button {
  float: right;
  margin-left: 10px;
}

.message {
  color: red;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
}


