<div class="change-password-main">
  <div class="container">
    <table>
      <td class="col-first">
        <mat-select
          class="mselect"
          (selectionChange)="onValueChange($event)"
          [value]="locale"
        >
          <mat-option *ngFor="let locale of locales" [value]="locale">
            {{ locale.name }}
          </mat-option>
        </mat-select>
        <div class="cat">
          <img
            id="mascot-body"
            src="./../../../assets/images/mascot-body.svg"
          />
          <img
            id="mascot-tail"
            src="./../../../assets/images/mascot-tail.svg"
          />
        </div>
        <br />
        <img class="logo" src="./../../../assets/images/logo.png" />
        <p>Care about the students</p>
        <h1>
          {{ "text.start.title" | translate: "Адаптивная обучающая система" }}
        </h1>
        <a mat-fab (click)="open()">
          <mat-icon class="icon_p">play_arrow</mat-icon>
        </a>
        <div class="btn_back" title="Нажмите,чтобы вернуться назад">
          <button mat-raised-button color="basic" (click)="routeToLogin()">
            {{ "general.back" | translate: "Назад" }}
          </button>
        </div>
      </td>
      <td class="col-second">
        <div class="inner-container">
          <form [formGroup]="this.form" (ngSubmit)="submit()">
            <h1 class="title">
              {{
                "text.changePassword.resetPassword"
                  | translate: "Сбросить пароль"
              }}
            </h1>

            <div id="secretQuestionIsInvalid" class="message" [hidden]="true">
              {{
                "text.changePassword.invalidData"
                  | translate: "Данные введены неверно"
              }}
            </div>
            <div id="secretQuestionIsUndefined" class="message" [hidden]="true">
              {{
                "text.changePassword.questionIsUndefined"
                  | translate: "Возможность сброса пароля недоступна"
              }}
            </div>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="{{
                  'text.changePassword.login' | translate: 'Логин'
                }}"
                formControlName="Username"
                maxlength="30"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-select
                placeholder="{{
                  'text.changePassword.secretQuestion'
                    | translate: 'Секретный вопрос'
                }}"
                formControlName="SecretQuestion"
              >
                <mat-option *ngFor="let item of quest" [value]="item.value">
                  {{ item.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                type="text"
                placeholder="{{
                  'text.changePassword.answerOnSecretQuestion'
                    | translate: 'Ответ на секретный вопрос'
                }}"
                matInput
                formControlName="SecretAnswer"
                (input)="deleteSpaces()"
                maxlength="100"
              />
            </mat-form-field>
            <button
              class="password-button"
              mat-raised-button
              (click)="this.verify()"
              [disabled]="this.form.invalid"
            >
              {{ "text.changePassword.reset" | translate: "Сбросить" }}
            </button>
            <button
              class="cancel-button"
              color="basic"
              mat-raised-button
              (click)="this.cancel()"
            >
              {{ "text.changePassword.cancel" | translate: "Отмена" }}
            </button>
          </form>
        </div>
      </td>
    </table>
  </div>
</div>
