.subject-lector {

  &__action {
    width: 100%;
  }

  &__table-title {
    font-size: 16px;
    margin: 25px 0 0 0;
  }

  &__table-action {
    display: flex;
    justify-content: flex-end;
  }
}
.example-container {
  max-height: 300px;
  overflow: auto;
}
.mat-dialog {
  &-actions {
    justify-content: flex-end;
  }
}
.mdc-data-table {
  width: 100%;
  &__table {
    overflow: hidden;
  }
  &__row{
    height: 45px;
  }
}
.mat-form-field{
  width: 100%;
}
.mat-elevation-z8 {
  box-shadow: none;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 7px;
}

.title-subject {
  display: block;
  font-size: 14px;
  color: #808080;
  line-height: 1;
}