<div class="confirmation">
  <mat-form-field *ngIf="groups">
    <mat-select [value]="groups[0]?.id" (selectionChange)="onGroupValueChange($event.source.value)">
      <mat-option *ngFor="let group of groups" [value]="group.id">
        {{group.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Поиск студентов</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td class="confirmation-number" mat-cell *matCellDef="let index = index"> {{index+1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Студент</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Подтвердить/Открепить</th>
      <td class="confirmation-action" mat-cell *matCellDef="let element">
        <mat-icon (click)="close(element)" *ngIf="element.confirmed" matTooltip="Закрыть доступ"
                  matTooltipClass="example-tooltip-blue">done
        </mat-icon>
        <mat-icon (click)="open(element)" *ngIf="!element.confirmed" matTooltip="Открыть доступ"
                  matTooltipClass="example-tooltip-blue">clear
        </mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
