<div *ngIf="courseUser; else load" class="task-sheet__header">
  <mat-form-field class="task-sheet__header__theme">
    <mat-label>{{'text.course.list.select' | translate : 'Выберите тему курсового проекта'}}</mat-label>
    <mat-select panelClass="theme-panel" [(value)]="courseProjectId" (selectionChange)="onThemeChange($event.value)">
      <mat-option *ngFor="let theme of themes" [value]="theme.Id">
        {{theme.Theme}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="task-sheet__header__actions">
    <button mat-icon-button color="primary" matTooltip="{{'text.download.project.list' | translate : 'Скачать лист задания'}}"
            *ngIf="courseProjectId != null" (click)="downloadTaskSheet()">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="{{'text.course.list.edit' | translate : 'Редактировать'}}"
            (click)="editTaskSheet()" *ngIf="courseUser.IsLecturer && courseProjectId != null">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
<div id="task-sheet" class="task-sheet__body"></div>
<div class="spinner" *ngIf="taskSheetHtml == null">
  <mat-spinner></mat-spinner>
</div>
