<app-popover-dialog clacc="app">
  <ng-container title>
    {{ 'complex.delete.title' | translate: 'Удаление компонента' }}
  </ng-container>
  <ng-container body>
    <div class="confirmation-text">
      {{
        'complex.want.to.delete.test'
          | translate: 'Вы действительно хотите удалить компонент?'
      }}
    </div>
  </ng-container>
  <ng-container actions>
    <button mat-raised-button (click)="onNoClick()">
      {{ 'common.cancel' | translate: 'Отмена' }}
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      {{ 'common.complex.yes' | translate: 'Да' }}
    </button>
  </ng-container>
</app-popover-dialog>
