.container {
    display: flex;
    justify-content: space-between;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.close-icon {
  float: right;
}

.title {
  font-size: 24px;
}

table {
    border: 1px solid lavender;
    width: 100%;
}

th {
    width: 100px;
}

.lector-info {
    text-align: center;
    padding: 10px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.list-of-groups {
  max-height: 400px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}
